*.swp
*.pyc
*.edj
editje-*.tar.*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
data/Makefile
data/Makefile.in
data/themes/Makefile
data/themes/Makefile.in
data/themes/default/Makefile
data/themes/default/Makefile.in
data/themes/default/elm_images/Makefile
data/themes/default/elm_images/Makefile.in
data/themes/default/images/Makefile
data/themes/default/images/Makefile.in
data/themes/default/test_images/
editje/Makefile
editje/Makefile.in
editje/sysconfig.py
install-sh
INSTALL
missing
py-compile
stamp-h1
test/Makefile
test/Makefile.in

