[Desktop Entry]
Type=Link
Name=Wlan
Name[eo]=Sendrata loka reto
Icon=e-module-wlan
Comment=<hilight>WLan Gadget</hilight><br><br>Gadget to monitor a wlan device.
Comment[eo]=<hilight>Modulo de sendrata loka reto</hilight><br><br>Elrigardi aparaton de sendrata loka reto.
Comment[hu]=<hilight>Wlan modul</hilight><br><br>Modul a wlan monitorozásához.
Comment[it]=<hilight>Modulo WLan</hilight><br><br>Modulo per il monitoraggio di un dispositivo di rete wireless.
