[Desktop Entry]
Type=Link
Name=Wlan
Name[eo]=Sendrata loka reto
Icon=e-module-wlan
Comment=<title>WLan Gadget</title>Gadget to monitor a wlan device.
Comment[eo]=<title>Modulo de sendrata loka reto</title>Elrigardi aparaton de sendrata loka reto.
Comment[hu]=<title>Wlan modul</title>Modul a wlan monitorozásához.
Comment[it]=<title>Modulo WLan</title>Modulo per il monitoraggio di un dispositivo di rete wireless.
