Source: elicit
Section: x11
Priority: optional
Maintainer: Blake Barnett <shadoi@soulmachine.net>
Build-Depends: debhelper (>> 3.0.0), automake1.7 | automaken, libecore-dev, libedje-dev, libesmart-dev, libimlib2-dev
Standards-Version: 3.5.7.0

Package: elicit
Section: x11
Architecture: any
Depends: ${shlibs:Depends}
Description: Elicit is a screen zoomer / color picker written with
 the Enlightenment Foundation Libraries (http://www.enlightnement.org).
