*.o
*.swp
*.swo
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/fonts/Makefile
data/fonts/Makefile.in
data/themes/Makefile
data/themes/Makefile.in
data/themes/default.edj
data/themes/images/Makefile
data/themes/images/Makefile.in
demo/Makefile
demo/Makefile.in
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/Makefile
src/bin/Makefile.in
src/bin/exquisite
src/bin/exquisite-write
stamp-h1
compile
exquisite.pc
src/bin/.libs/
src/lib/.deps/
src/lib/.libs/
src/lib/libexquisite.la
src/lib/libexquisite_la-exquisite.lo
