body          { margin-left:10px;
		margin-right:10px;
		margin-top:10px;
		margin-bottom:10px;
		color:#0000a0;
		font-size:12pt;
                background-repeat:no-repeat;
              }

td.title      {
		background-color:#a0a0a0;
		color:#202020;
              }

td.subtitle   {
		background-color:#c0c0c0;
		color:#404040;
              }

td.val        {
		background-color:#d0d0d0;
		color:#505050;
              }

h1            {
		color:#0000a0;
		font-size:14pt;
		align:middle;
              }

p             {
		color:#0000d0;
		font-size:12pt;
		align:middle;
              }