/*
Syntax error: File to import not found or unreadable: ../../shared/horizontal-menu.scss.
              Load paths:
                targets/website
                .
        on line 4 of targets/website/alternative.scss

1: @import "../../shared/reset.scss";
2: @import "../../shared/grid.scss";
3: @import "../../shared/type.scss";
4: @import "../../shared/horizontal-menu.scss";
5: @import "../../shared/colors.scss";
6: 
7: $menu-height:         $line * 3;
8: $menu-option-height:  $line * 3;
9: $submenu-height:      $line * 2;

Backtrace:
targets/website/alternative.scss:4
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/import_node.rb:98:in `rescue in import'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/import_node.rb:96:in `import'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/import_node.rb:28:in `full_filename'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/import_node.rb:63:in `_perform'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/node.rb:209:in `perform'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/root_node.rb:37:in `perform'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/node.rb:322:in `block in perform_children'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/node.rb:322:in `map'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/node.rb:322:in `perform_children'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/node.rb:313:in `perform!'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/root_node.rb:59:in `perform!'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/node.rb:301:in `_perform'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/node.rb:209:in `perform'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/root_node.rb:37:in `perform'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/tree/root_node.rb:29:in `render'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/plugin.rb:220:in `update_stylesheet'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/plugin.rb:85:in `block (2 levels) in update_stylesheets'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/plugin.rb:78:in `each'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/plugin.rb:78:in `block in update_stylesheets'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/plugin.rb:76:in `each'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/plugin.rb:76:in `update_stylesheets'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/plugin.rb:171:in `block (4 levels) in watch'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/path.rb:71:in `call'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/path.rb:34:in `update'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/state/directory.rb:32:in `block in modified'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/vendor/fssm/lib/fssm.rb:17:in `monitor'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/sass/plugin.rb:164:in `watch'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/haml/exec.rb:437:in `watch_or_update'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/haml/exec.rb:349:in `process_result'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/haml/exec.rb:41:in `parse'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/lib/haml/exec.rb:21:in `parse!'
/home/andres/.gem/ruby/1.9.1/gems/haml-3.0.15/bin/sass:8:in `<top (required)>'
/home/andres/.gem/ruby/1.9.1/bin/sass:19:in `load'
/home/andres/.gem/ruby/1.9.1/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: ../../shared/horizontal-menu.scss.\A               Load paths:\A                 targets/website\A                 .\A         on line 4 of targets/website/alternative.scss\A \A 1: @import \"../../shared/reset.scss\";\A 2: @import \"../../shared/grid.scss\";\A 3: @import \"../../shared/type.scss\";\A 4: @import \"../../shared/horizontal-menu.scss\";\A 5: @import \"../../shared/colors.scss\";\A 6: \A 7: $menu-height:         $line * 3;\A 8: $menu-option-height:  $line * 3;\A 9: $submenu-height:      $line * 2;"; }
