#header { /*  CSS Reset */ /*  http://meyerweb.com/eric/tools/css/reset/ */ /*  v1.0 | 20080212 */ /* remember to define focus styles! */ /* remember to highlight inserts somehow! */ /* tables still need 'cellspacing="0"' in the markup */ }
#header html, #header body, #header div, #header span, #header applet, #header object, #header iframe, #header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header p, #header blockquote, #header pre, #header a, #header abbr, #header acronym, #header address, #header big, #header cite, #header code, #header del, #header dfn, #header em, #header font, #header img, #header ins, #header kbd, #header q, #header s, #header samp, #header small, #header strike, #header strong, #header sub, #header sup, #header tt, #header var, #header b, #header u, #header i, #header center, #header dl, #header dt, #header dd, #header ol, #header ul, #header li, #header fieldset, #header form, #header label, #header legend, #header table, #header caption, #header tbody, #header tfoot, #header thead, #header tr, #header th, #header td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
#header body { line-height: 1; }
#header ol, #header ul { list-style: none; }
#header blockquote, #header q { quotes: none; }
#header blockquote:before, #header blockquote:after, #header q:before, #header q:after { content: ''; content: none; }
#header :focus { outline: 0; }
#header ins { text-decoration: none; }
#header del { text-decoration: line-through; }
#header table { border-collapse: collapse; border-spacing: 0; }
#header .layout { margin: 0 auto; }
#header ul.menu { text-align: right; list-style: none inside none; white-space: nowrap; letter-spacing: -5px; }
#header ul.menu li { display: inline-block; letter-spacing: normal; }
#header ul.menu li a { display: inline-block; vertical-align: top; text-align: center; }
#header ul.menu li a span { display: inline-block; height: 54px; line-height: 52px; text-transform: uppercase; font-size: 13px; color: #333333; margin: 0 8px; word-spacing: -0.1em; }
#header ul.menu li a:hover { background: #ccc; }
#header ul.menu li.current { position: relative; z-index: 1; margin: 0 -8px; }
#header ul.menu li.current a { background: black; }
#header ul.menu li.current a span { color: white; width: 104px; }
#header ul.menu li.current a:hover { background: black; }
#header ul.menu li.index { float: left; height: 72px; margin: 0; }
#header ul.menu li.index a { height: 72px; }
#header ul.menu li.index a span { width: 120px !important; height: 72px; line-height: 72px; color: white; background-color: black; margin: 0; }
#header ul.submenu { text-align: right; list-style: none inside none; white-space: nowrap; letter-spacing: -5px; }
#header ul.submenu li { display: inline-block; letter-spacing: normal; }
#header ul.submenu li a { display: inline-block; vertical-align: top; text-align: center; }
#header ul.submenu li { margin-left: 16px; }
#header ul.submenu li a span { line-height: 36px; text-transform: capitalize; font-size: 11px; color: #333333; }
#header div.menu { height: 54px; }
#header div.submenu { height: 36px; margin-bottom: 36px; }

/* ******************* Changes to the Original Stylesheet ****************** */
body { background: #f3f3f3; }

#content { margin: 0 -8px; }

.layout { margin: 0 auto; /*     min-width: $page; */ width: 90%; width: 996px; }

table.main h1, td.main { margin-top: 0; padding-top: 0; }

p { color: #333333; }
