#header { /*  CSS Reset */ /*  http://meyerweb.com/eric/tools/css/reset/ */ /*  v1.0 | 20080212 */ /* remember to define focus styles! */ /* remember to highlight inserts somehow! */ /* tables still need 'cellspacing="0"' in the markup */ height: 90px; }
#header html, #header body, #header div, #header span, #header applet, #header object, #header iframe, #header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header p, #header blockquote, #header pre, #header a, #header abbr, #header acronym, #header address, #header big, #header cite, #header code, #header del, #header dfn, #header em, #header font, #header img, #header ins, #header kbd, #header q, #header s, #header samp, #header small, #header strike, #header strong, #header sub, #header sup, #header tt, #header var, #header b, #header u, #header i, #header center, #header dl, #header dt, #header dd, #header ol, #header ul, #header li, #header fieldset, #header form, #header label, #header legend, #header table, #header caption, #header tbody, #header tfoot, #header thead, #header tr, #header th, #header td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
#header body { line-height: 1; }
#header ol, #header ul { list-style: none; }
#header blockquote, #header q { quotes: none; }
#header blockquote:before, #header blockquote:after, #header q:before, #header q:after { content: ''; content: none; }
#header :focus { outline: 0; }
#header ins { text-decoration: none; }
#header del { text-decoration: line-through; }
#header table { border-collapse: collapse; border-spacing: 0; }
#header .layout { margin: 0 auto; }
#header ul.menu { text-align: right; list-style: none inside none; white-space: nowrap; letter-spacing: -5px; }
#header ul.menu li { display: inline-block; letter-spacing: normal; }
#header ul.menu li a { display: inline-block; vertical-align: top; text-align: center; }
#header ul.menu li { margin-left: 16px; }
#header ul.menu a { text-decoration: none; }
#header ul.menu span { display: inline-block; height: 54px; line-height: 54px; color: #444444; font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif; font-size: 12px; letter-spacing: -1px; text-transform: uppercase; }
#header ul.menu li.index { float: left; position: relative; margin-left: 0; }
#header ul.menu li.index span { background: black; height: 72px; line-height: 72px; width: 110px; color: #f3f3f3; }
#header ul.submenu { text-align: right; list-style: none inside none; white-space: nowrap; letter-spacing: -5px; }
#header ul.submenu li { display: inline-block; letter-spacing: normal; }
#header ul.submenu li a { display: inline-block; vertical-align: top; text-align: center; }
#header ul.submenu li { margin-left: 16px; }
#header ul.submenu a { text-decoration: none; }
#header ul.submenu span { line-height: 36px; color: #444444; font-size: 11px; text-transform: capitalize; }

/* ******************* Changes to the Original Stylesheet ****************** */
body { background: #f3f3f3; }

#content { margin: 0 -8px; }

#middle { margin-top: 18px; }

.layout { margin: 0 auto; width: 90%; }

table.main h1, td.main { margin-top: 0; padding-top: 0; }

p { color: #444444; }
