Source: enhance
Section: libs
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 6), libexml0, libetk-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: libenhance0
Architecture: any
Depends: ${shlibs:Depends}
Provides: libenhance
Description: Library for easy application GUI development
 After using Glade to design a GUI, you can save generate
 the .glade XML file that describes the interface design
 and use it in Enhance to generate an Etk equivalent.
 Enhance works at runtime, ie, it does not generate C code.
 It will parse the XML at application launch and will do
 the appropriate work to create the GUI and the required
 callbacks for you. There are several examples in the
 examples directory for you to take a look at.

Package: libenhance-dev
Architecture: any
Section: libdevel
Depends: libetk-dev, libexml-dev, libenhance0 (= ${Source-Version})
Provides: libenhance0-dev
Description: Headers for libenhance0
 After using Glade to design a GUI, you can save generate
 the .glade XML file that describes the interface design
 and use it in Enhance to generate an Etk equivalent.
 Enhance works at runtime, ie, it does not generate C code.
 It will parse the XML at application launch and will do
 the appropriate work to create the GUI and the required
 callbacks for you. There are several examples in the
 examples directory for you to take a look at.
 This package contains the development files.
