Source: engrave
Section: libs
Priority: optional
Maintainer: Blake Barnett <shadoi@soulmachine.net>
Build-Depends: debhelper (>> 3.0.0), byacc, flex, automake1.7 | automaken, libtool, libecore0-dev, libevas0-dev, libeet0-dev
Standards-Version: 3.5.7.0

Package: libengrave0-dev
Section: devel
Architecture: any
Depends: libecore0-dev, libevas0-dev, libeet0-dev
Provides: libengrave-dev
Conflicts: libengrave-dev
Description: Enlightenment edje EDC parsing library development files
 This package contains headers and static libraries for development with
 libengrave.

Package: libengrave0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Enlightenment edje EDC parsing library API
 Engrave is a library for loading, and writing EDC files.
