*.o
*.swp
*.swo
*~
ecorexx/Makefile
ecorexx/Makefile.in
ecorexx/aclocal.m4
ecorexx/autom4te.cache/
ecorexx/config.guess
ecorexx/config.h
ecorexx/config.h.in
ecorexx/config.log
ecorexx/config.status
ecorexx/config.sub
ecorexx/configure
ecorexx/depcomp
ecorexx/ecorexx-uninstalled.pc
ecorexx/ecorexx.pc
ecorexx/include/Makefile
ecorexx/include/Makefile.in
ecorexx/include/ecorexx/Makefile
ecorexx/include/ecorexx/Makefile.in
ecorexx/install-sh
ecorexx/libtool
ecorexx/ltmain.sh
ecorexx/m4/
ecorexx/missing
ecorexx/src/.deps/
ecorexx/src/.libs/
ecorexx/src/Animator.lo
ecorexx/src/Application.lo
ecorexx/src/EvasWindow.lo
ecorexx/src/EvasWindowFB.lo
ecorexx/src/EvasWindowGLX11.lo
ecorexx/src/EvasWindowSoftwareX11.lo
ecorexx/src/EvasWindowXRenderX11.lo
ecorexx/src/Job.lo
ecorexx/src/Makefile
ecorexx/src/Makefile.in
ecorexx/src/Timer.lo
ecorexx/src/XWindow.lo
ecorexx/src/libecorexx.la
ecorexx/stamp-h1
edjexx/Makefile
edjexx/Makefile.in
edjexx/aclocal.m4
edjexx/autom4te.cache/
edjexx/config.guess
edjexx/config.h
edjexx/config.h.in
edjexx/config.log
edjexx/config.status
edjexx/config.sub
edjexx/configure
edjexx/depcomp
edjexx/edjexx-uninstalled.pc
edjexx/edjexx.pc
edjexx/include/Makefile
edjexx/include/Makefile.in
edjexx/include/edjexx/Makefile
edjexx/include/edjexx/Makefile.in
edjexx/install-sh
edjexx/libtool
edjexx/ltmain.sh
edjexx/m4/
edjexx/missing
edjexx/src/.deps/
edjexx/src/.libs/
edjexx/src/Base.lo
edjexx/src/Edit.lo
edjexx/src/Exceptions.lo
edjexx/src/ExternalParam.lo
edjexx/src/GradientStateEdit.lo
edjexx/src/ImageStateEdit.lo
edjexx/src/Makefile
edjexx/src/Makefile.in
edjexx/src/Object.lo
edjexx/src/Part.lo
edjexx/src/PartEdit.lo
edjexx/src/StateEdit.lo
edjexx/src/TextStateEdit.lo
edjexx/src/libedjexx.la
edjexx/stamp-h1
eflxx/Makefile
eflxx/Makefile.in
eflxx/aclocal.m4
eflxx/autom4te.cache/
eflxx/config.guess
eflxx/config.h
eflxx/config.h.in
eflxx/config.log
eflxx/config.status
eflxx/config.sub
eflxx/configure
eflxx/depcomp
eflxx/eflxx-uninstalled.pc
eflxx/eflxx.pc
eflxx/include/Makefile
eflxx/include/Makefile.in
eflxx/include/eflxx/Makefile
eflxx/include/eflxx/Makefile.in
eflxx/install-sh
eflxx/libtool
eflxx/ltmain.sh
eflxx/m4/
eflxx/missing
eflxx/src/.deps/
eflxx/src/.libs/
eflxx/src/Debug.lo
eflxx/src/Makefile
eflxx/src/Makefile.in
eflxx/src/libeflxx.la
eflxx/stamp-h1
einaxx/Makefile
einaxx/Makefile.in
einaxx/aclocal.m4
einaxx/autom4te.cache/
einaxx/config.guess
einaxx/config.h
einaxx/config.h.in
einaxx/config.log
einaxx/config.status
einaxx/config.sub
einaxx/configure
einaxx/depcomp
einaxx/einaxx-uninstalled.pc
einaxx/einaxx.pc
einaxx/include/Makefile
einaxx/include/Makefile.in
einaxx/include/einaxx/Makefile
einaxx/include/einaxx/Makefile.in
einaxx/install-sh
einaxx/libtool
einaxx/ltmain.sh
einaxx/m4/
einaxx/missing
einaxx/src/.deps/
einaxx/src/.libs/
einaxx/src/Application.lo
einaxx/src/Makefile
einaxx/src/Makefile.in
einaxx/src/libeinaxx.la
einaxx/stamp-h1
elementaryxx/Makefile
elementaryxx/Makefile.in
elementaryxx/aclocal.m4
elementaryxx/autom4te.cache/
elementaryxx/config.guess
elementaryxx/config.h
elementaryxx/config.h.in
elementaryxx/config.log
elementaryxx/config.status
elementaryxx/config.sub
elementaryxx/configure
elementaryxx/depcomp
elementaryxx/elementaryxx-uninstalled.pc
elementaryxx/elementaryxx.pc
elementaryxx/include/Makefile
elementaryxx/include/Makefile.in
elementaryxx/include/elementaryxx/Makefile
elementaryxx/include/elementaryxx/Makefile.in
elementaryxx/install-sh
elementaryxx/libtool
elementaryxx/ltmain.sh
elementaryxx/m4/
elementaryxx/missing
elementaryxx/src/.deps/
elementaryxx/src/.libs/
elementaryxx/src/Anchorblock.lo
elementaryxx/src/Anchorview.lo
elementaryxx/src/Application.lo
elementaryxx/src/Background.lo
elementaryxx/src/Box.lo
elementaryxx/src/Bubble.lo
elementaryxx/src/Button.lo
elementaryxx/src/Check.lo
elementaryxx/src/Clock.lo
elementaryxx/src/Entry.lo
elementaryxx/src/Frame.lo
elementaryxx/src/Gen.lo
elementaryxx/src/GenDataModel.lo
elementaryxx/src/GenItem.lo
elementaryxx/src/GenList.lo
elementaryxx/src/GenListColumnConstructor.lo
elementaryxx/src/GenListColumnSelector.lo
elementaryxx/src/GenListItem.lo
elementaryxx/src/Hover.lo
elementaryxx/src/Icon.lo
elementaryxx/src/Image.lo
elementaryxx/src/Label.lo
elementaryxx/src/Layout.lo
elementaryxx/src/List.lo
elementaryxx/src/ListItem.lo
elementaryxx/src/Makefile
elementaryxx/src/Makefile.in
elementaryxx/src/Object.lo
elementaryxx/src/Panel.lo
elementaryxx/src/Progressbar.lo
elementaryxx/src/Radio.lo
elementaryxx/src/Scroller.lo
elementaryxx/src/Separator.lo
elementaryxx/src/Slider.lo
elementaryxx/src/Spinner.lo
elementaryxx/src/Table.lo
elementaryxx/src/Toggle.lo
elementaryxx/src/Window.lo
elementaryxx/src/libelementaryxx.la
elementaryxx/src/localUtil.lo
elementaryxx/stamp-h1
evasxx/Makefile
evasxx/Makefile.in
evasxx/TODO
evasxx/aclocal.m4
evasxx/autom4te.cache/
evasxx/config.guess
evasxx/config.h
evasxx/config.h.in
evasxx/config.log
evasxx/config.status
evasxx/config.sub
evasxx/configure
evasxx/depcomp
evasxx/evasxx-uninstalled.pc
evasxx/evasxx.pc
evasxx/include/Makefile
evasxx/include/Makefile.in
evasxx/include/evasxx/Makefile
evasxx/include/evasxx/Makefile.in
evasxx/install-sh
evasxx/libtool
evasxx/ltmain.sh
evasxx/m4/
evasxx/missing
evasxx/src/.deps/
evasxx/src/.libs/
evasxx/src/Canvas.lo
evasxx/src/Exceptions.lo
evasxx/src/Image.lo
evasxx/src/Line.lo
evasxx/src/Makefile
evasxx/src/Makefile.in
evasxx/src/Object.lo
evasxx/src/Polygon.lo
evasxx/src/Rectangle.lo
evasxx/src/Smart.lo
evasxx/src/Text.lo
evasxx/src/Textblock.lo
evasxx/src/TextblockStyle.lo
evasxx/src/libevasxx.la
evasxx/stamp-h1

