[Desktop Entry]
Type=Link
Name=Slideshow
Name[eo]=Bildoprezentado
Name[hu]=Diavetítés
Icon=e-module-slideshow
Comment=<title>Slideshow Module</title><br>Turns your desktop background into a slideshow.
Comment[eo]=<title>Modulo de bildoprezentado</title><br>Aliformi la labortablan tapeton en bildoprezentado.
Comment[hu]=<title>Diavetítés modul</title><br>A munkaasztal háttérképeit váltogatja, megadott időközönként, mint egy diavetítő.
Comment[it]=<title>Modulo Slideshow</title><br>Trasforma lo sfondo del vostro desktop in uno slideshow.
