[Desktop Entry]
Type=Link
Name=Slideshow
Name[eo]=Bildoprezentado
Name[hu]=Diavetítés
Name[fr]=Diaporama
Name[el]=Προβολή Σλάιντ
Icon=e-module-slideshow
Comment=<title>Slideshow Module</title><br>Turns your desktop background into a slideshow.
Comment[cs]=<title>Slideshow modul</title><br>Přemění pozadí plochy na slideshow.
Comment[eo]=<title>Modulo de bildoprezentado</title><br>Aliformi la labortablan tapeton en bildoprezentado.
Comment[hu]=<title>Diavetítés modul</title><br>A munkaasztal háttérképeit váltogatja, megadott időközönként, mint egy diavetítő.
Comment[it]=<title>Modulo Slideshow</title><br>Trasforma lo sfondo del vostro desktop in uno slideshow.
Comment[fr]=<title>Module Diaporama</title><br>Transforme votre fond d'écran en diaporama.
Comment[el]=<title>Άρθρωμα Προβολής Σλάιντ</title><br>Μετατρέπει την ταπετσαρία σας σε μια προβολή σλάιντ.
