#brochure-pages div, #wiki-pages div , #brochure-pages p, #wiki-pages p,
h1, h2, h3, h4, h5, h6
{
    padding: 1%;
    margin: 1%;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    color: black;
    text-decoration: none;
}

#brochure-pages, #wiki-pages
{
    width: 100%;
}

.section
{
    overflow: hidden;
    font-size: 12px;
}

.section .section {
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBB;
}

.section .section .section  {
    border: 0;
    background-color: #E6E6E6;
    width: 46%;
    float: left;
}

.section .section .section .section {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    background-color: #E6E6E6;
    width: 96%;
    float: none;
}