[Desktop Entry]
Type=Link
Name=Mail
Icon=e-module-mail
Comment=<hilight>Mail Gadget</hilight><br>Mail notification gadget. Checks<br>POP3, IMAP, maildir, and mbox<br>mailboxes.
Comment[it]=<hilight>Modulo Mail</hilight><br>Modulo per notificare l'arrivo di<br>posta. Controlla caselle POP3,<br>IMAP, maildir e mbox.
