[Desktop Entry]
Type=Link
Name=Penguins
Name[cs]=Tučňáci
Name[hu]=Pingvinek
Name[fr]=Pingouins
Name[el]=Πιγκουίνοι
Icon=e-module-penguins
X-Enlightenment-ModuleType=appearance
Comment=<title>Penguins Module</title><br>Module to display fancy penguins walking around your desktop.
Comment[cs]=<title>Modul Tučňáci</title><br>Zobrazí tučňáky chodící pod desktopu(jako xpenguins).
Comment[hu]=<title>Pingvinek modul</title><br>Ezzel a modullal az asztalunkra varázsolhatjuk a Pingvineket, vagy épp a Lemingeket :).
Comment[it]=<title>Modulo Penguins</title><br>Modulo per visualizzare simpatici pinguini che passeggiano attorno al vostro desktop.
Comment[fr]=<title>Module Pingouins</title><br>Affiche des pingouins sympas qui se baladent sur votre bureau.
Comment[el]=<title>Άρθρωμα Πιγκουίνων</title><br>Άρθρωμα που εμφανίζει όμορφους πιγκουίνους που περπατάνε στην επιφάνεια εργασίας σου.
