[Desktop Entry]
Type=Link
Name=Penguins
Name[hu]=Pingvinek
Icon=e-module-penguins
X-Enlightenment-ModuleType=appearance
Comment=<title>Penguins Module</title><br>Module to display fancy penguins walking around your desktop.
Comment[hu]=<title>Pingvinek modul</title><br>Ezzel a modullal az asztalunkra varázsolhatjuk a Pingvineket, vagy épp a Lemingeket :).
Comment[it]=<title>Modulo Penguins</title><br>Modulo per visualizzare simpatici pinguini che passeggiano attorno al vostro desktop.
