*.o
*~
*.swp
*.swo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
emap.pc
install-sh
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
src/lib/.deps/
src/lib/.libs/
src/lib/Makefile
src/lib/Makefile.in
src/lib/emap.lo
src/lib/libemap.la
src/lib/route.lo
src/lib/route_gpx.lo
src/lib/route_node.lo
stamp-h1
