body
{
    background-color: #444444;
}

a         { color: #273F60; }                                /* Color Scheme */
a:hover   { color: #768292; }                                /* Color Scheme */
a:visited { color: #923e3a; }                                /* Color Scheme */


/*  ******
    Header
    ******  */
#header
{
    height: 108px;
    background-image: url('../images/header_bg.png');
    background-repeat: repeat-x;
}

#header h1
{
    position: absolute;
    width: 44px;
    height: 54px;
    background-image: url('../images/menu_left.png');
    background-repeat: no-repeat;
}

#header h1:hover
{
    width: 107px;
    background-image: url('../images/menu_left_hover.png');
}

#header h1 a
{
    display: block;
    width: 114px;
    height: 100%;
}

#header h1 a span
{
    display: none;
}

#header h2
{
    display: none;
}

#header .menu
{
    height: 54px;
    background-image: url("../images/menu_bg.png");
    background-repeat: repeat-x;
}

#header .menu ul
{
    display: block;
    height: 100%;
    margin: 0;
    margin-right: 80px;
    padding-right: 2px;
    background-image: url("../images/option_normal.png");
    background-position: top right;
    background-repeat: no-repeat;
}

#header .menu ul li
{
    display: block;
    float: right;
    width: 160px;
}

#header .menu ul li a
{
    display: block;
    width: 100%; /* IE6 */
    line-height: 54px;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    color: #bfbfbf;
    background-image: url("../images/option_normal.png");
    background-repeat: no-repeat;
}

#header .menu ul li a:hover
{
    color: #ffffff;
    background-image: url("../images/option_hover.png");
}

#header .menu ul li.current a
{
    color: #5e656e;                                          /* Color Scheme */
    font-weight: normal;
    background-image: url("../images/option_current.png");
    background-repeat: repeat-x;
}

#header .menu ul li.current a:hover
{
    color: #000000;
    background-image: url("../images/option_current.png"); /* IE6 */
    background-repeat: repeat-x; /* IE6 */
}


/*  ******
    Footer
    ******  */
#footer
{
    min-height: 72px;
    background-color: #000000;
    background-image: url("../images/footer_bg.png");
    background-repeat: repeat-x;
}

#footer #copyright
{
    color: #ccd8e8;                                          /* Color Scheme */
    line-height: 36px;
    margin-top: 18px;
}

#footer ul
{
    margin: 0;
}

#footer ul li
{
    display: inline;
}

#footer ul li a
{
    margin-top: 18px;
    display: block;
    float: right;
    padding-left: 17px;
    padding-right: 17px;
    color: #dae0e8;                                          /* Color Scheme */
    line-height: 36px;
    text-decoration: none;
}

#footer ul li a:hover
{
    background-color: #5e656e;                               /* Color Scheme */
    color: white;
}