/* ***************
   Primary Content
   *************** */
#primary-content
{
    background-color: #fff;
}

#primary-content h2
{
    position: relative;
    width: 48ex; /* ex is a more accurate than em IMO */
    top:           -38px;
    margin-bottom: -38px;
    padding-top:    38px;
    /*     margin-bottom: 54px; */
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/arrow_down.png');
    background-repeat: no-repeat;
    background-position: 5.5ex 0;
}

#primary-content h2 span.e
{
    font-weight: bold;
}

#content-developers h3,
#content-artists h3
{ }

#content-developers ul,
#content-artists ul
{
    list-style: none;
    margin-left: 0;
}

#content-developers ul li,
#content-artists ul li
{
    min-height: 36px;
    margin-bottom: 18px;
}

/* *****************
   Secondary Content
   ***************** */

#secondary-content
{
    background-color: #efefef;
    background-image: url('../images/home/secondary-content_bg.png');
    background-position: bottom left;
    background-repeat: repeat-x;
}

#secondary-content .news-summary
{
   margin-bottom: 18px;
   color: #000000;
}

#secondary-content .news-summary h4
{
   font-size: 1em;
   line-height: 18px;
   margin-bottom: 0;
}

#secondary-content .news-summary p
{
    margin-bottom: 0;
}