Source: emodules
Section: x11
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 6), e17-dev | ecomorph-e17-dev, libexml1-dev, libxkbfile-dev, libxslt-dev, libxcomposite-dev, libxdamage-dev, libxrender-dev, emprint, libedbus-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: emodule-alarm
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-alarm
Description: The E17 Alarm Module
 A module to set Alarms in Enlightenment 17.

Package: emodule-bling
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-bling
Description: An E17 module providing a Composite Manager
 An E17 module which acts as a Composite Manager.

Package: emodule-calendar
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-calendar
Description: E17 calendar module
 An E17 module which displays a calendar on the desktop.
 
Package: emodule-cpu
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-cpu
Description: E17 monitor module for the CPU load
 An E17 module which displays the current CPU load. Features are:
 - draw a graph and/or draw the decimal load percentage
 - adjust the check interval.
 
Package: emodule-deskshow
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-deskshow
Description: E17 module which minimizes all windows
 An E17 module which minimizes all windows in order to show the
 desktop.

Package: emodule-diskio
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-diskio
Description: E17 module for visualizing disk i/o
 Visualize your disk I/O.
 
Package: emodule-drawer
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-drawer
Description: A drawer module
 A drawer module, which is/will be able to present different types of information
 
Package: emodule-efm-nav
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-efm-nav
Description: E17 file manager navigation module
 An E17 module which allows the user to navigate through the file manager
 history.

Package: emodule-efm-path
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-efm-path
Description: E17 file manager path module
 An E17 module which allows for displaying and editing the path in the
 file manager.

Package: emodule-emu
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-emu
Description: An E17 module front end
 An E17 module which works as a front end that runs arbitrary back
 ends written in any language.  Emu provides a high level interface
 to some of the things that modules typically do.  The backends can
 be written by anybody in any language.

Package: emodule-exalt
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999), exalt-daemon
Provides: emodule0-exalt, emodule0-exalt-client, emodule-exalt-client
Replaces: emodule-exalt-client
Description: E17 network manager module
 The exalt-client provides a module frontend for exalt network manager.
 
Package: emodule-execwatch
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-execwatch
Description: E17 for monitoring frequent command results
 The execwatch module for E17 allows the user to monitor commands and adds
 an icon to the shelf. Whenever the exitcode or an expected string changes
 the icon changes as well.
 
Package: emodule-flame
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-flame
Description: An E17 module that draws flames on the desktop
 Flame is an E17 module which draws flames of configurable colors on
 the lower part of the screen.

Package: emodule-forecasts
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-forecasts
Description: An E17 module which displays weather forecasts
 Forecasts is an E17 module which displays the weather forecast.

Package: emodule-iiirk
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-iiirk
Description: An E17 taskbar module
 The Iiirk module acts like a taskbar for selected applications only. The
 purpose of this is having a module behaving like a tray would dock some
 icons. Due to the status of the system tray specification this module
 doesn't rely on it, but instead on .desktop and netwm icons only.

Package: emodule-language
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999), libexml1
Provides: emodule0-language
Description: An E17 module that manages keyboard layouts and more
 This is an E17 module which allows to control the keyboard layout,
 keyboard model and keyboard layout variant.

Package: emodule-mail
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-mail
Description: An E17 module for checking mailboxes
 Mail is an E17 module which checks pop3, imap, mailbox and mdir mailboxes.
 
Package: emodule-mem
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-mem
Description: An E17 memory monitoring module
 An E17 module which monitors the RAM usage. It features the following:
 - display text and/or graph
 - display text in percentage or absolute
 - ignore/Count buffers
 - ignore/Count cached.
 
Package: emodule-moon
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-moon
Description: Moon Clock module for Enlightenment
 Moon is an E17 module which displays information about the current
 phase of the moon.
 
Package: emodule-mpdule
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-mpdule
Description: MPD module for Enlightenment
 An E17 module to show the MPD status in the shelf.
 
Package: emodule-net
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-net
Description: An E17 network interface monitor module
 An E17 module which monitors TX and RX events of a specified
 network device. Features are:
 - show text and/or graph
 - configure poll interval
 - choose device.
 
Package: emodule-news
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999), xdg-utils
Provides: emodule0-news
Description: The E17 new modules
 An E17 module to display feeds like Rss or Atom on the desktop.

Package: emodule-notification
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-notification
Description: E17 notification daemon
 An E17 module which provides a notification daemon for E17. It implements
 the galago specification.

Package: emodule-penguins
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-penguins
Description: The E17 penguins module
 An E17 module to display penguins on the desktop.
 
Package: emodule-photo
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-photo
Description: An E17 module for displaying pictures
 An E17 module which displays pictures in a slideshow.
 Some of the features are:
 - define mouse button to trigger action
 - actions such as set as background, show infos or open in a viewer.

Package: emodule-places
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-places
Description: A "Places" module for E17
 A module for managing volumes attached to the system.
 
Package: emodule-rain
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-rain
Description: An E17 module displaying rain on the desktop
 An E17 module which displays falling rainsdrops on the desktop.
 Features are:
 - display/hide clouds
 - set rain density.
 
Package: emodule-screenshot
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999), emprint
Provides: emodule0-screenshot
Description: An E17 screenshot module
 An E17 module which enables the user to take screenshots.
 
Package: emodule-slideshow
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-slideshow
Description: An E17 background cycle module
 An E17 module which changes the desktop background on a given
 interval. It cycles through all available background images.
 
Package: emodule-snow
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-snow
Description: An E17 module displaying rain on the desktop
 An E17 module which displays falling snow flakes on the desktop.
 Features are:
 - display/hide trees
 - set snow density.

Package: emodule-systray
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-systray
Description: E17 fdo system tray module
 System tray that hold applications icons like Skype, Pidgin, Kopete
 and others. Implemented following freedesktop.org standard.

Package: emodule-taskbar
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-taskbar
Description: An E17 taskbar module
 An E17 module acts as an extension of the default ibox module.

Package: emodule-tclock
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-tclock
Description: An E17 text clock module
 An E17 module which displays a digital clock on the desktop.

Package: emodule-tiling
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-tiling
Description: The E17 window tiling module
 An E17 module which tiles windows in a way they don't overlap.

Package: emodule-uptime
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-uptime
Description: An E17 uptime indicator module
 An E17 module indicating the system's current uptime in a configurable
 interval.
 
Package: emodule-weather
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-weather
Description: An E17 weather module
 An E17 module displaying the current weather conditions.
 Features are:
 - choose between simple and detailed view
 - specify poll time
 - display degree in Celsius or Fahrenheit
 - choose the weather station from a menu or via ICAO Code.
 
Package: emodule-winselector
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-winselector
Description: An E17 module providing menu-based access to all windows
 An E17 module which enables access to all windows through a shelf
 button.

Package: emodule-wlan
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Provides: emodule0-wlan
Description: An E17 WLAN monitor module
 An E17 module monitoring the link quality of a wireless network
 interface. Features are:
 - choose display as text and/or graph
 - specify the check interval.

Package: emodules-all
Architecture: any
Depends: e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999), emodule-alarm, emodule-bling, emodule-calendar, emodule-cpu, emodule-deskshow, emodule-diskio, emodule-drawer, emodule-efm-nav, emodule-efm-path, emodule-emu, emodule-exalt-client, emodule-execwatch, emodule-flame, emodule-forecasts, emodule-iiirk, emodule-language, emodule-mail, emodule-mem, emodule-moon, emodule-mpdule, emodule-net, emodule-news, emodule-notification, emodule-penguins, emodule-photo, emodule-places, emodule-rain, emodule-screenshot, emodule-slideshow, emodule-snow, emodule-systray, emodule-taskbar, emodule-tclock, emodule-tiling, emodule-uptime, emodule-weather, emodule-winselector, emodule-wlan
Provides: emodules0-all, e17-modules
Description: A dummy package for installing all modules for E17
 This package will install all available modules.
