Source: ebindings
Section: libs
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Build-Depends: debhelper (>= 3.0)
Standards-Version: 3.5.6.0

Package: ebindings
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: enlightenment 17 binding editor, probably
 A key binding editor for enlightenment 17... I guess.
