Source: elation
Section: x11
Priority: optional
Maintainer: Blake Barnett <shadoi@soulmachine.net>
Build-Depends: debhelper (>= 4.0.0)
Build-Depends: libeet-dev, libevas-dev, libimlib2-dev, libedje-dev, libesmart-dev, libemotion-dev, debhelper (>> 4.0.0)
Standards-Version: 3.6.1.0

Package: elation
Section: x11
Architecture: any
Depends: ${shlibs:Depends}
Description: An EFL based media framework application.
 This is a media player based on the Enlightenment Foundation Libraries.  
 It's design goal is to work as a front-end for media center devices.
