Source: evfs
Section: libs
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: automake1.7, libtool, autotools-dev, debhelper (>= 4.0.0), libsmbclient-dev, libxml2-dev, libecore-dev, libcurl3-dev, libbz2-dev, libeet-dev, libx11-dev, libxrender-dev, libssl-dev, libxcursor-dev, libxss-dev, libxinerama-dev, libxrandr-dev, libxp-dev, zlib1g-dev, libsqlite3-dev, libextractor-dev
Standards-Version: 3.6.2

Package: libevfs0
Architecture: any
Depends: ${shlibs:Depends}, libbz2-1.0, libxml2, libsmbclient, libecore, libevas, libcurl3, libxinerama1, libxrandr2, libxext6, libxss1, libxcursor1, libxp6, libx11-6, libsqlite3-0
Provides: libevfs
Section: libs
Description: enlightenment virtual filesystem library
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the library files.

Package: libevfs0-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, libevfs0, libsmbclient-dev, libxml2-dev, libecore-dev, libcurl3-dev, libbz2-dev, libeet-dev, libx11-dev, libxrender-dev, libssl-dev, libxcursor-dev, libxss-dev, libxinerama-dev, libxrandr-dev, libxp-dev, zlib1g-dev 
Provides: libevfs-dev
Description: enlightenment virtual filesystem header files
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains files needed for development.

Package: evfs0-bin
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore, libevfs0
Provides: evfs-bin
Description: enlightenment virtual filesystem tools
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains evfs tools.

Package: evfs0-debug
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore, libevfs0
Provides: evfs-debug
Description: enlightenment virtual filesystem debug tools
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains evfs debug tools.

Package: libevfs0-plugin-file-posix
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0, evfs0-bin
Provides: libevfs-plugin-file-posix
Description: enlightenment virtual filesystem POSIX plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the POSIX file plugin.

Package: libevfs0-plugin-file-samba
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libsmbclient, evfs0-bin, libevfs0
Provides: libevfs-plugin-file-samba
Description: enlightenment virtual filesystem Samba plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the Samba file plugin.

Package: libevfs0-plugin-file-tar
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0, evfs0-bin
Provides: libevfs-plugin-file-tar
Description: enlightenment virtual filesystem Tar plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the Tar file plugin.

Package: libevfs0-plugin-file-bzip2
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libbz2-1.0, libevfs0, evfs0-bin
Provides: libevfs-plugin-file-bzip2
Description: enlightenment virtual filesystem Bzip2 plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the Bzip2 file plugin.

Package: libevfs0-plugin-file-gzip
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, zlib1g, libevfs0, evfs0-bin
Provides: libevfs-plugin-file-gzip
Description: enlightenment virtual filesystem Gzip plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the Gzip file plugin.

Package: libevfs0-plugin-file-ftp
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libcurl3, libevfs0, evfs0-bin
Provides: libevfs-plugin-file-ftp
Description: enlightenment virtual filesystem FTP plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the FTP file plugin.

Package: libevfs0-plugin-file-sftp
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0, evfs0-bin
Provides: libevfs-plugin-file-sftp
Description: enlightenment virtual filesystem SFTP plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the SFTP file plugin.

Package: libevfs0-plugin-file-vfolder
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0, evfs0-bin
Provides: libevfs-plugin-file-vfolder
Description: enlightenment virtual filesystem vfolder plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the vfolder file plugin.

Package: libevfs0-plugin-vfolder-group
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 
Provides: libevfs-plugin-vfolder-group
Description: enlightenment virtual filesystem vfolder group plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the vfolder group plugin.

Package: libevfs0-plugin-vfolder-trash
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 
Provides: libevfs-plugin-vfolder-trash
Description: enlightenment virtual filesystem vfolder trash plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the vfolder trash plugin.

Package: libevfs0-plugin-meta-extractor-tagger
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 
Provides: libevfs-plugin-meta-extractor-tagger
Description: enlightenment virtual filesystem extractor tagger plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the extractor tagger meta plugin.

Package: libevfs0-plugins-file-all
Architecture: any
Section: libs
Depends: libevfs0-plugin-file-sftp, libevfs0-plugin-file-posix, libevfs0-plugin-file-samba, libevfs0-plugin-file-tar, libevfs0-plugin-file-bzip2, libevfs0-plugin-file-gzip, libevfs0-plugin-file-ftp, libevfs0-plugin-file-vfolder, evfs0-bin
Provides: libevfs-plugins-file-all
Description: virtual package providing all available file plugins
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This is a virtual package providing all available file plugins.

Package: libevfs0-plugins-vfolder-all
Architecture: any
Section: libs
Depends: libevfs0-plugin-vfolder-group, libevfs0-plugin-vfolder-trash
Provides: libevfs-plugins-vfolder-all
Description: virtual package providing all available vfolder plugins
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This is a virtual package providing all available vfolder plugins.

Package: libevfs0-plugins-all
Architecture: any
Section: libs
Depends: libevfs0-plugins-file-all, libevfs0-plugins-vfolder-all, libevfs0-plugin-meta-extractor-tagger
Provides: libevfs-plugins-all
Description: virtual package providing all available plugins
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This is a virtual package providing all available plugins.

