[Desktop Entry]
Encoding=UTF-8
Name=eve
Comment=WebKit-EFL demo application
Comment[it]=Applicazione dimostrativa di WebKit-EFL
Comment[pt]=Demonstração do WebKit-EFL
Comment[fr]=Démo WebKit-EFL
Exec=eve
Icon=eve
Terminal=false
Type=Application
Categories=Application;Utility;
