Source: ewd
Section: libs
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Standards-Version: 3.5.6.0

Package: libewd0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: this is ewd
 WTF is wed?  I have NFI.

Package: libewd0-dev
Architecture: any
Section: devel
Depends: libewd0 (= ${Source-Version}), libc6-dev
Description: development files for ewd
 WTF is ewd?  I have NFI.

