@import "../lib/reset.scss";
@import "../lib/grid.scss";
@import "../lib/type.scss";

@include reset;

#header, #content, #footer { @include container }


body
{
    line-height: $cell;
    font-size: $medium;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

p { font-size: 12px; line-height: $cell; margin-bottom: $cell }

h1 { font-size: $xxxx-large; line-height: $cell * 2 }
h2 { font-size: $xxx-large;  line-height: $cell * 2 }
h3 { font-size: $xx-large;   line-height: $cell * 2 }

h4 { font-size: $x-large;    line-height: $cell }
h5 { font-size: $large;      line-height: $cell; font-variant: small-caps }
h6 { font-size: $medium;     line-height: $cell; font-variant: small-caps }

p { background-color: #aaa }
h1, h2, h3, h4, h5, h6 { background-color: #faa }

#introduction { @include column; }