*~
*.swp
*.swo
e_cho/ABOUT-NLS
e_cho/Makefile
e_cho/Makefile.in
e_cho/aclocal.m4
e_cho/autom4te.cache/
e_cho/compile
e_cho/config.guess
e_cho/config.h
e_cho/config.h.in
e_cho/config.log
e_cho/config.rpath
e_cho/config.status
e_cho/config.sub
e_cho/configure
e_cho/data/Makefile
e_cho/data/Makefile.in
e_cho/data/desktop/Makefile
e_cho/data/desktop/Makefile.in
e_cho/data/sound/Makefile
e_cho/data/sound/Makefile.in
e_cho/data/themes/Makefile
e_cho/data/themes/Makefile.in
e_cho/data/themes/images/Makefile
e_cho/data/themes/images/Makefile.in
e_cho/depcomp
e_cho/install-sh
e_cho/libtool
e_cho/ltmain.sh
e_cho/m4/codeset.m4
e_cho/m4/gettext.m4
e_cho/m4/glibc21.m4
e_cho/m4/iconv.m4
e_cho/m4/intdiv0.m4
e_cho/m4/inttypes-pri.m4
e_cho/m4/inttypes.m4
e_cho/m4/inttypes_h.m4
e_cho/m4/isc-posix.m4
e_cho/m4/lcmessage.m4
e_cho/m4/lib-ld.m4
e_cho/m4/lib-link.m4
e_cho/m4/lib-prefix.m4
e_cho/m4/libtool.m4
e_cho/m4/ltoptions.m4
e_cho/m4/ltsugar.m4
e_cho/m4/ltversion.m4
e_cho/m4/lt~obsolete.m4
e_cho/m4/nls.m4
e_cho/m4/po.m4
e_cho/m4/progtest.m4
e_cho/m4/stdint_h.m4
e_cho/m4/uintmax_t.m4
e_cho/m4/ulonglong.m4
e_cho/missing
e_cho/mkinstalldirs
e_cho/po/Makefile
e_cho/po/Makefile.in
e_cho/po/Makefile.in.in
e_cho/po/Makevars.template
e_cho/po/POTFILES
e_cho/po/Rules-quot
e_cho/po/boldquot.sed
e_cho/po/en@boldquot.header
e_cho/po/en@quot.header
e_cho/po/insert-header.sin
e_cho/po/quot.sed
e_cho/po/remove-potcdate.sin
e_cho/src/Makefile
e_cho/src/Makefile.in
e_cho/src/bin/.deps/
e_cho/src/bin/Makefile
e_cho/src/bin/Makefile.in
e_cho/stamp-h1
eblock/eblock
eblock/eblock.o
econcentration/Makefile
econcentration/Makefile.in
econcentration/aclocal.m4
econcentration/autom4te.cache/
econcentration/compile
econcentration/config.guess
econcentration/config.h
econcentration/config.h.in
econcentration/config.log
econcentration/config.status
econcentration/config.sub
econcentration/configure
econcentration/data/Makefile
econcentration/data/Makefile.in
econcentration/data/desktop/Makefile
econcentration/data/desktop/Makefile.in
econcentration/data/images/Makefile
econcentration/data/images/Makefile.in
econcentration/depcomp
econcentration/install-sh
econcentration/libtool
econcentration/ltmain.sh
econcentration/m4/libtool.m4
econcentration/m4/ltoptions.m4
econcentration/m4/ltsugar.m4
econcentration/m4/ltversion.m4
econcentration/m4/lt~obsolete.m4
econcentration/missing
econcentration/src/Makefile
econcentration/src/Makefile.in
econcentration/src/bin/.deps/
econcentration/src/bin/.libs/
econcentration/src/bin/Makefile
econcentration/src/bin/Makefile.in
econcentration/src/bin/econcentration
econcentration/src/bin/econcentration_ql
econcentration/src/bin/econcentration_ql-main.o
econcentration/src/bin/econcentration_ql.la
econcentration/src/bin/econcentration_ql_la-main.lo
econcentration/src/bin/econcentration_ql_la-main.o
econcentration/src/bin/main.o
econcentration/stamp-h1
eskiss/INSTALL
eskiss/Makefile.in
eskiss/aclocal.m4
eskiss/autom4te.cache/
eskiss/compile
eskiss/config.guess
eskiss/config.h.in
eskiss/config.log
eskiss/config.sub
eskiss/configure
eskiss/data/Makefile.in
eskiss/data/edje/Makefile.in
eskiss/data/levels/Makefile.in
eskiss/depcomp
eskiss/install-sh
eskiss/ltmain.sh
eskiss/m4/libtool.m4
eskiss/m4/ltoptions.m4
eskiss/m4/ltsugar.m4
eskiss/m4/ltversion.m4
eskiss/m4/lt~obsolete.m4
eskiss/missing
eskiss/src/Makefile.in
eskiss/src/bin/Makefile.in

