[Desktop Entry]
Type=Link
Name=Slideshow
Icon=e-module-slideshow
Comment=<hilight>Slideshow Module</hilight><br>Turns your desktop background<br>into a slideshow.
