[Desktop Entry]
Type=Link
Name=Slideshow
Name[eo]=Bildoprezentado
Icon=e-module-slideshow
Comment=<hilight>Slideshow Module</hilight><br><br>Turns your desktop background into a slideshow.
Comment[eo]=<hilight>Modulo de bildoprezentado</hilight><br><br>Aliformi la labortablan tapeton en bildoprezentado.
Comment[it]=<hilight>Modulo Slideshow</hilight><br><br>Trasforma lo sfondo del vostro desktop in uno slideshow.
