Source: etk
Section: x11
Priority: optional
Maintainer: Falko Schmidt <kaethorn@stud.uni-stuttgart.de>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libevas0-dev, libecore0-dev, libedje0-dev
Standards-Version: 3.6.2

Package: libetk0
Architecture: any
Section: libs
Replaces: etk
Conflicts: etk
Depends: ${shlibs:Depends}, libevas0, libecore0, libedje0
Description: A widget toolkit based on the EFL
 ETK is a widget toolkit based on the enlightenment foundation libraries.

Package: libetk0-dev
Architecture: any
Replaces: etk
Conflicts: etk
Depends: ${shlibs:Depends}, libevas0, libecore0, libedje0
Description: Libetk0 headers, static libraries and documentation
 Headers, static libraries and documentation for the ETK widget library.

Package: etk0-bin
Architecture: any
Replaces: etk
Conflicts: etk
Depends: ${shlibs:Depends}, libevas0, libecore0, libedje0
Description: Tools that support libetk
 This package contains etk_test.
