Source: etk
Section: libs
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libevas-dev, libecore-dev, libedje-dev
Standards-Version: 3.6.2.2

Package: libetk0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevas, libecore, libedje
Provides: libetk
Description: A widget toolkit based on the EFL
 ETK is a widget toolkit based on the enlightenment foundation libraries.

Package: libetk0-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, libevas, libecore, libedje
Provides: libetk-dev
Description: Etk headers, static libraries and documentation
 Headers, static libraries and documentation for the ETK widget library.

Package: etk0-bin
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevas, libecore, libedje
Provides: etk-bin
Description: Tools that support libetk
 This package contains etk_test.
