.svn
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
mkinstalldirs
stamp-h1
.deps
.libs
*.o
*.lo
*.la
*.gmo
*~

debian/changelog
imlib2-config
imlib2.pc
imlib2.spec
README

src/bin/imlib2_bumpmap
src/bin/imlib2_colorspace
src/bin/imlib2_conv
src/bin/imlib2_grab
src/bin/imlib2_poly
src/bin/imlib2_show
src/bin/imlib2_test
src/bin/imlib2_view

imlib2-*.tar.bz2
imlib2-*.tar.gz
