*.o
*.swp
*.swo
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/themes/Makefile
data/themes/Makefile.in
data/themes/default.edj
depcomp
ekbd.pc
ekbd.spec
install-sh
keyboards/Makefile
keyboards/Makefile.in
keyboards/math.edj
keyboards/quote.edj
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/.libs/
src/bin/Makefile
src/bin/Makefile.in
src/bin/ekbd_test
src/lib/.deps/
src/lib/.libs/
src/lib/Ekbd.h
src/lib/Makefile
src/lib/Makefile.in
src/lib/ekbd_layout.lo
src/lib/ekbd_send.lo
src/lib/ekbd_smart.lo
src/lib/libekbd.la
stamp-h1
