Source: eclair
Section: x11
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: cdbs, debhelper (>> 3.0.0), automake1.7 | automaken, libecore-dev, libedje-dev, libevas-dev, libesmart-dev, libemotion-dev, libtagc0-dev, libxml2-dev, libsqlite3-dev, libglade2-dev
Standards-Version: 3.7.2

Package: eclair
Section: x11
Architecture: any
Depends: ${shlibs:Depends}
Recommends: libemotion0-xine | libemotion0-gstreamer
Description: EWL powered media player
 Eclair is an EFL powered media player front-end using Enlightenment's
 video playback library (emotion).
