[Desktop Entry]
Type=Link
Name=Language
Exec=enlightenment
StartupNotify=false
X-Enlightenment-WaitExit=false
X-Enlightenment-IconClass=language,gadget
Icon=e-module-language
Comment=<hilight>Language Gadget</hilight><br><br>Gadget to control active keyboard, keyboard layout, and layout variant.
Comment[it]=<hilight>Modulo Language</hilight><br><br>Modulo per controllare la tastiera attiva, il layout di tastiera e le varianti del layout.
