Source: emodules
Section: x11
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 4.0.0), enlightenment-dev, libexml-dev, libxkbfile-dev, libxslt-dev, libxcomposite-dev, libxdamage-dev, libxrender-dev, emprint, libe-dbus0-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: emodule0-alarm
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-alarm
Description: The E17 Alarm Module
 A module to set Alarms in Enlightenment 17.

Package: emodule0-bling
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-bling
Description: An E17 module providing a Composite Manager
 An E17 module which acts as a Composite Manager.

Package: emodule0-calendar
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-calendar
Description: E17 calendar module
 An E17 module which displays a calendar on the desktop.
 
Package: emodule0-cpu
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-cpu
Description: E17 monitor module for the CPU load
 An E17 module which displays the current CPU load. Features are:
 - draw a graph and/or draw the decimal load percentage
 - adjust the check interval.
 
Package: emodule0-deskshow
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-deskshow
Description: E17 module which minimizes all windows
 An E17 module which minimizes all windows in order to show the
 desktop.
 
Package: emodule0-echo
Architecture: any
Depends: ${shlibs:Depends}, libc6 (>= 2.5), enlightenment
Provides: emodule-echo
Description: E17 sound volume module
 An E17 module which allows the user to adjust the volume of the sound
 system.

Package: emodule0-efm-nav
Architecture: any
Depends: ${shlibs:Depends}, libc6 (>= 2.5), enlightenment
Provides: emodule-efm-nav
Description: E17 file manager navigation module
 An E17 module which allows the user to navigate through the file manager
 history.

Package: emodule0-efm-path
Architecture: any
Depends: ${shlibs:Depends}, libc6 (>= 2.5), enlightenment
Provides: emodule-efm-path
Description: E17 file manager path module
 An E17 module which allows for displaying and editing the path in the
 file manager.

Package: emodule0-emu
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-emu
Description: An E17 module front end
 An E17 module which works as a front end that runs arbitrary back
 ends written in any language.  Emu provides a high level interface
 to some of the things that modules typically do.  The backends can
 be written by anybody in any language.
 
Package: emodule0-execwatch
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-execwatch
Description: E17 for monitoring frequent command results
 The execwatch module for E17 allows the user to monitor commands and adds
 an icon to the shelf. Whenever the exitcode or an expected string changes
 the icon changes as well.
 
Package: emodule0-flame
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-flame
Description: An E17 module that draws flames on the desktop
 Flame is an E17 module which draws flames of configurable colors on
 the lower part of the screen.

Package: emodule0-forecasts
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-forecasts
Description: An E17 module which displays weather forecasts
 Forecasts is an E17 module which displays the weather forecast.

Package: emodule0-iiirk
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-iiirk
Description: An E17 taskbar module
 The Iiirk module acts like a taskbar for selected applications only. The
 purpose of this is having a module behaving like a tray would dock some
 icons. Due to the status of the system tray specification this module
 doesn't rely on it, but instead on .desktop and netwm icons only.

Package: emodule0-language
Architecture: any
Depends: ${shlibs:Depends}, enlightenment, libexml
Provides: emodule-language
Description: An E17 module that manages keyboard layouts and more
 This is an E17 module which allows to control the keyboard layout,
 keyboard model and keyboard layout variant.

Package: emodule0-mail
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-mail
Description: An E17 module for checking mailboxes
 Mail is an E17 module which checks pop3, imap, mailbox and mdir mailboxes.
 
Package: emodule0-mem
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-mem
Description: An E17 memory monitoring module
 An E17 module which monitors the RAM usage. It features the following:
 - display text and/or graph
 - display text in percentage or absolute
 - ignore/Count buffers
 - ignore/Count cached.
 
Package: emodule0-mixer
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-mixer
Description: An E17 sound mixer module
 An E17 module for adjusting the sound mixer settings.
 
Package: emodule0-moon
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-moon
Description: Moon Clock module for Enlightenment
 Moon is an E17 module which displays information about the current
 phase of the moon.
 
Package: emodule0-mpdule
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-mpdule
Description: MPD module for Enlightenment
 An E17 module to show the MPD status in the shelf.
 
Package: emodule0-net
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-net
Description: An E17 network interface monitor module
 An E17 module which monitors TX and RX events of a specified
 network device. Features are:
 - show text and/or graph
 - configure poll interval
 - choose device.
 
Package: emodule0-news
Architecture: any
Depends: ${shlibs:Depends}, enlightenment, xdg-utils
Provides: emodule-news
Description: The E17 new modules
 An E17 module to display feeds like Rss or Atom on the desktop.

Package: emodule0-notification
Architecture: any
Depends: ${shlibs:Depends}, enlightenment, libe-dbus0
Provides: emodule-notification
Description: E17 notification daemon
 An E17 module which provides a notification daemon for E17. It implements
 the galago specification.

Package: emodule0-penguins
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-penguins
Description: The E17 penguins module
 An E17 module to display penguins on the desktop.
 
Package: emodule0-photo
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-photo
Description: An E17 module for displaying pictures
 An E17 module which displays pictures in a slideshow.
 Some of the features are:
 - define mouse button to trigger action
 - actions such as set as background, show infos or open in a viewer.
 
Package: emodule0-rain
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-rain
Description: An E17 module displaying rain on the desktop
 An E17 module which displays falling rainsdrops on the desktop.
 Features are:
 - display/hide clouds
 - set rain density.
 
Package: emodule0-screenshot
Architecture: any
Depends: ${shlibs:Depends}, enlightenment, emprint
Provides: emodule-screenshot
Description: An E17 screenshot module
 An E17 module which enables the user to take screenshots.
 
Package: emodule0-slideshow
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-slideshow
Description: An E17 background cycle module
 An E17 module which changes the desktop background on a given
 interval. It cycles through all available background images.
 
Package: emodule0-snow
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-snow
Description: An E17 module displaying rain on the desktop
 An E17 module which displays falling snow flakes on the desktop.
 Features are:
 - display/hide trees
 - set snow density.

Package: emodule0-taskbar
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-taskbar
Description: An E17 taskbar module
 An E17 module acts as an extension of the default ibox module.

Package: emodule0-tclock
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-tclock
Description: An E17 text clock module
 An E17 module which displays a digital clock on the desktop.

Package: emodule0-uptime
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-uptime
Description: An E17 uptime indicator module
 An E17 module indicating the system's current uptime in a configurable
 interval.
 
Package: emodule0-weather
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-weather
Description: An E17 weather module
 An E17 module displaying the current weather conditions.
 Features are:
 - choose between simple and detailed view
 - specify poll time
 - display degree in Celsius or Fahrenheit
 - choose the weather station from a menu or via ICAO Code.
 
Package: emodule0-winselector
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-winselector
Description: An E17 module providing menu-based access to all windows
 An E17 module which enables access to all windows through a shelf
 button.

Package: emodule0-wlan
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-wlan
Description: An E17 WLAN monitor module
 An E17 module monitoring the link quality of a wireless network
 interface. Features are:
 - choose display as text and/or graph
 - specify the check interval.

Package: emodules0-all
Architecture: any
Depends: enlightenment, emodule0-alarm, emodule0-bling, emodule0-calendar, emodule0-cpu, emodule0-deskshow, emodule0-echo, emodule0-efm-nav, emodule0-efm-path, emodule0-emu, emodule0-flame, emodule0-forecasts, emodule0-language, emodule0-mail, emodule0-mem, emodule0-mixer, emodule0-moon, emodule0-mpdule, emodule0-net, emodule0-news, emodule0-notification, emodule0-penguins, emodule0-photo, emodule0-rain, emodule0-screenshot, emodule0-slideshow, emodule0-snow, emodule0-taskbar, emodule0-tclock, emodule0-uptime, emodule0-weather, emodule0-winselector, emodule0-wlan
Conflicts: emodules-extra, evolume
Provides: emodules-all, e17-modules
Description: A dummy package for installing all modules for E17
 This package will install the following modules:
 Alarm        : Enlightenment Alarm Module
 Bling        : EFLized Composite Manager for E17.
 Calendar     : Calendar module for the desktop.
 Cpu          : Monitor module for the CPU load.
 Deskshow     : A module that minimizes all windows to show the desktop.
 Echo         : Another sound mixer module.
 EFM-nav      : A file manager history browser.
 EFM-path     : A module for the file manager which displays the path.
 Emu          : A module front end that runs arbitrary back ends
                written in any language.
 Flame        : Displays flames at the bottom of the screen.
 Forecasts    : Shows the weather forecast.
 Language     : Allows to control keyboard layout, model and variant.
 Mail         : A mail module supporting pop3, imap, mailbox and mdir.
 Mem          : Monitors memory usage.
 Mixer        : Sound mixer module.
 Moon         : Moon Clock module for Enlightenment.
 Mpdule       : MPD status module.
 Net          : Network activity monitoring module.
 News         : Displays Rss or Atom feeds on the desktop.
 Notification : A notification daemon.
 Penguins     : Displays penguins on the desktop.
 Photo        : Display, view or set pictures as backgrounds.
 Rain         : Displays rain on the desktop.
 Screenshot   : This module allows the user to take screenshots.
 Slideshow    : Port of the e16 E-Slides epplet.
 Snow         : Displays some snow on your desktop.
 Taskbar      : An extension of the default ibox module.
 Tclock       : Simple text Clock module.
 Uptime       : Monitors the uptime.
 Weather      : A module for displaying weather reports.
 Winselector  : A module providing menu-based access to all windows.
 Wlan         : Monitors WLAN activity.
