Source: emodules
Section: x11
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: debhelper (>= 4.0.0), enlightenment-dev, libesmart-dev, libembryo-dev, libexml-dev
Standards-Version: 3.6.2.2

Package: emodule0-calendar
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-calendar
Description: Draws a nice calendar on your E17 desktop
 An E17 module which displays a highly configurable calendar on the
 desktop. Features are:
 - today highlights (depending on color scheme)
 - display previous and future years/months
 - two distinct themes (switchable via menu)
 - one with a top image & one without
 - change the 1st Day of the week.

Package: emodule0-cpu
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-cpu
Description: E17 monitor module for the CPU load
 An E17 module which displays the current CPU load. Features are:
 - draw a graph and/or draw the decimal load percentage
 - adjust the check interval.
 
Package: emodule0-deskshow
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-deskshow
Description: E17 monitor module which minimizes all windows
 An E17 module which minimizes all windows in order to show the
 desktop.
 
Package: emodule0-devian
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-devian
Description: E17 monitor module for displaying images and rss feeds
 An E17 module which displays images and rss feeds.
 
Package: emodule0-emu
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-emu
Description: An E17 module front end
 An E17 module which works as a front end that runs arbitrary back
 ends written in any language.  Emu provides a high level interface
 to some of the things that modules typically do.  The backends can
 be written by anybody in any language.
 
Package: emodule0-eveil
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-eveil
Description: An E17 module for setting timers and alarms
 Eveil is an E17 module which manages user defined timers and
 alarms.

Package: emodule0-evolume
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-evolume
Description: An E17 audio mixer module
 Evolume is an E17 module which allows the user to adjust the sound
 volume.

Package: emodule0-flame
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-flame
Description: An E17 module that draws flames on the desktop
 Eflame is an E17 module which draws flames of configurable colors on
 the lower part of the screen.

Package: emodule0-language
Architecture: any
Depends: ${shlibs:Depends}, enlightenment, libexml
Provides: emodule-language
Description: An E17 module that manages keyboard layouts and more
 This is an E17 module which allows to control the keyboard layout,
 keyboard model and keyboard layout variant.

Package: emodule0-mail
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-mail
Description: An E17 module for checking mailboxes
 Mail is an E17 module which checks pop3, imap, mailbox and mdir mailboxes.
 
Package: emodule0-mbar
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-mbar
Description: An E17 mount bar module
 Mbar is an E17 module which displays a list of devices which can be
 mounted or unmounted by clicking on them.
 
Package: emodule0-mem
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-mem
Description: An E17 memory monitoring module
 An E17 module which monitors the RAM usage. It features the following:
 - display text and/or graph
 - display text in percentage or absolute
 - ignore/Count buffers
 - ignore/Count cached.
 
Package: emodule0-moon
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-moon
Description: Moon Clock module for Enlightenment
 Moon is an E17 module which displays information about the current
 phase of the moon.
 
Package: emodule0-net
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-net
Description: An E17 network interface monitor module
 An E17 module which monitors TX and RX events of a specified
 network device. Features are:
 - show text and/or graph
 - configure poll interval
 - choose device.
 
Package: emodule0-rain
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-rain
Description: An E17 module displaying rain on the desktop
 An E17 module which displays falling rainsdrops on the desktop.
 Features are:
 - display/hide clouds
 - set rain density.
 
Package: emodule0-screenshot
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-screenshot
Description: An E17 screenshot module
 An E17 module which enables the user to take screenshots. It contains
 the following features:
 - choose between import and scrot
 - specify delay time, save directory and filename
 - choose to include the image border or window manager frame (scrot/import)
 - use image dithering (import)
 - choose window to grab (import)
 - silent/verbose (import)
 - trim edges (import)
 - generate thumbnail (scrot).
 
Package: emodule0-slideshow
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-slideshow
Description: An E17 background cycle module
 An E17 module which changes the desktop background on a given
 interval. It cycles through all available background images.
 
Package: emodule0-snow
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-snow
Description: An E17 module displaying rain on the desktop
 An E17 module which displays falling snow flakes on the desktop.
 Features are:
 - display/hide trees
 - set snow density.

Package: emodule0-taskbar
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-taskbar
Description: An E17 taskbar module
 An E17 module acts as an extension of the default ibox module.

Package: emodule0-tclock
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-tclock
Description: An E17 text clock module
 An E17 module which displays a digital clock on the desktop.

Package: emodule0-uptime
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-uptime
Description: An E17 uptime indicator module
 An E17 module indicating the system's current uptime in a configurable
 interval.
 
Package: emodule0-weather
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-weather
Description: An E17 weather module
 An E17 module displaying the current weather conditions and forecast.
 Features are:
 - choose between simple and detailed view
 - specify poll time
 - display degree in Celsius or Fahrenheit
 - choose the weather station from a menu or via ICAO Code.
 
Package: emodule0-wlan
Architecture: any
Depends: ${shlibs:Depends}, enlightenment
Provides: emodule-wlan
Description: An E17 WLAN monitor module
 An E17 module monitoring the link quality of a wireless network
 interface. Features are:
 - choose display as text and/or graph
 - specify the check interval.

Package: emodules0-all
Architecture: any
Depends: enlightenment, emodule0-calendar, emodule0-cpu, emodule0-deskshow, emodule0-devian, emodule0-emu, emodule0-eveil, emodule0-evolume, emodule0-flame, emodule0-language, emodule0-mail, emodule0-mbar, emodule0-mem, emodule0-moon, emodule0-net, emodule0-rain, emodule0-screenshot, emodule0-slideshow, emodule0-snow, emodule0-taskbar, emodule0-tclock, emodule0-uptime, emodule0-weather, emodule0-wlan
Conflicts: emodules-extra, evolume
Provides: emodules-all
Description: A dummy package for installing all modules for E17
 This package will install the following modules:
 Calendar    : Draws a nice calendar on your e17 desktop.
 Cpu         : Monitor module for the CPU load.
 Deskshow    : A module that minimizes all windows to show the desktop.
 dEvian      : Displays images and rss feeds on your e17 desktop.
 Emu         : A module front end that runs arbitrary back ends
               written in any language.
 Eveil       : A module to set Timer and Alarms.
 Evolume     : An audio mixer module.
 Flame       : Displays flames at the bottom of the screen.
 Language    : Allows to control keyboard layout, model and variant.
 Mail        : A mail module supporting pop3, imap, mailbox and mdir.
 Mbar        : A bar for mounting and unmounting devices.
 Mem         : Monitors memory usage.
 Moon        : Moon Clock module for Enlightenment
 Net         : Network activity monitoring module.
 Rain        : Displays rain on the desktop.
 Screenshot  : This module is used to take screenshots. It
               supports using import and scrot. Version 0.0.2
               contains only a few basic options for import and
               scrot. More options will be added later.
 Slideshow   : Port of the e16 E-Slides epplet.
 Snow        : Displays some snow on your desktop.
 Taskbar     : An extension of the default ibox module.
 Tclock      : Simple text Clock module.
 Uptime      : Monitors the uptime.
 Weather     : A module for displaying weather reports.
 Wlan        : Monitors WLAN activity.
