Source: ewl
Section: libs
Priority: optional
Maintainer:  Debian Pkg-e Team <pkg-e-devel@lists.alioth.debian.org>
Uploaders: Albin Tonnerre <albin.tonnerre@gmail.com>,
 Xavier Oswald <x.oswald@free.fr>, Jan Lübbe <jluebbe@debian.org>
Build-Depends: debhelper (>= 5), cdbs, libevas-dev, libedje-dev,
 libefreet-dev, libecore-dev, libedje-bin, libembryo-bin, pkg-config, libtool, cvs
# libemotion-dev, libepsilon-dev
Standards-Version: 3.8.1
Vcs-Git: git://git.debian.org/pkg-e/libs/ewl.git
Vcs-Browser: http://git.debian.org/?p=pkg-e/libs/ewl.git
Homepage: http://www.enlightenment.org

Package: libewl1
Architecture: any
Depends: ${shlibs:Depends}, libewl1-engine-evas-software-x11, libevas-engines, ewl1-test
Suggests: libewl1-engines-all
Description: The Enlightened Widget Library (EWL)
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package provides the EWL runtime library including a basic software
 X11 render engine.

Package: libewl1-dev
Architecture: any
Section: libdevel
Depends: libewl1 (= ${binary:Version}), libedje-dev, libemotion0-dev, libepsilon0-dev, libecore-dev, libefreet-dev
Description: Development files for EWL
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package contains headers, static libraries and examples for
 development with EWL.

Package: libewl1-engines-all
Architecture: any
Depends: libewl1-engine-evas-buffer, libewl1-engine-evas-fb, libewl1-engine-evas-software-x11, libewl1-engine-x11, libewl1-engine-evas-gl-x11, libewl1-engine-evas, libewl1-engine-evas-xrender
Description: virtual package providing all available EWL engines
  EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package provides all available render engines for EWL.

Package: libewl1-engine-evas
Architecture: any
Depends: ${shlibs:Depends}, libevas0
Description: The main EVAS engine for EWL
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package provides the main EVAS engine for EWL.

Package: libewl1-engine-evas-buffer
Architecture: any
Depends: ${shlibs:Depends}, libevas-engines
Description: The buffer engine for EWL provided by EVAS
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package provides buffer render engine for EWL.

Package: libewl1-engine-evas-fb
Architecture: any
Depends: ${shlibs:Depends}, libevas-engines-extras
Description: The framebuffer engine for EWL provided by EVAS
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package provides the framebuffer render engine for EWL.

Package: libewl1-engine-evas-gl-x11
Architecture: any
Depends: ${shlibs:Depends}, libevas-engines-extras
Description: The OpenGL X11 engine for EWL provided by EVAS
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package provides an experimental OpenGL render engine for EWL.

Package: libewl1-engine-evas-software-x11
Architecture: any
Depends: ${shlibs:Depends}, libevas-engines
Description: The software X11 engine for EWL provided by EVAS
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package provides the software X11 render for EWL.

Package: libewl1-engine-evas-xrender
Architecture: any
Depends: ${shlibs:Depends}, libevas-engines
Description: The Xrender X11 engine for EWL provided by EVAS
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package provides the Xrender engine for EWL.

Package: libewl1-engine-x11
Architecture: any
Depends: ${shlibs:Depends}, libx11-6
Description: The base X11 engine for EWL
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package provides the base X11 engine for EWL.

Package: libewl1-plugins
Architecture: any
Depends: ${shlibs:Depends}
Description: Plugins for EWL
 EWL is a widget library based on the Enlightenment Foundation Libraries
 .
 This package provides plugins for EWL.

Package: ewl1-test
Section: misc
Architecture: any
Depends: ${shlibs:Depends}
Description: Programs for EWL
 This package provides programs packaged with EWL.
 .
 EWL is a widget library based on the Enlightenment Foundation Libraries
