#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_MAKE_CLEAN_TARGET := clean

debian/stamp-autotools-files:
	./autogen.sh --prefix=/usr --sysconfdir=/etc
	touch debian/stamp-autotools-files

install/libewl0-dev::
	mkdir -p debian/libewl0-dev/usr/share/doc/libewl0-dev/
	cp -a debian/tmp/usr/share/ewl/examples debian/libewl0-dev/usr/share/doc/libewl0-dev/
	./autogen.sh --prefix=/usr $(DEB_CONFIGURE_EXTRA_FLAGS) 
