*.o
*~
*.swp
*.swo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/module.desktop
data/themes/Makefile
data/themes/Makefile.in
data/themes/default/Makefile
data/themes/default/Makefile.in
data/themes/default/default.edj
depcomp
e_modules-elfe.spec
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/allapps.lo
src/desktop.lo
src/desktop_item.lo
src/desktop_page.lo
src/dock.lo
src/elfe_config.lo
src/gadget_list.lo
src/main.lo
src/module.la
src/utils.lo
src/winlist.lo
stamp-h1

