Source: entrance-edit-gui
Section: x11
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 6), libentrance-edit-dev, libedje-dev, libetk1-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: entrance-edit-gui
Architecture: any
Depends: ${shlibs:Depends} 
Description: Entrance configuration editing tool
 Entrance is a login manager similar to gdm or kdm, it is based on the
 Enlightenment Foundation Libraries.  It is fully themeable via Edje.
 .
 This package provides a tool for editing the configuration data
 of the Enlightened login manager.

Package: libentrance-widgets0
Architecture: any
Depends: ${shlibs:Depends}
Provides: libentrance-widgets
Description: Entrance widget library
 Entrance is a login manager similar to gdm or kdm, it is based on the
 Enlightenment Foundation Libraries.  It is fully themeable via Edje.
 .
 This package contains the Entrance widget library.

Package: libentrance-widgets-dev
Architecture: any
Depends: libentrance-edit-dev, libentrance-widgets0 (= ${Source-Version}), libetk1-dev, libedje-dev
Provides: libentrance-widgets0-dev
Description: Entrance widget library
 Entrance is a login manager similar to gdm or kdm, it is based on the
 Enlightenment Foundation Libraries.  It is fully themeable via Edje.
 .
 This package provides headers and static libraries required to develop
 against the Entrance widget library.
