Source: ethumb
Section: x11
Priority: optional
Maintainer: quaker <quaker66@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), efl-dev, libemotion0-dev
Standards-Version: 3.8.2
Homepage: http://www.enlightenment.org

Package: libethumb1
Architecture: any
Depends: ${shlibs:Depends}, libethumb-bin, libethumb-data
Description: Enlightenment thumbnailing library
 Thumbnailing library meant to replace epsilon.
 .
 This package contains the ethumb library.

Package: libethumb-plugins
Architecture: any
Depends: ${shlibs:Depends}, libethumb1
Description: Enlightenment thumbnailing library
 Thumbnailing library meant to replace epsilon.
 .
 This package contains plugins.

Package: libethumb-bin
Architecture: any
Depends: ${shlibs:Depends}, libethumb1
Description: Enlightenment thumbnailing library
 Thumbnailing library meant to replace epsilon.
 .
 This package contains binary files.

Package: libethumb-dev
Architecture: any
Depends: libethumb1 (= ${Source-Version}), libethumb-plugins, libemotion0-dev
Description: Enlightenment thumbnailing library
 Thumbnailing library meant to replace epsilon.
 .
 This package contains developenment files.

Package: libethumb-data
Architecture: all
Depends: libethumb1
Description: Enlightenment thumbnailing library
 Thumbnailing library meant to replace epsilon.
 .
 This package contains data files.

