[Desktop Entry]
Encoding=UTF-8
Name=Elm_Softkey
Comment=Elementary Softkey
Comment[it]=Elementary - Tastiera software
Comment[pt]=Teclado Elementary
Exec=elm_softkey
Icon=elm_softkey
Terminal=false
Type=Application
Categories=Application;Development;
StartupWMClass=elm_softkey
