Source: efreet
Section: libs
Priority: optional
Maintainer: Debian Pkg-e Team <pkg-e-devel@lists.alioth.debian.org>
Uploaders: Albin Tonnerre <lutin@debian.org>, Jan Lübbe <jluebbe@debian.org>
Build-Depends: debhelper (>= 7.0.50~), libecore-dev (>= 1.0.0~), libeina-dev (>= 1.0.0~)
Build-Depends-Indep: doxygen, graphviz
Standards-Version: 3.9.1
Vcs-Git: git://git.debian.org/pkg-e/libs/efreet.git
Vcs-Browser: http://git.debian.org/?p=pkg-e/libs/efreet.git
Homepage: http://www.enlightenment.org

Package: libefreet1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library that implements freedesktop.org specs for use with E17/EFL
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This package provides the libefreet0 and libefreet0-mime libraries, which
 contains efreet-based functions for dealing with mime.

Package: libefreet-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libefreet1 (= ${binary:Version}), libecore-dev (>= 1.0.0~), libeina-dev (>= 1.0.0~)
Suggests: libefreet-doc
Description: Development files for libefreet and libefreet-mime
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This package contains headers and static libraries for Efreet.

Package: libefreet-doc
Section: doc
Depends: ${misc:Depends}
Architecture: all
Enhances: libefreet-dev
Description: libefreet and libfreet-mime API documentation
 An implementation of several specifications from freedesktop.org intended for
 use in Enlightenment DR17 (e17) and other applications using the Enlightenment
 Foundation Libraries (EFL). Currently, the following specifications are
 included:
  - Base Directory
  - Desktop Entry
  - Icon Theme
  - Menu
 .
 This package contains HTML documentation for development with libefreet and
 libefreet-mime.
