Source: esmart
Section: libs
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 6), libtool, pkg-config, libecore-dev, libevas-dev, libepsilon-dev, libimlib2-dev, libedje-dev, libepeg-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: libesmart0
Architecture: any
Depends: ${shlibs:Depends}
Suggests: libesmart-bin (= ${Source-Version})
Provides: libesmart
Description: The Esmart Prototype Library
 Esmart provides a series of smart object prototypes for a variety of uses.

Package: libesmart-dev
Architecture: any
Section: libdevel
Depends: libesmart0 (= ${Source-Version}), libecore-dev, libevas-dev, libepsilon-dev, libedje-dev
Provides: libesmart0-dev
Description: Development files for Esmart
 Esmart is a utility library based on the libraries provided by the
 Enlightenment project.

Package: libesmart-bin
Section: graphics
Architecture: any
Depends: ${shlibs:Depends}
Provides: libesmart0-bin
Description: Programs for Esmart
 This package provides programs packaged with Esmart.
 .
 Esmart is a utility library based on the libraries provided by the
 Enlightenment project.
