[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Enna
Name[eo]=Enna
GenericName=Media Center
Comment=EFL Multimedia Center
Comment[eo]=Plurmedia centro (interfaco per EFL)
Comment[it]=Centro multimediale EFL
Icon=mediacenter
TryExec=enna
Exec=enna
Terminal=false
Categories=ENLIGHTENMENT;Application;AudioVideo;Player;
StartupWmClass=enna
