*.o
*~
*.swp
*.swo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
epdf.pc
epdf.spec
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/.libs/
src/bin/Makefile
src/bin/Makefile.in
src/bin/epdf_evas_test
src/lib/.deps/
src/lib/.libs/
src/lib/Makefile
src/lib/Makefile.in
src/lib/libepdf.la
src/lib/libepdf_la-esmart_pdf.lo
src/lib/mupdf/.deps/
src/lib/mupdf/.libs/
src/lib/mupdf/Makefile
src/lib/mupdf/Makefile.in
src/lib/mupdf/cmap_cns.c
src/lib/mupdf/cmap_gb.c
src/lib/mupdf/cmap_japan.c
src/lib/mupdf/cmap_korea.c
src/lib/mupdf/cmap_tounicode.c
src/lib/mupdf/cmapdump
src/lib/mupdf/font_misc.c
src/lib/mupdf/font_misc.lo
src/lib/mupdf/font_mono.c
src/lib/mupdf/font_mono.lo
src/lib/mupdf/font_sans.c
src/lib/mupdf/font_sans.lo
src/lib/mupdf/font_serif.c
src/lib/mupdf/font_serif.lo
src/lib/mupdf/fontdump
src/lib/mupdf/libcmaps.la
src/lib/mupdf/libcmaps_la-cmap_cns.lo
src/lib/mupdf/libcmaps_la-cmap_gb.lo
src/lib/mupdf/libcmaps_la-cmap_japan.lo
src/lib/mupdf/libcmaps_la-cmap_korea.lo
src/lib/mupdf/libcmaps_la-cmap_tounicode.lo
src/lib/mupdf/libepdf_mupdf.la
src/lib/mupdf/libepdf_mupdf_la-epdf_mupdf_document.lo
src/lib/mupdf/libepdf_mupdf_la-epdf_mupdf_fontinfo.lo
src/lib/mupdf/libepdf_mupdf_la-epdf_mupdf_index.lo
src/lib/mupdf/libepdf_mupdf_la-epdf_mupdf_main.lo
src/lib/mupdf/libepdf_mupdf_la-epdf_mupdf_page.lo
src/lib/mupdf/libfitz.la
src/lib/mupdf/libfitz_la-base_cpudep.lo
src/lib/mupdf/libfitz_la-base_error.lo
src/lib/mupdf/libfitz_la-base_hash.lo
src/lib/mupdf/libfitz_la-base_matrix.lo
src/lib/mupdf/libfitz_la-base_memory.lo
src/lib/mupdf/libfitz_la-base_rect.lo
src/lib/mupdf/libfitz_la-base_string.lo
src/lib/mupdf/libfitz_la-base_unicode.lo
src/lib/mupdf/libfitz_la-crypt_aes.lo
src/lib/mupdf/libfitz_la-crypt_arc4.lo
src/lib/mupdf/libfitz_la-crypt_crc32.lo
src/lib/mupdf/libfitz_la-crypt_md5.lo
src/lib/mupdf/libfitz_la-filt_aesd.lo
src/lib/mupdf/libfitz_la-filt_arc4.lo
src/lib/mupdf/libfitz_la-filt_basic.lo
src/lib/mupdf/libfitz_la-filt_dctd.lo
src/lib/mupdf/libfitz_la-filt_faxd.lo
src/lib/mupdf/libfitz_la-filt_faxdtab.lo
src/lib/mupdf/libfitz_la-filt_flate.lo
src/lib/mupdf/libfitz_la-filt_lzwd.lo
src/lib/mupdf/libfitz_la-filt_pipeline.lo
src/lib/mupdf/libfitz_la-filt_predict.lo
src/lib/mupdf/libfitz_la-node_misc1.lo
src/lib/mupdf/libfitz_la-node_misc2.lo
src/lib/mupdf/libfitz_la-node_path.lo
src/lib/mupdf/libfitz_la-node_text.lo
src/lib/mupdf/libfitz_la-node_toxml.lo
src/lib/mupdf/libfitz_la-node_tree.lo
src/lib/mupdf/libfitz_la-obj_array.lo
src/lib/mupdf/libfitz_la-obj_dict.lo
src/lib/mupdf/libfitz_la-obj_parse.lo
src/lib/mupdf/libfitz_la-obj_print.lo
src/lib/mupdf/libfitz_la-obj_simple.lo
src/lib/mupdf/libfitz_la-res_colorspace.lo
src/lib/mupdf/libfitz_la-res_font.lo
src/lib/mupdf/libfitz_la-res_image.lo
src/lib/mupdf/libfitz_la-res_shade.lo
src/lib/mupdf/libfitz_la-stm_buffer.lo
src/lib/mupdf/libfitz_la-stm_filter.lo
src/lib/mupdf/libfitz_la-stm_misc.lo
src/lib/mupdf/libfitz_la-stm_open.lo
src/lib/mupdf/libfitz_la-stm_read.lo
src/lib/mupdf/libfitzdraw.la
src/lib/mupdf/libfitzdraw_la-blendmodes.lo
src/lib/mupdf/libfitzdraw_la-glyphcache.lo
src/lib/mupdf/libfitzdraw_la-imagedraw.lo
src/lib/mupdf/libfitzdraw_la-imagescale.lo
src/lib/mupdf/libfitzdraw_la-imageunpack.lo
src/lib/mupdf/libfitzdraw_la-meshdraw.lo
src/lib/mupdf/libfitzdraw_la-pathfill.lo
src/lib/mupdf/libfitzdraw_la-pathscan.lo
src/lib/mupdf/libfitzdraw_la-pathstroke.lo
src/lib/mupdf/libfitzdraw_la-pixmap.lo
src/lib/mupdf/libfitzdraw_la-porterduff.lo
src/lib/mupdf/libfitzdraw_la-render.lo
src/lib/mupdf/libfonts.la
src/lib/mupdf/libmupdf.la
src/lib/mupdf/libmupdf_la-pdf_annot.lo
src/lib/mupdf/libmupdf_la-pdf_build.lo
src/lib/mupdf/libmupdf_la-pdf_cmap.lo
src/lib/mupdf/libmupdf_la-pdf_cmap_load.lo
src/lib/mupdf/libmupdf_la-pdf_cmap_parse.lo
src/lib/mupdf/libmupdf_la-pdf_cmap_table.lo
src/lib/mupdf/libmupdf_la-pdf_colorspace1.lo
src/lib/mupdf/libmupdf_la-pdf_colorspace2.lo
src/lib/mupdf/libmupdf_la-pdf_crypt.lo
src/lib/mupdf/libmupdf_la-pdf_debug.lo
src/lib/mupdf/libmupdf_la-pdf_font.lo
src/lib/mupdf/libmupdf_la-pdf_fontagl.lo
src/lib/mupdf/libmupdf_la-pdf_fontenc.lo
src/lib/mupdf/libmupdf_la-pdf_fontfile.lo
src/lib/mupdf/libmupdf_la-pdf_fontmtx.lo
src/lib/mupdf/libmupdf_la-pdf_function.lo
src/lib/mupdf/libmupdf_la-pdf_image.lo
src/lib/mupdf/libmupdf_la-pdf_interpret.lo
src/lib/mupdf/libmupdf_la-pdf_lex.lo
src/lib/mupdf/libmupdf_la-pdf_nametree.lo
src/lib/mupdf/libmupdf_la-pdf_open.lo
src/lib/mupdf/libmupdf_la-pdf_outline.lo
src/lib/mupdf/libmupdf_la-pdf_page.lo
src/lib/mupdf/libmupdf_la-pdf_pagetree.lo
src/lib/mupdf/libmupdf_la-pdf_parse.lo
src/lib/mupdf/libmupdf_la-pdf_pattern.lo
src/lib/mupdf/libmupdf_la-pdf_repair.lo
src/lib/mupdf/libmupdf_la-pdf_shade.lo
src/lib/mupdf/libmupdf_la-pdf_shade1.lo
src/lib/mupdf/libmupdf_la-pdf_shade4.lo
src/lib/mupdf/libmupdf_la-pdf_store.lo
src/lib/mupdf/libmupdf_la-pdf_stream.lo
src/lib/mupdf/libmupdf_la-pdf_type3.lo
src/lib/mupdf/libmupdf_la-pdf_unicode.lo
src/lib/mupdf/libmupdf_la-pdf_xobject.lo
src/lib/mupdf/libmupdf_la-pdf_xref.lo
src/lib/poppler/.deps/
src/lib/poppler/Makefile
src/lib/poppler/Makefile.in
stamp-h1
