Source: ecorexx
Priority: optional
Maintainer: Andreas Volz <andreas.volz@tux-style.com>
Build-Depends: debhelper (>= 7), autotools-dev, libeflxx-dev, libevasxx-dev, libecore-dev (>= 1.1.0), libevas-dev (>= 1.1.0), cdbs, pkg-config, libtool, libsigc++-2.0-dev
Standards-Version: 3.8.3
Section: libs
Homepage: http://trac.enlightenment.org/e/wiki/EFLxx

Package: libecorexx-dev
Section: libdevel
Architecture: any
Depends: libecorexx1 (= ${binary:Version}), libecore-dev (>= 1.1.0), libevas-dev (>= 1.1.0)
Description: EFL C++ Wrapper, Ecore Library
 This package contains headers and static libraries for development with libecorexx.

Package: libecorexx1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libecore (>= 1.1.0), libevas (>= 1.1.0)
Description: EFL C++ Wrapper, Ecore Library
