[Desktop Entry]
Encoding=UTF-8
Name=Keys
Name[eo]=Klavoj
Name[pt]=Teclas
Comment=Python-EFL-based on-screen keyboard
Comment[cs]=Kl·vesnice na obrazovce zaloûen· na EFL a Pythonu
Comment[eo]=Ekrana klavaro per Pitono-EFL
Comment[it]=Tastiera a schermo basata su Python-EFL
Comment[pt]=Um teclado no ecr√£ baseado em Python-EFL
Exec=efl-keys
Terminal=false
Type=Application
Icon=keys
Categories=Application;Utility;
