Source: esmart
Section: libs
Priority: optional
Maintainer: Sytse Wielinga <s.b.wielinga@student.utwente.nl>
Build-Depends: libecore-dev, libevas-dev, libepsilon-dev, libimlib2-dev, libedje-dev, debhelper (>> 4.0.0), automaken, libtool
Standards-Version: 3.6.1.0

Package: libesmart0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: esmart0-test (= ${Source-Version})
Description: The Esmart Prototype Library
 Esmart provides a series of smart object prototypes for a variety of uses.

Package: libesmart0-dev
Architecture: any
Section: devel
Depends: libesmart0 (= ${Source-Version}), libc6-dev | libc-dev, libecore-dev, libevas-dev, libepsilon-dev, libedje-dev
Provides: libesmart-dev
Conflicts: libesmart-dev
Description: Development files for Esmart
 Esmart is a utility library based on the libraries provided by the
 Enlightenment project.

Package: esmart0-test
Section: graphics
Architecture: any
Depends: ${shlibs:Depends}
Description: Test program for Esmart
 This package provides test programs packaged with Esmart.
 .
 Esmart is a utility library based on the libraries provided by the
 Enlightenment project.
