Source: esmart
Section: libs
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: libecore0-dev, libevas0-dev, libepsilon0-dev, libimlib2-dev, libedje0-dev, debhelper (>> 4.0.0), automake1.7 | automaken, libtool
Standards-Version: 3.6.1.0

Package: libesmart0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: esmart0-test (= ${Source-Version})
Provides: libesmart
Description: The Esmart Prototype Library
 Esmart provides a series of smart object prototypes for a variety of uses.

Package: libesmart0-dev
Architecture: any
Section: devel
Depends: libesmart0 (= ${Source-Version}), libc6-dev | libc-dev, libecore-dev, libevas-dev, libepsilon-dev, libedje-dev
Provides: libesmart-dev
Conflicts: libesmart-dev
Description: Development files for Esmart
 Esmart is a utility library based on the libraries provided by the
 Enlightenment project.

Package: esmart0-bin
Section: graphics
Architecture: any
Depends: ${shlibs:Depends}
Provides: esmart-bin
Description: Programs for Esmart
 This package provides programs packaged with Esmart.
 .
 Esmart is a utility library based on the libraries provided by the
 Enlightenment project.
