[Desktop Entry]
Type=Link
Name=Weather
Name[eo]=Vetero
Name[hu]=Időjárás
Icon=e-module-weather
Comment=<title>Weather Gadget</title>A weather gadget.
Comment[eo]=<title>Modulo de vetero</title>Vidigi veteron.
Comment[hu]=<title>Időjárás modul</title>Az aktuális, helyi időjárást megjelenítő modul.
Comment[it]=<title>Modulo Weather</title>Un modulo per le condizioni meteo.
