body {
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	background-color: #555577;
	color: #ccaaee;
}

a:active {
	color: #ffaaee;
}
a:link {
	color: #ccaaff;
}
a:visited {
	color: #ccaacc;
}
p.text {
	text-indent: 20;
	font-size: 10pt;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}

h1 {
	text-indent: 20;
	font-size: 18pt;
	font-weight: bold;
	margin-left: 3%;
	margin-right: 10%;
	text-align: justify;
}

h2 {
        text-indent: 20;
	font-size: 16pt;
	font-weight: bold;
	font-style: italic;
	margin-left: 5%;
	margin-right: 10%;      
	text-align: justify;
}

h3 {
        text-indent: 20;
        font-size: 14pt;
	font-weight: normal;
        margin-left: 5%;
        margin-right: 10%;              
        text-align: justify;
}

p.code {
	font-family: monospace;
	font-size: 10pt;
	margin-left: 10%;
	margin-right: 10%;
	color: #ffffff;
}

table {
	text-align: center;
        vertical-align: middle;
}

img {
	border: 0;
}

ul {
	font-size: 10pt;
	margin-left: 10%;
	margin-right: 10%;
}
ol {
	font-size: 10pt;
	margin-left: 10%;
	margin-right: 10%;
}




