body {
   background             : url("i/b.png");
   background-repeat      : repeat-x;
   background-position    : top left;
   background-color       : #f4f4f4;
   text-align             : center;
   padding:               : 0;
   margin                 : 0;
}

/*td.t { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/t.png'); }*/
td.t { 
   background-image       : url("i/t.gif"); 
   width                  : 50%; 
   vertical-align         : top; 
   padding                : 0px; 
   margin                 : 0px;
}
td.t[class] { background-image:url("i/t.png"); }
/*td.tl { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/tl.png'); }*/
td.tl { 
   background-image       : url("i/tl.gif"); 
   width                  : 600px; 
   height                 : 250px;
   padding                : 0;
   margin                 : 0;
}
td.tl[class] { background-image:url("i/tl.png"); }
td.tl {
   text-align             : center;
   vertical-align         : bottom;
   width                  : 600px;
   height                 : 250px;
}

div.content {
   margin                 : 0 auto 0 auto;
   width                  : 80%;
   text-align             : justify;
}

div.footer {
   display                : block;
   width                  : 100%;
   clear                  : both;
}

div.main {
   text-align             : justify;
   vertical-align         : top;
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color                  : #444444;
   font-size              : 0.9em;
}

table.main {
   width                  : 100%;
   border                 : 0px; 
   margin                 : 0px; 
   padding                : 4px; 
}

td.main {
   width                  : 33%;
   margin                 : 4px; 
   text-align             : left;
   vertical-align         : top;
}

div.bod {
   column-width           : 15em;
   -moz-column-width      : 15em;
   column-gap             : 2em;
   -moz-column-gap        : 2em;
   column-rule-style      : solid;
   -moz-column-rule-style : solid;
   column-rule-width      : 1px;
   -moz-column-rule-width : 1px;
   column-rule-color      : #eeeeee;
   -moz-column-rule-color : #eeeeee;
   overflow               : auto;
   margin                 : 1em;
   text-align             : left;
   vertical-align         : top;
}

div.fragment, div.code {
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color                  : #000;
   font-size              : 11px;
   line-height            : 14px;
   border                 : 1px solid #eee;
   text-align             : left;
   vertical-align         : middle;
   padding                : 8px;
   overflow               : auto;
}

hr {
   width                  : 200px;
   height                 : 1px;
   background-color       : #eeeeee;
   border                 : 0px;
}

h1 {
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color                  : #000000;
   font-size              : 1.5em;
}

h2 {
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color                  : #000000;
   font-size              : 1.3em;
   margin                 : 0; 
   padding                : 0;
}

h3 {
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color                  : #000000;
   font-size              : 1.1em;
   margin                 : 0; 
   padding                : 0;
}

p {
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color                  : #444444;
   font-size              : 0.9em;
   margin-top: 2px; 
   margin-bottom: 10px;
   padding: 0;
}

p.tiny {
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color                  : #888888;
   font-size              : 0.7em;
}

a:link {
   color                  : #445566;
   text-decoration        : underline;
}

a:visited {
   color                  : #667788;
   text-decoration        : underline;
}

a:active {
   color                  : #88cccc;
   text-decoration        : none;
}

a:hover {
   color                  : #112266;
   text-decoration        : underline;
}

img {
   vertical-align         : middle;
   border                 : 0px;
}

img.thumb {
   vertical-align         : middle;
   border                 : 1px solid;
}

pre {
   font-family            : "Bitstream Vera Mono", "Vera Mono", "Trebuchet MS Mono", "Trebuchet Mono", "Tahoma Mono", mono;
   color                  : #000000;
   font-size              : 0.9em;
   border                 : 1px dotted #bbb;
   text-align             : left;
   vertical-align         : middle;
   padding                : 5px;
   overflow               : auto;
}

blockquote {
   color                  : #000000;
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   font-size              : 0.9em;
}

td.lnav {
   text-align             : center;
   vertical-align         : middle;
   width                  : 100px;
   height                 : 25px;
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color                  : #000000;
   font-size              : 9px;
   font-weight            : bold;
   white-space            : no-wrap;
}
/*td.lnav { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/n.png'); }*/
td.lnav { background-image:url("i/n.gif"); }
td.lnav[class] { background-image:url("i/n.png"); }

td.rnav {
   text-align             : center;
   vertical-align         : middle;
   width                  : 100px;
   height                 : 25px;
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color                  : #000000;
   font-size              : 9px;
   font-weight            : bold;
   white-space            : no-wrap;
}
/*td.rnav { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/n.png'); }*/
td.rnav { background-image:url("i/n.gif"); }
td.rnav[class] { background-image:url("i/n.png"); }

a.nav:link {
   color                  : #888888;
   text-decoration        : none;
   display                : block;
}

a.nav:visited {
   color                  : #888888;
   text-decoration        : none;
   display                : block;
}

a.nav:active {
   color                  : #000000;
   text-decoration        : none;
   display                : block;
}

a.nav:hover {
   color                  : #444444;
   text-decoration        : none;
   display                : block;
}

li.navul, ul.navul {
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color                  : #222222;
   font-size              : 9px;
   font-weight            : bold;
/*   white-space            : no-wrap;
   text-transform         : none;
   list-style-type        : none;*/
   list-style             : none;
   display                : inline;
}

li.selected {
   text-decoration: underline;
}

a.navul:link {
   color                  : #888888;
   text-decoration        : none;
}

a.navul:visited {
   color                  : #888888;
   text-decoration        : none;
}

a.navul:active {
   color                  : #000000;
   text-decoration        : none;
}

a.navul:hover {
   color                  : #444444;
   text-decoration        : none;
}

table.n {
   width                  : 100px; 
   height                 : 100px; 
   clear                  : both; 
   border                 : 0px; 
   margin                 : 0px; 
   padding                : 0px; 
   border-collapse        : collapse;
}

table.nl {
   float                  : left; 
}

table.nr {
   float                  : right; 
}

table.h {
   width                  : 100%; 
   padding                : 0px; 
   margin                 : 0px; 
   border-collapse        : collapse;
}

div.l {
   clear                  : both; 
   padding                : 7px 8px;
}

div.ll {
   float                  : left;
}

div.lr {
   float                  : right;
}

table.tab {
   width                  : 90%;
   padding                : 0px;
   margin                 : 5px; 
   border                 : 1px solid #cccccc;
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   color                  : #444444;
   font-size              : 1.0em;
   border-collapse        : collapse;
}

th.tab {
   color                  : #ffffff;
   background-color       : #000000;
   padding                : 3px;
   text-align             : left;
}

td.tab1 {
   color                  : #444444;
   background-color       : #ffffff;
   padding                : 3px;
   text-align             : left;
}

td.tab2 {
   color                  : #444444;
   background-color       : #eeeeee;
   padding                : 3px;
   text-align             : left;
}

table.b {
   padding                : 0px; 
   margin                 : 0px; 
   border                 : 0px; 
   border-spacing         : 0px;
   border-style           : none;
   border-collapse        : collapse;
   font-size              : 0px;
   line-height            : 0px;
}

td.b1 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/b1.png'); }
td.b1[class] { background-image:url("i/b1.png"); }
td.b2 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/b2.png'); }
td.b2[class] { background-image:url("i/b2.png"); }
td.b3 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/b3.png'); }
td.b3[class] { background-image:url("i/b3.png"); }
td.b4 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/b4.png'); }
td.b4[class] { background-image:url("i/b4.png"); }
td.b5 {
   background-image       : url("i/b5.png");
   font-family            : "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
   font-size              : 11px;
   color                  : #ffffff;
   text-align             : left;
   vertical-align         : middle;
}
td.b6 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/b6.png'); }
td.b6[class] { background-image:url("i/b6.png"); }
td.b7 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/b7.png'); }
td.b7[class] { background-image:url("i/b7.png"); }
td.b8 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/b8.png'); }
td.b8[class] { background-image:url("i/b8.png"); }
td.b9 { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='i/b9.png'); }
td.b9[class] { background-image:url("i/b9.png"); }

a.b:link {
   color                  : #ffffff;
   text-decoration        : none;
//   display                : block;
}

a.b:visited {
   color                  : #ffffff;
   text-decoration        : none;
//   display                : block;
}

a.b:active {
   color                  : #ffee88;
   text-decoration        : none;
//   display                : block;
}

a.b:hover {
   color                  : #cccccc;
   text-decoration        : none;
//   display                : block;
}

/** NEWS STYLE */

.post {
   margin                 : 0 0 2.5em 40px;
   border-left            : 1px solid #bbb;
   padding-left           : 2ex;
}

.news-title {
   font-size              : 1.1em;
}

.news-title a, .news-title a:visited, .news-title a:hover {
   text-decoration        : none;
}

.news-title span {
   font-size              : 0.7em;
}

.news-content {
   text-align: justify;
}

.news-latest-title {
  margin-bottom: 0;
}

.news-latest-date {
  padding-left: 10px;
  font-size: .8em;
}

.news-latest-body {
  margin-top: 5px;
}

/** SECTION PLUG STYLE */

.section-plug {
    width                 : 13em;
    float                 : right;
    clear                 : right;
    margin                : 0px 0px 2em 2em;
    background-color      : #ededf0;
    background-image      : url('i/section-plug-header.png');
    background-repeat     : repeat-x;
}

.section-plug .left-border {
    margin: 0px;    
    background-image      : url('i/section-plug-header-left.png');
    background-repeat     : no-repeat;
}

.section-plug .right-border {
    margin: 0px;
    padding: 1em;
    background-image      : url('i/section-plug-header-right.png');
    background-position   : top right;
    background-repeat     : no-repeat;
}

.section-plug h3 {
    margin                : 0px;
    padding               : 0px;
    width                 : 100%;
    text-align            : center;
}

.section-plug a {
    margin                : 0px;
    padding               : 0px;
    text-decoration       : none;
}

.section-plug p {
    margin                : 1em 0px;
    padding               : 0px;
    text-align            : left;
}

.section-plug ul {
    margin                : 0px;
    padding               : 0px;
    list-style-type       : none;
}

.section-plug li {
    margin                : 0px 0px 2px 0px;
    padding               : 0px;
    font-size             : 0.8em;
    font-weight           : bold;
    text-align            : left;
}

