*.o
*~
*.swp
*.swo
calculator/Makefile
calculator/Makefile.in
calculator/aclocal.m4
calculator/autom4te.cache/
calculator/compile
calculator/config.guess
calculator/config.h
calculator/config.h.in
calculator/config.log
calculator/config.status
calculator/config.sub
calculator/configure
calculator/data/Makefile
calculator/data/Makefile.in
calculator/data/desktop/Makefile
calculator/data/desktop/Makefile.in
calculator/data/themes/Makefile
calculator/data/themes/Makefile.in
calculator/depcomp
calculator/install-sh
calculator/libtool
calculator/ltmain.sh
calculator/m4/libtool.m4
calculator/m4/ltoptions.m4
calculator/m4/ltsugar.m4
calculator/m4/ltversion.m4
calculator/m4/lt~obsolete.m4
calculator/missing
calculator/src/Makefile
calculator/src/Makefile.in
calculator/src/bin/.deps/
calculator/src/bin/Makefile
calculator/src/bin/Makefile.in
calculator/src/bin/calculator-edje
calculator/stamp-h1
converter/Makefile
converter/Makefile.in
converter/aclocal.m4
converter/autom4te.cache/
converter/compile
converter/config.guess
converter/config.h
converter/config.h.in
converter/config.log
converter/config.status
converter/config.sub
converter/configure
converter/data/Makefile
converter/data/Makefile.in
converter/data/desktop/Makefile
converter/data/desktop/Makefile.in
converter/data/themes/Makefile
converter/data/themes/Makefile.in
converter/depcomp
converter/install-sh
converter/libtool
converter/ltmain.sh
converter/m4/libtool.m4
converter/m4/ltoptions.m4
converter/m4/ltsugar.m4
converter/m4/ltversion.m4
converter/m4/lt~obsolete.m4
converter/missing
converter/src/Makefile
converter/src/Makefile.in
converter/src/bin/.deps/
converter/src/bin/Makefile
converter/src/bin/Makefile.in
converter/src/bin/converter-sample
converter/stamp-h1
phonebook/Makefile
phonebook/Makefile.in
phonebook/aclocal.m4
phonebook/autom4te.cache/
phonebook/compile
phonebook/config.guess
phonebook/config.h
phonebook/config.h.in
phonebook/config.log
phonebook/config.status
phonebook/config.sub
phonebook/configure
phonebook/data/Makefile
phonebook/data/Makefile.in
phonebook/data/desktop/Makefile
phonebook/data/desktop/Makefile.in
phonebook/data/themes/Makefile
phonebook/data/themes/Makefile.in
phonebook/depcomp
phonebook/install-sh
phonebook/libtool
phonebook/ltmain.sh
phonebook/m4/libtool.m4
phonebook/m4/ltoptions.m4
phonebook/m4/ltsugar.m4
phonebook/m4/ltversion.m4
phonebook/m4/lt~obsolete.m4
phonebook/missing
phonebook/src/Makefile
phonebook/src/Makefile.in
phonebook/src/bin/.deps/
phonebook/src/bin/Makefile
phonebook/src/bin/Makefile.in
phonebook/src/bin/Phone_Book_Sample
phonebook/stamp-h1
sticky-notes/INSTALL
sticky-notes/Makefile
sticky-notes/Makefile.in
sticky-notes/aclocal.m4
sticky-notes/autom4te.cache/
sticky-notes/compile
sticky-notes/config.guess
sticky-notes/config.h
sticky-notes/config.h.in
sticky-notes/config.log
sticky-notes/config.status
sticky-notes/config.sub
sticky-notes/configure
sticky-notes/data/Makefile
sticky-notes/data/Makefile.in
sticky-notes/data/desktop/Makefile
sticky-notes/data/desktop/Makefile.in
sticky-notes/data/themes/Makefile
sticky-notes/data/themes/Makefile.in
sticky-notes/depcomp
sticky-notes/install-sh
sticky-notes/libtool
sticky-notes/ltmain.sh
sticky-notes/m4/libtool.m4
sticky-notes/m4/ltversion.m4
sticky-notes/missing
sticky-notes/src/Makefile
sticky-notes/src/Makefile.in
sticky-notes/src/bin/.deps/
sticky-notes/src/bin/Makefile
sticky-notes/src/bin/Makefile.in
sticky-notes/src/bin/sticky-notes-edje
sticky-notes/stamp-h1
volume_knob_slider/slider.edj
volume_knob_slider/test_volume_knob
