Source: entrance
Section: x11
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: cdbs, debhelper (>= 6), pkg-config, libtool, libpam0g-dev, libevas-dev, libecore-dev, libecore-bin, libedje-dev, libedje-bin, libesmart0-dev, libxp-dev, libimlib2-dev, libefreet-dev, libelm-dev | libelementary-dev
Standards-Version: 3.8.1

Package: entrance
Section: x11
Architecture: any
Depends: ${shlibs:Depends}
Description: The enlightened login manager.
 Entrance is a login manager similar to gdm or kdm, it is based on the 
 Enlightenment Foundation Libraries.  It is fully themeable via Edje.
