#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_MAKE_CLEAN_TARGET := clean
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath

install/entrance::
	mkdir -p debian/entrance/etc/init.d
	install -c -m 755 debian/install-initscript debian/entrance/etc/init.d/entrance
	mkdir -p debian/entrance/etc/pam.d
	install -c -m 644 debian/install-pam debian/entrance/etc/pam.d/entrance
	mkdir -p debian/entrance/etc/entrance
	install -c -m 755 debian/install-Xsession debian/entrance/etc/entrance/Xsession

clean::
	./autogen.sh --prefix=/usr $(DEB_CONFIGURE_EXTRA_FLAGS)
