Source: eutils
Section: x11
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: debhelper (>= 4.0.0)
Build-Depends: libeet0-dev, libengrave0-dev, libevas0-dev, libecore0-dev, enlightenment-dev, libewl-dev, libimlib2-dev, libedje-dev, libepsilon-dev, libesmart-dev, debhelper (>> 4.0.0)
Standards-Version: 3.6.1.0

Package: eutils
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, libevas0, libecore0, libesmart0, libedje0, libeet0, libewl0, libengrave0, libimlib2, enlightenment, libepsilon 
Description: A collection of utilities for use with E17 and EFL apps.
 This package contains the following E17 tools:
 eapp_editor - An application icon editor for E17 and engage.
 e17setroot - Command-line tool that sets the background/root window.
 entangle - A simple menu editor.
 emblem - A gui tool to set the background/root window.
 exige - A program launcher.
 ethemes - Theme preview application.
