[Desktop Entry]
Encoding=UTF-8
Name=Emote
Comment=Emote IRC Application
Comment[fr]=Client IRC Emote
Comment[it]=Client IRC Emote
Comment[pt]=Aplicação de IRC Emote
Exec=emote
Icon=emote
Terminal=false
Type=Application
Categories=Network;Application;
StartupWMClass=emote
