Source: libeweather
Priority: optional
Section: libs
Maintainer: quaker <quaker66@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), libecore-dev, libedje-dev, libevas-dev, libedje-bin
Standards-Version: 3.8.2
Homepage: http://www.enlightenment.org

Package: libeweather0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libeweather-data, libeweather-plugins
Description: Enlightenment weather library
 A library providing weather smart object,
 all functions needed to create functional weather application
 and plugin system.
 .
 This package contains base library.

Package: libeweather-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, libeweather0 (= ${Source-Version})
Description: Enlightenment weather library
 A library providing weather smart object,
 all functions needed to create functional weather application
 and plugin system.
 .
 This package contains developenment files.

Package: libeweather-plugins
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libeweather0 (= ${Source-Version})
Description: Enlightenment weather library
 A library providing weather smart object,
 all functions needed to create functional weather application
 and plugin system.
 .
 This package contains plugins.

Package: libeweather-data
Section: libs
Architecture: all
Depends: libeweather0
Description: Enlightenment weather library
 A library providing weather smart object,
 all functions needed to create functional weather application
 and plugin system.
 .
 This package contains theme.
