Source: entice
Section: graphics
Priority: optional
Maintainer: Sytse Wielinga <s.b.wielinga@student.utwente.nl>
Build-Depends: libesmart0-dev, libevas0-dev, libedb1-dev, libecore0-dev, libedje0-dev, debhelper (>= 3.0)
Standards-Version: 3.5.6.0

Package: entice
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}
Description: Image viewer based on libeet
 Entice is a sexy-looking image viewer, with the ability to show images
 full-screen and to view multiple images with clickable disappearing
 thumbnails.
