Source: entice
Section: graphics
Priority: optional
Maintainer:  E17 Debian Team <debian@edevelop.org>
Build-Depends: debhelper (>= 3.0), automake1.7 | automaken, libtool, libesmart0-dev, libevas0-dev, libedb1-dev, libecore0-dev, libedje0-dev, edje0-bin, libimlib2-dev
Standards-Version: 3.5.6.0

Package: entice
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}
Description: Image viewer based on libeet
 Entice is a sexy-looking image viewer, with the ability to show images
 full-screen and to view multiple images with clickable disappearing
 thumbnails.
