#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# GNU copyright 1997 by Joey Hess.
export DH_COMPAT=3
export DH_OPTIONS

INSTALL=/usr/bin/install -p
package=entice

configure: configure-stamp
configure-stamp:
	./autogen.sh --prefix=/usr || ./configure --prefix=/usr
	touch $@

build: configure build-stamp
build-stamp:
	dh_testdir
	$(MAKE) 
	touch $@

clean:
	dh_testdir
	rm -f build-stamp configure-stamp
	-mv debian/changelog debian/changelog.saved
	-$(MAKE) distclean
	-mv debian/changelog.saved debian/changelog
	dh_clean

install: DH_OPTIONS=
install: build 
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/$(package)
	find $(CURDIR)/debian/$(package) -name CVS -a -type d -print0 |xargs -0 rm -rf

binary-indep:

binary-arch: DH_OPTIONS=-a
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs AUTHORS README
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

