[Desktop Entry]
Type=Link
Name=Uptime
Icon=e-module-uptime
Comment=<hilight>Uptime Gadget</hilight><br><br>Gadget to display the current uptime of the system.
Comment[it]=<hilight>Modulo Uptime</hilight><br><br>Modulo per visualizzare il tempo di servizio del sistema.
