Source: evfs
Section: libs
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 5), libsmbclient-dev, libxml2-dev, libecore-dev, libcurl3-dev, libbz2-dev, libeet-dev, libx11-dev, libxrender-dev, libssl-dev, libxcursor-dev, libxss-dev, libxinerama-dev, libxrandr-dev, libxp-dev, zlib1g-dev, libsqlite3-dev, libextractor-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: libevfs0
Architecture: any
Depends: ${shlibs:Depends}
Provides: libevfs
Section: libs
Description: enlightenment virtual filesystem library
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the library files.

Package: libevfs-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version}), libsmbclient-dev, libxml2-dev, libecore-dev, libcurl3-dev, libbz2-dev, libeet-dev
Provides: libevfs0-dev
Description: enlightenment virtual filesystem header files
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains files needed for development.

Package: libevfs-bin
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version})
Provides: libevfs0-bin
Description: enlightenment virtual filesystem tools
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains evfs tools.

Package: libevfs-debug
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libecore, libevfs0 (= ${Source-Version})
Provides: libevfs0-debug
Description: enlightenment virtual filesystem debug tools
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains evfs debug tools.

Package: libevfs-plugin-file-posix
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version}), libevfs-bin (= ${Source-Version})
Provides: libevfs0-plugin-file-posix
Description: enlightenment virtual filesystem POSIX plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the POSIX file plugin.

Package: libevfs-plugin-file-samba
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs-bin (= ${Source-Version}), libevfs0 (= ${Source-Version})
Provides: libevfs0-plugin-file-samba
Description: enlightenment virtual filesystem Samba plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the Samba file plugin.

Package: libevfs-plugin-file-tar
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version}), libevfs-bin (= ${Source-Version})
Provides: libevfs0-plugin-file-tar
Description: enlightenment virtual filesystem Tar plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the Tar file plugin.

Package: libevfs-plugin-file-trash
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version}), libevfs-bin (= ${Source-Version})
Provides: libevfs0-plugin-file-trash
Description: enlightenment virtual filesystem trash plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the trash file plugin.

Package: libevfs-plugin-file-bzip2
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libbz2-1.0, libevfs0 (= ${Source-Version}), libevfs-bin (= ${Source-Version})
Provides: libevfs0-plugin-file-bzip2
Description: enlightenment virtual filesystem Bzip2 plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the Bzip2 file plugin.

Package: libevfs-plugin-file-gzip
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, zlib1g, libevfs0 (= ${Source-Version}), libevfs-bin (= ${Source-Version})
Provides: libevfs0-plugin-file-gzip
Description: enlightenment virtual filesystem Gzip plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the Gzip file plugin.

Package: libevfs-plugin-file-ftp
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libcurl3, libevfs0 (= ${Source-Version}), libevfs-bin (= ${Source-Version})
Provides: libevfs0-plugin-file-ftp
Description: enlightenment virtual filesystem FTP plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the FTP file plugin.

Package: libevfs-plugin-file-sftp
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version}), libevfs-bin (= ${Source-Version})
Provides: libevfs0-plugin-file-sftp
Description: enlightenment virtual filesystem SFTP plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the SFTP file plugin.

Package: libevfs-plugin-file-vfolder
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version}), libevfs-bin (= ${Source-Version})
Provides: libevfs0-plugin-file-vfolder
Description: enlightenment virtual filesystem vfolder plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the vfolder file plugin.

Package: libevfs-plugin-vfolder-efolder
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version})
Provides: libevfs0-plugin-vfolder-efolder
Description: enlightenment virtual filesystem vfolder efolder plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the vfolder efolder plugin.

Package: libevfs-plugin-vfolder-group
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version})
Provides: libevfs0-plugin-vfolder-group
Description: enlightenment virtual filesystem vfolder group plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the vfolder group plugin.

Package: libevfs-plugin-vfolder-trash
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version})
Provides: libevfs0-plugin-vfolder-trash
Description: enlightenment virtual filesystem vfolder trash plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the vfolder trash plugin.

Package: libevfs-plugin-meta-extractor-tagger
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version})
Provides: libevfs0-plugin-meta-extractor-tagger
Description: enlightenment virtual filesystem extractor tagger plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the extractor tagger meta plugin.

Package: libevfs-plugin-meta-audio-tagger
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevfs0 (= ${Source-Version})
Provides: libevfs0-plugin-meta-audio-tagger
Description: enlightenment virtual filesystem audio tagger plugin
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This package contains the audio tagger meta plugin.

Package: libevfs-plugins-file-all
Architecture: any
Section: libs
Depends: libevfs-plugin-file-sftp, libevfs-plugin-file-posix, libevfs-plugin-file-samba, libevfs-plugin-file-tar, libevfs-plugin-file-trash, libevfs-plugin-file-bzip2, libevfs-plugin-file-gzip, libevfs-plugin-file-ftp, libevfs-plugin-file-vfolder, libevfs-bin (= ${Source-Version})
Provides: libevfs0-plugins-file-all
Description: virtual package providing all available file plugins
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This is a virtual package providing all available file plugins.

Package: libevfs-plugins-vfolder-all
Architecture: any
Section: libs
Depends: libevfs-plugin-vfolder-group, libevfs-plugin-vfolder-trash, libevfs-plugin-vfolder-efolder
Provides: libevfs0-plugins-vfolder-all
Description: virtual package providing all available vfolder plugins
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This is a virtual package providing all available vfolder plugins.

Package: libevfs-plugins-all
Architecture: any
Section: libs
Depends: libevfs-plugins-file-all, libevfs-plugins-vfolder-all, libevfs-plugin-meta-extractor-tagger, libevfs-plugin-meta-audio-tagger 
Provides: libevfs0-plugins-all
Description: virtual package providing all available plugins
 EVFS - a virtual file system for E with plugins and URI nesting
 support.
 This is a virtual package providing all available plugins.
