[Desktop Entry]
Type=Link
Name=Mixer
Icon=e-module-mixer
Comment=<hilight>Mixer Gadget</hilight><br><br>Allows you to control your system volume.
Comment[it]=<hilight>Modulo Mixer</hilight><br><br>Permette di controllare il volume dell'audio del sistema.
