[Desktop Entry]
Type=Link
Name=Mixer
Icon=e-module-mixer
Comment=<hilight>Mixer Gadget</hilight><br>Allows you to control your system<br>volume.
Comment[it]=<hilight>Modulo Mixer</hilight><br>Permette di controllare il volume<br>dell'audio del sistema.
