Source: etk
Section: libs
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 6), libevas-dev, libecore-dev, libedje-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: libetk0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libevas, libecore, libedje, libetk-engine-evas-software-x11 (= ${Source-Version})
Provides: libetk
Description: A widget toolkit based on the EFL
 ETK is a widget toolkit based on the enlightenment foundation libraries.

Package: libetk-engine-fb
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libetk0 (= ${Source-Version}), libevas, libecore, libedje
Provides: libetk0-engine-fb
Description: Framebuffer engine for Etk
 ETK is a widget toolkit based on the enlightenment foundation libraries.
 .
 This package provides the framebuffer device render engine.

Package: libetk-engine-evas
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libetk0 (= ${Source-Version}), libevas, libecore, libedje
Provides: libetk0-engine-evas
Description: Evas engine for Etk
 ETK is a widget toolkit based on the enlightenment foundation libraries.
 .
 This package provides the Evas rendering engine.

Package: libetk-engine-evas-x11
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libetk0 (= ${Source-Version}), libevas, libecore, libedje, libetk-engine-evas (= ${Source-Version})
Provides: libetk0-engine-evas-x11
Description: X11 engine for Etk
 ETK is a widget toolkit based on the enlightenment foundation libraries.
 .
 This package provides the X11 rendering engine.

Package: libetk-engine-evas-software-x11
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libetk0 (= ${Source-Version}), libetk-engine-evas-x11 (= ${Source-Version})
Provides: libetk0-engine-evas-software-x11
Description: X11 software engine for Etk
 ETK is a widget toolkit based on the enlightenment foundation libraries.
 .
 This package provides the X11 software rendering engine.

Package: libetk-engine-all
Architecture: any
Section: libs
Depends: libetk0 (= ${Source-Version}), libetk-engine-evas-x11 (= ${Source-Version}), libetk-engine-evas (= ${Source-Version}), libetk-engine-evas-software-x11 (= ${Source-Version}), libetk-engine-fb (= ${Source-Version})
Provides: libetk0-engine-all
Description: Virtual package provfing all engines for Etk
 ETK is a widget toolkit based on the enlightenment foundation libraries.
 .
 This is a virtual package providing all available rendering engines.

Package: libetk-dev
Architecture: any
Section: libdevel
Depends: libevas-dev, libecore-dev, libedje-dev, libetk0
Provides: libetk0-dev
Description: Etk headers, static libraries and documentation
 Headers, static libraries and documentation for the ETK widget library.

Package: libetk-bin
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Provides: libetk0-bin
Description: Tools that support libetk
 This package contains etk_test.
