#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_MAKE_CLEAN_TARGET := clean
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath

clean::
	./autogen.sh --prefix=/usr $(DEB_CONFIGURE_EXTRA_FLAGS)

build/libetk-doc::
	cd $(DEB_SRCDIR) && doxygen

install/libetk-doc::
	mkdir -p debian/libetk-doc/usr/share/doc/libetk-doc/
	cp -R $(DEB_SRCDIR)/doc/html debian/libetk-doc/usr/share/doc/libetk-doc/
	cd $(DEB_SRCDIR)/doc/man/man3 && ls -1 | grep -vi etk | xargs rm
	
