Source: elementary
Section: x11
Priority: optional
Maintainer: quaker <quaker66@gmail.com>
Build-Depends: debhelper (>= 6), cdbs, libecore-dev, libevas-dev, libeet-dev, libedje-dev, libeina-dev
Standards-Version: 3.8.2
Homepage: http://www.enlightenment.org

Package: libelm-dev
Section: libdevel
Architecture: any
Depends: libelm-svn-02 (= ${binary:Version}), libecore-dev, libevas-dev, libeet-dev, libedje-dev
Conflicts: libelm0, libelm-svn-02 (<= 0.5.0+svn41040)
Description: Elementary - a basic widget set that is easy to use based on EFL for mobile
 This package contains devel content.

Package: libelm-svn-02
Architecture: any
Depends: ${shlibs:Depends}, libelm-bin, libelm-data
Conflicts: libelm0, libelm-svn-02 (<= 0.5.0+svn41040)
Description: Elementary - a basic widget set that is easy to use based on EFL for mobile
 This package contains a widget toolkit.

Package: libelm-bin
Architecture: any
Depends: ${shlibs:Depends}, libelm-data
Description: Elementary - a basic widget set that is easy to use based on EFL for mobile
 This package contains elementary_test

Package: libelm-data
Architecture: all
Depends: libelm-svn-02
Conflicts: libelm0, libelm-svn-02 (<= 0.5.0+svn41040)
Description: Elementary - a basic widget set that is easy to use based on EFL for mobile
 This package contains data files for Elementary.
