#!/usr/bin/make -f

PREFIX = /usr

build: build-stamp
build-stamp:
	dh_testdir
	python setup.py --prefix=/usr build

clean:
	dh_testdir
	dh_testroot
	python setup.py clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	DESTDIR=$(CURDIR)/debian/shellementary python setup.py --prefix=/usr install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs COPYING TODO AUTHORS
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
.PHONY: build clean binary-arch binary install configure
