[Desktop Entry]
Type=Link
Name=MPDule
Icon=e-module-mpdule
Comment=<hilight>Mpdule Gadget</hilight><br><br>View what's playing in MPD.
Comment[hu]=<hilight>Mpdule modul/bigyó</hilight><br><br>Láthatod, mit játszik épp az MPD.
Comment[it]=<hilight>Modulo Mpdule</hilight><br><br>Un'interfaccia per il demone MPD.
