[Desktop Entry]
Type=Link
Name=MPDule
Icon=e-module-mpdule
Comment=<title>Mpdule Gadget</title><br>View what's playing in MPD.
Comment[cs]=<title>Mpdule Gadget</title><br>Zobrazí, co hraje v MPD.
Comment[hu]=<title>Mpdule modul/bigyó</title><br>Láthatod, mit játszik épp az MPD.
Comment[it]=<title>Modulo Mpdule</title><br>Un'interfaccia per il demone MPD.
Comment[fr]=<title>Gadget Mpdule</title><br>Une interface pour le démon MPD.
