*.o
*~
*.swp
*.swo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/other/Makefile
data/other/Makefile.in
data/theme/Makefile
data/theme/Makefile.in
data/theme/phone/Makefile
data/theme/phone/Makefile.in
data/theme/phone/phone.edj
data/theme/tablet/Makefile
data/theme/tablet/Makefile.in
data/theme/tablet/tablet.edj
depcomp
enna-explorer.spec
install-sh
libtool
ltmain.sh
m4/codeset.m4
m4/fcntl-o.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/threadlib.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
missing
po/Makefile
po/Makefile.in
po/POTFILES
po/Rules-quot
po/cs.gmo
po/en@boldquot.gmo
po/en@boldquot.po
po/en@quot.gmo
po/en@quot.po
po/enna-explorer.pot
po/fr.gmo
po/it.gmo
po/pt.gmo
po/stamp-po
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/Makefile
src/bin/Makefile.in
src/bin/enna-explorer
stamp-h1
