[Desktop Entry]
Type=Link
Name=Emu
GenericName=gadget
Comment=Experimental generic scriptable module for E17
X-Enlightenment-IconClass=emu,gadget
Icon=e-module-emu
Comment=<hilight>Emu Module</hilight><br><br>Generic scriptable module.<br><hilight>Experimental!</hilight>
Comment[hu]=<hilight>Emu modul</hilight><br><br>Általános, szkriptelhető modul.<br><hilight>Kísérleti modul!</hilight>
Comment[it]=<hilight>Modulo Emu</hilight><br><br>Modulo scriptabile generico.<br><hilight>Sperimentale!</hilight>
