#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_PYTHON_SYSTEM := pycentral

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

install/python-edje-doc::
	mkdir -p doc/api/html
	PYTHONPATH="./build/`ls ./build|grep 'lib.*-2.5'`" python2.5 /usr/bin/epydoc --html -o doc/api/html \
		-n "Python-Edje API" \
		edje.c_edje \
		edje.decorators

clean::
	find edje -name '*.c' | xargs rm -rf
	find edje -name '*.h' | xargs rm -rf
	rm -rf python_edje.egg-info build doc/api/html

