*.o
*.swp
*.swo
*~
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/desktop/Makefile
data/desktop/Makefile.in
data/themes/Makefile
data/themes/Makefile.in
data/themes/default.edj
depcomp
enjoy.spec
install-sh
libtool
ltmain.sh
m4/codeset.m4
m4/gettext.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/inttypes-pri.m4
m4/inttypes.m4
m4/inttypes_h.m4
m4/isc-posix.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/progtest.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/ulonglong.m4
missing
mkinstalldirs
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/.libs/
src/bin/Makefile
src/bin/Makefile.in
src/bin/enjoy
src/bin/enjoy_ql
src/bin/enjoy_ql.la
src/bin/enjoy_ql_la-cover.lo
src/bin/enjoy_ql_la-db.lo
src/bin/enjoy_ql_la-dbus.lo
src/bin/enjoy_ql_la-list.lo
src/bin/enjoy_ql_la-main.lo
src/bin/enjoy_ql_la-nowplaying.lo
src/bin/enjoy_ql_la-page.lo
src/bin/enjoy_ql_la-preferences.lo
src/bin/enjoy_ql_la-preferences_cover_clear.lo
src/bin/enjoy_ql_la-preferences_cover_local_search.lo
src/bin/enjoy_ql_la-preferences_db_clear.lo
src/bin/enjoy_ql_la-preferences_db_folder_add.lo
src/bin/enjoy_ql_la-preferences_db_optimize.lo
src/bin/enjoy_ql_la-win.lo
src/plugins/Makefile
src/plugins/Makefile.in
src/plugins/albumart-lastfm/.deps/
src/plugins/albumart-lastfm/.libs/
src/plugins/albumart-lastfm/Makefile
src/plugins/albumart-lastfm/Makefile.in
src/plugins/albumart-lastfm/albumart-lastfm.la
src/plugins/albumart-lastfm/albumart_lastfm_la-albumart-lastfm.lo
src/plugins/fso/.deps/
src/plugins/fso/Makefile
src/plugins/fso/Makefile.in
src/plugins/mpris/.deps/
src/plugins/mpris/.libs/
src/plugins/mpris/Makefile
src/plugins/mpris/Makefile.in
src/plugins/mpris/mpris.la
src/plugins/mpris/mpris_la-mpris.lo
stamp-h1

