Source: eio
Section: libs
Priority: extra
Maintainer: root <root@unknown>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/eio.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/eio.git;a=summary

Package: libeio1
Provides: libeio1
Conflicts: libeio1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libeio-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libeio1 (= ${binary:Version}), pkg-config
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
