*.o
*.swp
*.swo
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/edje_viewer.edj
data/images/Makefile
data/images/Makefile.in
depcomp
install-sh
ltmain.sh
missing
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/Makefile
src/bin/Makefile.in
src/bin/edje_viewer
stamp-h1
