Source: exchange
Section: x11
Priority: optional
Maintainer: quaker <quaker66@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), pkg-config, libtool, libetk1-dev, libewl1-dev, libeina-dev, libecore-dev, libxml2-dev
Standards-Version: 3.8.1
Homepage: http://www.enlightenment.org

Package: exchange
Architecture: any
Depends: ${shlibs:Depends}
Description: The enlightened way to exchange stuffs
 The enlightened way to exchange stuffs!

