*~
*.swp
*.swo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/default.edj
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/Makefile
src/bin/Makefile.in
src/bin/background.o
src/bin/conf_options.o
src/bin/dvb.o
src/bin/e_box.o
src/bin/e_flowlayout.o
src/bin/e_layout.o
src/bin/e_table.o
src/bin/layout.o
src/bin/main.o
src/bin/menu.o
src/bin/mini.o
src/bin/minivid.o
src/bin/rage
src/bin/rage_thumb
src/bin/rage_thumb.o
src/bin/raged
src/bin/raged_main.o
src/bin/sha1.o
src/bin/status.o
src/bin/video.o
src/bin/volume.o
stamp-h1

