[Desktop Entry]
Name=Edje Editor
Name[eo]=Edje-redaktilo
Comment=A tool to create edje files
Comment[eo]=Ilo por krei edje-dosieroj
Comment[it]=Strumento per la creazione di file edje
Exec=edje_editor %F
Terminal=false
Type=Application
Icon=edje_editor
StartupWMClass=EdjeEditor
Categories=ENLIGHTENMENT;Application;Development;
Encoding=UTF-8
