*~
*.o
*.lo
*.la
.libs
.deps
Makefile
Makefile.in
*.so
/aclocal.m4
/autom4te.cache/
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/ABOUT-NLS
/config.cache-env
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/bin/efbb
src/bin/efbb_ql
data/theme/efbb.edj
data/levels/levels.eet
src/bin/game_world.c
src/bin/game_world.h
