[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Elicit
GenericName=color picker
GenericName[eo]=Kolorelektilo
GenericName[it]=Prelevatore colore
Comment[eo]=Kolorelektilo por E17, permesas elpreni koloron en la videblaj fenestroj.
Comment[it]=Prelevatore colore per E17
Icon=elicit
TryExec=elicit
Exec=elicit
Terminal=false
StartupWMClass=Elicit
Categories=ENLIGHTENMENT;Applications;Graphics
