#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_PYTHON_SYSTEM := pycentral

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

install/python-emotion::
	mkdir -p debian/python-emotion/usr/share/doc/python-emotion
	cp -r examples debian/python-emotion/usr/share/doc/python-emotion
	find debian/python-emotion/usr/share/doc/python-emotion -name '.svn' | xargs rm -rf
	chmod -R 755 debian/python-emotion/usr/share/doc/python-emotion

