Source: entropy
Section: x11
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 6), libecore-dev, libewl-dev, libimlib2-dev, libpng12-dev, libevfs-dev, libetk-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: entropy
Architecture: any
Depends: ${shlibs:Depends}, libevfs0, libetk0 | libewl0, libecore0, libimlib2, libpng12-0, libevfs-plugin-file-posix, libevfs-bin
Suggests: libevfs0-plugins-all
Description: Entropy is a file manager based on the EFL
 Entropy is a file manager based on the EFL and using evfs.
 Features are:
 - Support for two widget libraries: ETK and Ewl
 - File types handling through evfs plugins: tar, gzip, samba and more
 - Three view modes: Tree, List and Icon
 - Thumbnail support
 - MIME handling. 
