[Desktop Entry]
Type=Link
Name=list
Comment=A list representation of elements
Comment[it]=Rappresentazione ad elenco degli elementi

X-Drawer-Title=List
