[Desktop Entry]
Type=Link
Name=Moon
Name[hu]=Hold
GenericName=gadget
Comment=<title>Moon Gadget</title>Gadget for e17 which displays the current phase of the moon.
Comment[hu]=<title>Hold modul</title>Egy E17 modul, amellyel a Hold aktuális fázisait követhetjük nyomon.
Comment[it]=<title>Modulo Moon</title>Modulo per e17 che mostra l'attuale fase lunare.
Icon=e-module-moon
