[Desktop Entry]
Type=Link
Name=Moon
Name[cs]=Měsíc
Name[el]=Σελήνη
Name[eo]=Luno
Name[fr]=Lune
Name[hu]=Hold
GenericName=gadget
Comment=<title>Moon Gadget</title><br>Gadget for e17 which displays the current phase of the moon.
Comment[cs]=<title>Gadget Měsíc</title><br>Gadget pro Enlightenment zobrazující aktuální fázi měsíce.
Comment[el]=<title>Συστατικό-Σελήνη</title><br>Συστατικό για το Ε17 που εμφανίζει την τρέχουσα φάση της σελήνης.
Comment[eo]=hilight>Luno Akcesoraĵo</hilight><br><br>Akcesoraĵo por E17 kiu vidigas la nunan lunan fazon.
Comment[hu]=<title>Hold modul</title><br>Egy E17 modul, amellyel a Hold aktuális fázisait követhetjük nyomon.
Comment[it]=<title>Modulo Moon</title><br>Modulo per e17 che mostra l'attuale fase lunare.
Comment[fr]=<title>Gadget Lune</title><br>Ce gadget pour e17 affiche la phase lunaire actuelle.
Icon=e-module-moon
