[Desktop Entry]
Type=Link
Name=Moon
Name[cs]=Měsíc
Name[hu]=Hold
GenericName=gadget
Comment=<title>Moon Gadget</title><br>Gadget for e17 which displays the current phase of the moon.
Comment[cs]=<title>Gadget Měsíc</title><br>Gadget pro Enlightenment zobrazující aktuální fázi měsíce.
Comment[hu]=<title>Hold modul</title><br>Egy E17 modul, amellyel a Hold aktuális fázisait követhetjük nyomon.
Comment[it]=<title>Modulo Moon</title><br>Modulo per e17 che mostra l'attuale fase lunare.
Icon=e-module-moon
