[Desktop Entry]
Type=Link
Name=Cpu
Name[eo]=Ĉeforgano
Name[hu]=Processzor
Icon=e-module-cpu
Comment=<title>CPU Gadget</title>Used to monitor CPU utilization.
Comment[eo]=<title>Modulo de Ĉeforgano</title>Elrigardi la uzadon de la ĉeforgano.
Comment[hu]=<title>Processzor modul</title>A processzor monitorozására (felügyeletére) használható modul.
Comment[it]=<title>Modulo CPU</title>Usato per monitorare l'utilizzo della CPU.
