[Desktop Entry]
Type=Link
Name=Cpu
Name[eo]=Ĉeforgano
Name[hu]=Processzor
Icon=e-module-cpu
Comment=<title>CPU Gadget</title><br>Used to monitor CPU utilization.
Comment[eo]=<title>Modulo de Ĉeforgano</title><br>Elrigardi la uzadon de la ĉeforgano.
Comment[hu]=<title>Processzor modul</title><br>A processzor monitorozására (felügyeletére) használható modul.
Comment[it]=<title>Modulo CPU</title><br>Usato per monitorare l'utilizzo della CPU.
