[Desktop Entry]
Type=Link
Name=Cpu
Name[eo]=Ĉeforgano
Name[hu]=Processzor
Name[zh_CN]=CPU 工具
Name[el]=Επεξεργαστής
Icon=e-module-cpu
Comment=<title>CPU Gadget</title><br>Used to monitor CPU utilization.
Comment[cs]=<title>CPU gadget</title><br>Použitý k měření vytížení CPU.
Comment[eo]=<title>Modulo de Ĉeforgano</title><br>Elrigardi la uzadon de la ĉeforgano.
Comment[hu]=<title>Processzor modul</title><br>A processzor monitorozására (felügyeletére) használható modul.
Comment[it]=<title>Modulo CPU</title><br>Usato per monitorare l'utilizzo della CPU.
Comment[zh_CN]=<title>CPU 小工具</title><br>用以监视 CPU 使用情况。
Comment[fr]=<title>Gadget Cpu</title><br>Affiche l'utilisation du CPU.
Comment[el]=<title>Συστατικό-Επεξεργαστής</title><br>Για την παρατήρηση της δραστηριότητας του επεξεργαστή.
