[Desktop Entry]
Type=Link
Name=Rain
Icon=e-module-rain
X-Enlightenment-ModuleType=appearance
Comment=<hilight>Rain Module</hilight><br>Module to display rain on the<br>desktop.
Comment[it]=<hilight>Modulo Rain</hilight><br>Modulo per visualizzare la pioggia<br>sul desktop.
