[Desktop Entry]
Type=Link
Name=Deskshow
Name[cs]=Zobrazit plochu
Name[eo]=LabortabloVidigilo
Name[hu]=Munkaasztal megjelenítése
Icon=e-module-deskshow
Comment=<title>Deskshow Gadget</title><br>Gadget to allow you to quickly uncover your desktop.
Comment[cs]=<title>Gadget pro zobrazení plochy</title><br>Umožňuje rychle odkrýt plochu.
Comment[eo]=<title>Modulo vidigo de labortablo</title><br>Rapide malkovri sian labortablon.
Comment[hu]=<title>Munkasztal megjelenítő modul</title><br>A modul segítségével egy kattintásra az összes megnyitott ablak minimalizálódik.
Comment[it]=<title>Modulo Deskshow</title><br>Modulo che consente di scoprire rapidamente il desktop.
Comment[zh_CN]=<title>显示桌面</title><br>允许快速显示桌面的小程序。
