[Desktop Entry]
Type=Link
Name=Deskshow
Name[eo]=LabortabloVidigilo
Name[hu]=Munkaasztal megjelenítése
Icon=e-module-deskshow
Comment=<title>Deskshow Gadget</title>Gadget to allow you to quickly uncover your desktop.
Comment[eo]=<title>Modulo vidigo de labortablo</title>Rapide malkovri sian labortablon.
Comment[hu]=<title>Munkasztal megjelenítő modul</title>A modul segítségével egy kattintásra az összes megnyitott ablak minimalizálódik.
Comment[it]=<title>Modulo Deskshow</title>Modulo che consente di scoprire rapidamente il desktop.
