Source: emphasis
Section: x11
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 6), libecore-dev, libetk-dev, libmpd-dev (>= 0.12.0), libenhance-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: emphasis
Architecture: any
Depends: ${shlibs:Depends}, libmpd0 (>= 0.12.0)
Suggests: enlightenment
Description: An Etk based MPD client
 Emphasis is an MPD client based on Etk.
