*.o
*.swp
*.swo
*~
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.cache-env
config.guess
config.log
config.rpath
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/desktop/Makefile
data/desktop/Makefile.in
data/images/Makefile
data/images/Makefile.in
data/themes/Makefile
data/themes/Makefile.in
data/themes/default/Makefile
data/themes/default/Makefile.in
data/themes/default/ephoto.edj
data/themes/default/images/Makefile
data/themes/default/images/Makefile.in
depcomp
ephoto.spec
install-sh
libtool
ltmain.sh
m4/codeset.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/.libs/
src/bin/Makefile
src/bin/Makefile.in
src/bin/config.h
src/bin/config.h.in
src/bin/ephoto
src/bin/ephoto_ql
src/bin/ephoto_ql.la
src/bin/ephoto_ql_la-ephoto.lo
src/bin/ephoto_ql_la-ephoto_config.lo
src/bin/ephoto_ql_la-ephoto_directory_thumb.lo
src/bin/ephoto_ql_la-ephoto_main.lo
src/bin/ephoto_ql_la-ephoto_single_browser.lo
src/bin/ephoto_ql_la-ephoto_slideshow.lo
src/bin/ephoto_ql_la-ephoto_thumb_browser.lo
src/bin/stamp-h1

