[Desktop Entry]
Type=Link
Name=News
Name[eo]=Novaĵoj
Name[hu]=Hírek
Icon=e-module-news
Comment=<title>News Gadget</title>Gadget to monitor RSS feeds.
Comment[eo]=<title>Modulo de novaĵoj</title>Elrigardi la RSS-abonfluojn.
Comment[fr]=<title>Module de nouvelles</title>Module pour suivre les flux RSS.
Comment[hu]=<title>Hírek modul</title>RSS hírforrásokat olvashatunk.
Comment[it]=<title>Modulo News</title>Modulo per il monitoraggio dei feed RSS.
