[Desktop Entry]
Type=Link
Name=Net
Name[eo]=Reto
Name[hu]=Hálózat
Icon=e-module-net
Comment=<title>Net Gadget</title>Network interface monitor.
Comment[eo]=<title>Modulo de reto</title>Elrigardi la retan interfacon.
Comment[hu]=<title>Hálózati modul</title>A hálózatot követhetjük nyomon (feltöltés/letöltés sebessége)a modullal.
Comment[it]=<title>Modulo Net</title>Monitor delle interfacce di rete.
