[Desktop Entry]
Type=Link
Name=Net
Name[cs]=Síť
Name[eo]=Reto
Name[hu]=Hálózat
Name[fr]=Réseau
Icon=e-module-net
Comment=<title>Net Gadget</title><br>Network interface monitor.
Comment[cs]=<title>Gadget Síť</title><br>Monitoruje síťové připojení.
Comment[eo]=<title>Modulo de reto</title><br>Elrigardi la retan interfacon.
Comment[hu]=<title>Hálózati modul</title><br>A hálózatot követhetjük nyomon (feltöltés/letöltés sebessége)a modullal.
Comment[it]=<title>Modulo Net</title><br>Monitor delle interfacce di rete.
Comment[fr]=<title>Gadget Réseau</title><br>Moniteur réseau.
