Source: edje-editor
Section: x11
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 6), libetk1-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: edje-editor
Architecture: any
Depends: ${shlibs:Depends}
Recommends: libedje-dev
Description: A visual editor for edje files
 Edje-Editor is a graphical editor for .edj/.edc files.
