Source: iconbar
Section: x11
Priority: optional
Maintainer: Sytse Wielinga <s.b.wielinga@student.utwente.nl>
Build-Depends: debhelper (>= 4.0.0)
Build-Depends: libeet0-dev, libevas0-dev, libimlib2-dev, libedje0-dev, libesmart0-dev , debhelper (>> 4.0.0)
Standards-Version: 3.6.1.0

Package: iconbar
Section: x11
Architecture: any
Depends: ${shlibs:Depends}
Description: Enlightenment iconbar
 This is a standalone iconbar based on the e17 iconbar by raster and rephorm.
