[enna]
#none,event,info,warning,error,critical
verbosity=info

#0,1
fullscreen=0

#0,1
use_covers=1

#0,1
use_snapshots=1

#/home/user/theme.edj for specific file or just 'default' if theme is
#located at /usr/share/enna/theme/default.edj
theme=default

#x11,xrender,gl,x11_16
engine=x11

#libplayer,emotion
backend=libplayer

music_ext=3gp,aac,ape,apl,flac,m4a,mac,mka,mp2,mp3,mp4,mpc,ogg,ra,wav,wma
video_ext=asf,avi,divx,dvr-ms,evo,flv,m1v,m2v,m4p,m4v,mkv,mov,mp4,mp4v,mpe,mpeg,mpg,ogm,qt,rm,rmvb,swf,ts,vdr,vob,vro,wmv,y4m
photo_ext=jpg,jpeg,png,gif,tif,tiff,xpm

[libplayer]
# Values by default are 'mplayer' type, 'auto' video_out, 'auto' audio_out
# and 'warning' verbosity. Change these parameters only if that is really
# necessary.

#gstreamer,mplayer,vlc,xine
#type=

#auto,x11,xv,gl,fb
#video_out=

#auto,alsa,oss
#audio_out=

#verbose,info,warning,error,critical,none
#verbosity=

[localfiles]
path_music=file:///path/to/Music,Music,icon_hd
path_music=file:///path/to/server/Medias/Music,Server,icon_network
path_video=file:///path/to/Videos,Videos,icon_hd
path_video=file:///path/to/server/Medias/Videos,Server,icon_network
path_photo=file:///path/to/Photos,Photos,icon_hd
path_photo=file:///path/to/server/Medias/Photos,Server,icon_network

[netstreams]
stream_video=http://mafreebox.freebox.fr/freeboxtv/playlist.m3u,FreeboxTV,icon_freeboxtv

[lms]
path=file:///path/to/Music
path=file:///path/to/server/Medias/Music
parser=mp3,ogg,flac,rm,dummy
slave_timeout=1000
commit_interval=100
