*.o
*~
*.swp
*.swo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/themes/Makefile
data/themes/Makefile.in
data/themes/engage.edj
depcomp
e-module-ng.edj
e_modules-engage.spec
install-sh
libtool
ltmain.sh
m4/codeset.m4
m4/gettext.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes.m4
m4/inttypes_h.m4
m4/isc-posix.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/longdouble.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/signed.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/ulonglong.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
missing
mkinstalldirs
module.desktop
po/Makefile
po/Makefile.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/cs.gmo
po/de.gmo
po/en@boldquot.header
po/en@quot.header
po/engage.pot
po/fr.gmo
po/insert-header.sin
po/it.gmo
po/pt.gmo
po/quot.sed
po/remove-potcdate.sin
po/sl.gmo
po/stamp-po
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/e_mod_main.lo
src/module.la
src/ng_border_menu.lo
src/ng_box.lo
src/ng_config.lo
src/ng_config_instances.lo
src/ng_gadcon.lo
src/ng_item.lo
src/ng_launcher.lo
src/ng_taskbar.lo
stamp-h1
