recursive-include emotion *.pyx *.py
recursive-include examples *.py
recursive-include include *.pxd *.py
include ez_setup.py
include AUTHORS COPYING README
include emotion/emotion.c_emotion.c
prune debian
