Source: esound-cvs
Section: sound
Priority: optional
Maintainer: Brian M. Almeida <bma@debian.org>
Standards-Version: 2.4.1

Package: esound-cvs
Architecture: any
Depends: ${shlibs:Depends}, libaudiofile-cvs0
Replaces: esound (<< 0.2.7-1)
Conflicts: esound (<< 0.2.7-1)
Provides: esound
Description: Enlightened Sound Daemon - Support binaries
 This program is designed to mix together several digitized 
 audio streams for playback by a single device.

Package: libesd-cvs0-dev
Architecture: any
Section: devel
Depends: libesd-cvs0
Replaces: libesd-dev, libesd0-dev (<< 0.2.7-1)
Conflicts: libesd-dev, libesd0-dev (<< 0.2.7-1)
Provides: libesd0-dev
Description: Enlightened Sound Daemon - Development files (libc6)
 This program is designed to mix together several digitized 
 audio streams for playback by a single device.

Package: libesd-cvs0
Architecture: any
Section: libs
Depends: libc6
Suggests: esound-cvs
Replaces: libesd0 (<< 0.2.7-1)
Conflicts: libesd0 (<< 0.2.7-1)
Provides: libesd0
Description: Enlightened Sound Daemon - Shared libraries
 This program is designed to mix together several digitized 
 audio streams for playback by a single device.

