#!/usr/bin/make -f

i=$(shell pwd)/debian/tmp
b=$(shell pwd)/debian/build

configure: configure.in
	@echo "--- Making configure script and configuring"
	./autogen.sh
	libtoolize --automake --copy --force
	automake -v
	aclocal
	autoconf

Makefile: configure
	@echo "--- Configuring"
	./configure --prefix=/usr --disable-static --enable-shared

build: Makefile build-debstamp
build-debstamp:
	@echo "--- Compiling"
	dh_testdir
	$(MAKE) all
	touch build-debstamp

clean:
	@echo "--- Cleaning"
	dh_testdir
	-rm -rf static shared
	-rm -f build-debstamp install-debstamp
	-make distclean
	-rm -f `find . -name "*~"`
	-rm -rf `find . -name "\.deps"`
	-rm -rf `find . -name "\.libs"`
	-rm -rf debian/tmp `find debian/* -type d ! -name CVS` debian/files* core
	-rm -f debian/*substvars

install: install-debstamp build
install-debstamp:
	@echo "--- Installing"
	dh_testdir
	dh_testroot
	dh_clean
	rm -rf $(b)
	$(MAKE) install prefix=$(i)/usr 
	mkdir -p $(i)/usr/doc/libesd0
	touch install-debstamp

install-save: install
	rm -rf $(i).saved
	cp -a $(i) $(i).saved

install-saved:
	rm -rf $(i)
	rm -rf $(b)
	cp -a $(i).saved $(i)
	touch install-debstamp

binary-indep: build install 
#
# Nothing to do?
#

binary-arch: build install \
		esound-cvs \
		libesd-cvs0 \
		libesd-cvs0-dev 

#
# libesd0-dev
#

libesd-cvs0-dev: install
	@echo "--- Building: $@"
	mkdir -p $(b)/$@/usr/doc
	cd $(b)/$@/usr/doc; ln -s libesd0 $@
	dh_movefiles         -p$@ -P$(b)/$@
	dh_strip             -p$@ -P$(b)/$@ 
	dh_compress          -p$@ -P$(b)/$@ 
	dh_fixperms          -p$@ -P$(b)/$@ 
	dh_installdeb        -p$@ -P$(b)/$@
	dh_undocumented      -p$@ -P$(b)/$@ esd-config.1 
	dh_shlibdeps         -p$@ -P$(b)/$@
	dh_gencontrol        -p$@ -P$(b)/$@
	dh_makeshlibs        -p$@ -P$(b)/$@
	dh_md5sums           -p$@ -P$(b)/$@
	dh_builddeb          -p$@ -P$(b)/$@

#
# libesd0
#

libesd-cvs0: install
	@echo "--- Building: $@"
	mkdir -p $(b)/$@/usr/doc
	dh_installdocs       -p$@ -P$(b)/$@ NEWS README TODO EsounD.ps TIPS
	dh_installchangelogs -p$@ -P$(b)/$@ ChangeLog
	dh_movefiles         -p$@ -P$(b)/$@
	dh_strip             -p$@ -P$(b)/$@ 
	dh_compress          -p$@ -P$(b)/$@ 
	dh_fixperms          -p$@ -P$(b)/$@ 
	dh_installdeb        -p$@ -P$(b)/$@
	dh_shlibdeps         -p$@ -P$(b)/$@
	dh_gencontrol        -p$@ -P$(b)/$@
	dh_makeshlibs        -p$@ -P$(b)/$@
	dh_md5sums           -p$@ -P$(b)/$@
	dh_builddeb          -p$@ -P$(b)/$@

#
#    esound
#
esound-cvs: install
	@echo "--- Building: $@"
	mkdir -p $(b)/$@/usr/doc
	cd $(b)/$@/usr/doc; ln -s libesd0 $@
	dh_movefiles         -p$@ -P$(b)/$@
	dh_strip             -p$@ -P$(b)/$@ 
	dh_compress          -p$@ -P$(b)/$@ 
	dh_fixperms          -p$@ -P$(b)/$@ 
	dh_installdeb        -p$@ -P$(b)/$@
	dh_undocumented      -p$@ -P$(b)/$@ esd.1 esdplay.1 esdcat.1 esdctl.1 esdmon.1 esdrec.1 esdsample.1 esdloop.1 esddsp.1 esdfilt.1
	dh_shlibdeps         -p$@ -P$(b)/$@
	dh_gencontrol        -p$@ -P$(b)/$@
	dh_makeshlibs        -p$@ -P$(b)/$@
	dh_md5sums           -p$@ -P$(b)/$@
	dh_builddeb          -p$@ -P$(b)/$@

binary: binary-indep binary-arch

.PHONY: binary clean binary-indep binary-arch build install install-save install-saved


