Source: enscribe
Section: x11
Priority: optional
Maintainer: Blake Barnett <shadoi@soulmachine.net>
Build-Depends: debhelper (>> 3.0.0), automake1.7 | automaken, libecore-dev, libedje-dev, libesmart-dev, libevas-dev
Standards-Version: 3.5.7.0

Package: enscribe
Section: x11
Architecture: any
Depends: ${shlibs:Depends}
Description: Enscribe is a simple text editor written using the
 Enlightenment Foundation Libraries (http://www.enlightnement.org).
