/*
    Author:
        Andres Blanc <andresblanc@gmail.com>

    Supported Browsers:
        ie7, opera9, konqueror4 and firefox3

        Please use a different file for ie6, ie5, etc. hacks.
        Assumes CSS reset and CSS base from YUI.
*/

/* Necessary to place the footer at the bottom of the page */
html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

* html #container {
    height: 100%;
}

/* Prevent floating elements overflowing containers */
.clear
{
    clear: both;
    width: 0px;
    height: 0px;
}

/* Hide all the submenus but the current */
.submenu ul
{
    display: none;
}

.submenu .current
{
    display: block;
}


/* Flexible & centered layout from 750 to 960 pixels */
.layout
{
    height: 100%;
    max-width: 960px;
    min-width: 760px;
    margin-left: auto;
    margin-right: auto;
/*     FIXME: (uncomment) Gridfox hack */
/*     padding-right: 17px; */ 
    padding-left: 17px;
}

#header
{
    width: 100%;
    height: 136px;
    background-image: url('../img/header_background.png');
    background-repeat: repeat-x;
}

#header h1
{
    width: 63px;
    height: 63px;
    background-color: red;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    position: absolute;
}

#header h1 span
{
    display: none;
}

#header h2
{
    display: none;
}

/* .menu-container is used to set properties common to .menu and .submenu */
#header .menu-container
{
    height: 100%;
}

#header .menu-container ul
{
    list-style-type: none;
    list-style-position: inside;
}

#header .menu-container li
{
    display: block;
    float: right;
}

#header .menu
{
    height: 63px;
    display: block;
    background-image: url("../img/header_menu_background.png");
    background-repeat: repeat-x;
}

#header .menu ul
{
    height: 63px;
    display: block;
    background-image: url("../img/header_menu_background_last.png");
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: 17px;
}

#header .menu li
{
    width: 160px;
    text-align: center;
    background-image: url("../img/header_menu_unselected_background.png");
    background-repeat: no-repeat;
}

#header .menu li.last
{
    display: block;
    width: 17px;
    background-image: url("../img/header_menu_background_last.png");
    background-repeat: no-repeat;
}

#header .menu a
{
    display: block;
    color: #cdcdcd;
    text-decoration: none;
    font-size: 1.1em;
    line-height: 63px; /* Determines the menu's height */
    text-align: center;
}

#header .menu li:hover
{
    background-image: url("../img/header_menu_hover_background.png");
    background-repeat: no-repeat;
}

#header .menu li:hover a
{
    color: #FFFFFF;
}

#header .menu li.current
{
    background-image: url("../img/header_menu_current_background.png");
    background-repeat: no-repeat;
}

#header .menu li.current a
{
    color: #646464;
}

#header .submenu ul.current
{
    display: block;
    float: right;
    clear: both;
    background-image: url("../img/header_submenu_separator.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}

#header .submenu li
{
    text-align: center;
    background-image: url("../img/header_submenu_separator.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

#header .submenu a
{
    display: block;
    margin-top: 39px; /* Heigh under menu + 2 pixels to cover header shadows */
    line-height: 34px;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    color: #646464;
}

#header .submenu a:hover
{
    color: #000000;
}

#header .submenu li.current a
{
    font-weight: bold;
}

#container
{
/*     background-color: #f3f3f3; */
}

#footer
{
    clear: both;
    position: relative;
}
