#content .layout
{
    background-image: url("../img/home/banner.png");
    background-repeat: no-repeat;
    background-position: center 61px;
}

#content .column
{
    width: 33.3%;
    float: left;
    min-height: 200px;
}

#content h2
{
    width: 960px;
    line-height: 50px;
    margin-bottom: 11px;
    font-family: Lucida Grande;
    font-size: 138.5%;
    font-weight: bold;
    text-align: center;
    color: #252525;
}

#content-developers h3, #content-artists h3
{
    width: 100%;
    margin-top: 75px;
    text-align: center;
    font-size: 123.1%;
    font-weight: bold;
    color: #FFFFFF;
}

#content-developers ul, #content-artists ul
{
    display: block;
    margin-top: 20px; /* 17px in spirit */
    margin-bottom: 17px;
    margin-left: 34px;
}

#content-developers li, #content-artists li
{
    display: block;
    text-align: left;
    font-size: 93%;
    height: 3em;
    margin-bottom: 1em;
}

#content-developers a, #content-artists a
{
    display: block;
    width: 80px;
    line-height: 35px;
    background-image: url("../img/home/learnmore.png");
    float: right;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 77%;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-color: #d1d1d1;
}

#content-developers a:hover, #content-artists a:hover
{
    background-image: url("../img/home/learnmore_hover.png");
    color: #FFFFFF;
    border-color: white;
}

#content-exchange, #content-news, #content-planet
{
    margin-top: 34px;
}

#content-exchange h3, #content-news h3, #content-planet h3
{
    font-weight: bold;
    font-size: 123.1%;
    text-align: center;
    margin-bottom: 17px;
    margin-top: 17px;
}

#content-news .news-summary, #content-planet .news-summary
{
    margin-left: 34px;
}

#content-news,  #content-exchange, #content-planet
{
    height: 400px;
    background-image: url("../img/home/news.png");
    background-repeat: repeat-x;
}

#content-exchange
{
    background-image: url("../img/home/news_left.png");
    background-repeat: no-repeat;
    background-position: top left;
}

#content-planet
{
    background-image: url("../img/home/news_right.png");
    background-repeat: no-repeat;
    background-position: top right;
}

#first-theme-shot
{
    position: absolute;
    margin-top: 50px;
    margin-left: 5px;
    z-index: 2;
}

#second-theme-shot
{
    position: absolute;
    z-index: 1;
    margin-left: 100px;
    margin-top: 90px;
}

#third-theme-shot
{
    position: absolute;
    margin-left: 155px;
    margin-top: 140px;
    z-index: 0;
}

#fourth-theme-shot
{
    position: absolute;
    margin-top: 175px;
    margin-left: 15px;
    z-index: 2;
}

#fifth-theme-shot
{
    position: absolute;
    margin-top: 40px;
    margin-left: 140px;
    z-index: 0;
}

#content-exchange .theme-shot img
{
    border: solid;
    border-width: 1px;
    border-color: gray;
}