#content .layout
{
    background-image: url("../img/home/banner.png");
    background-repeat: no-repeat;
    background-position: top left;
}

#content .column
{
    width: 33.3%;
    float: left;
    min-height: 200px;
}

#content h2
{
    width: 960px;
    line-height: 50px;
    margin-bottom: 11px;
    font-family: Lucida Grande;
    font-size: 138.5%;
    font-weight: bold;
    text-align: center;
    color: #252525;
}

#content-developers h3, #content-artists h3
{
    width: 99%;
    margin-top: 75px;
    text-align: right;
    font-size: 123.1%;
    font-weight: bold;
    color: #FFFFFF;
}

#content-developers ul, #content-artists ul
{
    display: block;
    margin-top: 20px; /* 17px in spirit */
    margin-bottom: 17px;
    margin-left: 17px;
}

#content-developers li, #content-artists li
{
    display: block;
    text-align: right;
    font-size: 93%;
    height: 3em;
    margin-bottom: 1em;
}

#content-developers a, #content-artists a
{
    display: block;
    width: 80px;
    line-height: 40px;
    background-color: black;
    float: right;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 77%;
    font-weight: bold;
}

#content-exchange, #content-news, #content-planet
{
    margin-top: 34px;
    background-color: #f0f0f0;
}

#content-exchange h3, #content-news h3, #content-planet h3
{
    font-weight: bold;
    font-size: 123.1%;
    text-align: center;
    margin-bottom: 17px;
    margin-top: 17px;
}

 #content-news .news-summary, #content-planet .news-summary
{
    margin-left: 17px;
}

#content-exchange .theme-shot
{
    text-align: center;
    margin-bottom: 17px;
}

#content-exchange .theme-shot h4 a
{
    font-size: 100%;
    text-decoration: none;
    font-weight: bold;
}