Source: scrot
Section: x11
Priority: optional
Maintainer: Eric Dorland <dorland@lords.com>
Build-Depends: debhelper
Standards-Version: 3.1.1

Package: scrot
Architecture: any
Depends: ${shlibs:Depends}
Description: scrot, a screen capture utility
 scrot is a command-line based screen capture utility that uses imlib2.
