Source: emprint
Section: x11
Priority: extra
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: cdbs, debhelper (>= 5), libecore-dev, libimlib2-dev, libedje-dev, libevas-dev
Standards-Version: 3.7.2

Package: emprint
Architecture: any
Depends: ${shlibs:Depends}
Description: E17 screenshot utility
 A utility for taking screenshots of the entire screen, a specific
 window, or a specific region. It is written with the Enlightenment
 Foundation Libraries.
