[Desktop Entry]
Encoding=UTF-8
Name=E-GNOME
Comment=This session starts GNOME using enlightenment as window manager
Exec=starte16 GNOME
Icon=
Type=Application
