[Desktop Entry]
Encoding=UTF-8
Name=Enlightenment
Comment=This session starts the Enlightenment window manager
Exec=enlightenment
Icon=
Type=Application
