Source: etox
Section: libs
Priority: optional
Maintainer: Sytse Wielinga <s.b.wielinga@student.utwente.nl>
Build-Depends: libedb1-dev, libevas0-dev, libecore0-dev, debhelper (>= 3.0), automake1.7 | automaken, libtool
Standards-Version: 3.6.1.0

Package: libetox0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Suggests: etox0-test (= ${Source-Version})
Description: Evas-based text layout library
 This is a text-styling and layout library, based on Evas. It can layout
 text with different formatting and special styles such as soft shadows and
 outlines.
 
Package: libetox0-dev
Architecture: any
Section: libdevel
Architecture: any
Depends: libetox0 (= ${Source-Version}), libedb1-dev, libevas0-dev, libecore0-dev
Provides: libetox-dev
Conflicts: libetox-dev
Description: libetox0 headers, static libraries and documentation
 Headers, static libraries and documentation for libetox0.

Package: etox0-test
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}
Description: Etox test binaries
 This package contains etox test binaries.
 .
 Etox is a type setting and text layout library based on Evas.
