Source: etox
Section: libs
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Build-Depends: debhelper (>= 3.0)
Standards-Version: 3.2.1.0

Package: libetox0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: etox description
 etox extended description
 
Package: libetox0-dev
Architecture: any
Section: devel
Architecture: any
Depends: libetox0 (= ${Source-Version})
Description: libetox0 headers, static libraries and documentation
 Headers, static libraries and documentation for Imlib2.

