[Desktop Entry]
Encoding=UTF-8
Name=Presenter
Comment=Presentation tool
Comment[cs]=Prezentaèní nástroj
Exec=elementary_presenter
Icon=elementary_presenter
Terminal=false
Type=Application
Categories=Application;Utility;
