[Desktop Entry]
Encoding=UTF-8
Name=Presenter
Comment=Presentation tool
Comment[cs]=Prezentační nástroj
Comment[pt]=Uma ferramenta de apresentação
Comment[it]=Strumento per presentazioni
Exec=elementary_presenter
Icon=elementary_presenter
Terminal=false
Type=Application
Categories=Application;Utility;
