[Desktop Entry]
Type=Link
Name=Winselector
Name[eo]=Fenestro-elektilo
Name[hu]=Ablak választó
Icon=e-module-winselector
Comment=<title>Winselector Gadget</title><br>This module provides a menu-based access to all the windows.
Comment[eo]=<title>Modulo de fenestro-elektilo</title><br>Provizi aliron al ĉiuj fenestroj per menuo.
Comment[hu]=<title>Ablak választó modul</title><br>Ez a modul elérhetõséget biztosít számunkra az összes megnyitott ablakhoz, amelyeket egy listába rendez.
Comment[it]=<title>Modulo Winselector</title><br>Questo modulo fornisce accesso a tutte le finestre tramite menù.
