[Desktop Entry]
Type=Link
Name=Cpu
Icon=e-module-cpu
Comment=<hilight>CPU Gadget</hilight><br><br>Used to monitor CPU utilization.
Comment[it]=<hilight>Modulo CPU</hilight><br><br>Usato per monitorare l'utilizzo della CPU.
