[Desktop Entry]
Encoding=UTF-8
Name=Elm_Kbd
Comment=Elementary Keyboard
Exec=elm_kbd
Icon=elm_kbd
Terminal=false
Type=Application
Categories=Application;System;Utility;Core;
StartupWMClass=elm_kbd
