*~
*.o
*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/themes/Makefile
data/themes/Makefile.in
data/themes/default/Makefile
data/themes/default/Makefile.in
data/themes/default/default.edj
data/themes/default_small/Makefile
data/themes/default_small/Makefile.in
data/themes/default_small/default_small.edj
data/themes/default_tree/Makefile
data/themes/default_tree/Makefile.in
data/themes/default_tree/default_tree.edj
depcomp
install-sh
ltmain.sh
m4/codeset.m4
m4/gettext.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/inttypes-pri.m4
m4/inttypes.m4
m4/inttypes_h.m4
m4/isc-posix.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/progtest.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/ulonglong.m4
missing
mkinstalldirs
po/
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/Makefile
src/bin/Makefile.in
src/bin/album_menu.o
src/bin/collection_menu.o
src/bin/download.o
src/bin/edje_mempool.o
src/bin/enki
src/bin/enki-slideshow
src/bin/enki_elm_genlist_tree.o
src/bin/import.o
src/bin/inwin.o
src/bin/list_left.o
src/bin/list_photo.o
src/bin/main.o
src/bin/main_menu.o
src/bin/main_slideshow.o
src/bin/map.o
src/bin/netsync.o
src/bin/netsync_album.o
src/bin/panel_geocaching.o
src/bin/panel_image.o
src/bin/photo_menu.o
src/bin/photo_object.o
src/bin/photos_list_object.o
src/bin/pm_cb.o
src/bin/pm_win.o
src/bin/slideshow.o
src/bin/slideshow_object.o
src/bin/tabpanel.o
src/bin/tag_menu.o
src/bin/upload.o
stamp-h1
