[Desktop Entry]
Name=Enki
GenericName=Photo Manager
GenericName[vi]=photo Manager
GenericName[uk]=photo менеджер
GenericName[tl]=photo Manager
GenericName[sv]=Photo Manager
GenericName[sl]=photo Manager
GenericName[sk]=photo Manager
GenericName[ru]=photo менеджер
GenericName[ro]=photo Manager
GenericName[pt]=photo Manager
GenericName[pl]=photo Manager
GenericName[no]=photo Manager
GenericName[nl]=Photo Manager
GenericName[lv]=photo Manager
GenericName[lt]=photo vadybininkas
GenericName[ja]=Photo画像マネージャ
GenericName[iw]=מנהל photo
GenericName[it]=Photo Manager
GenericName[id]=photo Manager
GenericName[hr]=photo Manager
GenericName[hi]=photo प्रबंधक
GenericName[fr]=Photo Manager
GenericName[fi]=photo Manager
GenericName[es]=Photo Manager
GenericName[en]=photo Manager
GenericName[el]=photo Manager
GenericName[de]=Photo Manager
GenericName[da]=photo Manager
GenericName[cs]=photo Manager
GenericName[ca]=Photo Manager
GenericName[bg]=photo мениджър
GenericName[ar]=مدير photo
Comment=Manage your photo albums
Comment[vi]=Quản lý các album ảnh của bạn
Comment[uk]=Управління ваші фотоальбоми
Comment[tl]=Pamahalaan ang iyong photo album
Comment[sv]=Hantera dina fotoalbum
Comment[sl]=Upravljanje foto albumi
Comment[sk]=Správa vášho fotoalbumu
Comment[ru]=Управление ваши фотоальбомы
Comment[ro]=Administraţi-vă albume foto
Comment[pt]=Gerencie seus álbuns de fotos
Comment[pl]=Zarządzanie albumy fotograficzne
Comment[no]=Manage your fotoalbum
Comment[nl]=Beheer uw fotoalbums
Comment[lv]=Pārvaldiet savu foto albumi
Comment[lt]=Tvarkyk savo fotoalbumai
Comment[ja]=を管理してフォトアルバム
Comment[iw]=ניהול אלבומי התמונות שלך
Comment[it]=Gestisce i vostri album fotografici
Comment[id]=Mengelola foto album
Comment[hr]=Upravljajte svojim foto albumi
Comment[hi]=प्रबंधित अपने फोटो एलबम
Comment[fr]=Gérez vos albums photo
Comment[fi]=Hallitse valokuva-albumit
Comment[es]=Gestiona tus álbumes de fotos
Comment[en]=Manage your photo albums
Comment[el]=Διαχειριστείτε άλμπουμ φωτογραφιών σας
Comment[de]=Verwalten Sie Ihre Fotoalben
Comment[da]=Administrer dine fotoalbum
Comment[cs]=Správa vašeho fotoalba
Comment[ca]=Gestiona els teus àlbums de fotos
Comment[bg]=Управление на вашата фотоалбуми
Comment[ar]=إدارة ألبومات الصور
Exec=enki
Icon=enki.png
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Application;Graphics;Viewer;
