[Desktop Entry]
Encoding=UTF-8
Name=envision
Name[pt]=Envision
Comment=E-PDF Reader
Comment[fr]=Lecteur E-PDF
Comment[it]=Visualizzatore di PDF
Comment[pt]=Leitor de PDFs do Enlightenment
Exec=envision
Icon=envision
Terminal=false
Type=Application
Categories=Application;Utility;
