Source: xfonts-nexus
Build-Depends-Indep: xutils (>> 4.0.3), debhelper (>= 5.0.29)
Section: x11
Priority: optional
Maintainer: Simon Horman <horms@debian.org>
Standards-Version: 3.7.3

Package: xfonts-nexus
Architecture: all
Depends: ${misc:Depends}
Provides: xfont-nexus
Replaces: xfont-nexus
Description: Nexus font for X
 A sans-serif, fixed with font with iso8859 encoding.
 Only available as 10 point with medium weight.


