*~
*swo
*swp
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/default.edj
depcomp
eyesight.pc
eyesight.spec
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/.libs/
src/bin/Makefile
src/bin/Makefile.in
src/bin/core
src/bin/envision
src/bin/envision_config.o
src/bin/envision_gui.o
src/bin/envision_input.o
src/bin/envision_load.o
src/bin/envision_main.o
src/bin/envision_win.o
src/lib/.deps/
src/lib/.libs/
src/lib/Makefile
src/lib/Makefile.in
src/lib/libeyesight.la
src/lib/libeyesight_la-eyesight.lo
src/lib/libeyesight_la-eyesight.o
src/lib/libeyesight_la-eyesight_index.lo
src/lib/libeyesight_la-eyesight_index.o
src/modules/Makefile
src/modules/Makefile.in
src/modules/img/.deps/
src/modules/img/.libs/
src/modules/img/Makefile
src/modules/img/Makefile.in
src/modules/img/img.la
src/modules/img/img_la-eyesight_img.lo
src/modules/pdf/.deps/
src/modules/pdf/Makefile
src/modules/pdf/Makefile.in
src/modules/pdf/mupdf-0.9/.deps/
src/modules/pdf/mupdf-0.9/Makefile
src/modules/pdf/mupdf-0.9/Makefile.in
src/modules/ps/.deps/
src/modules/ps/Makefile
src/modules/ps/Makefile.in
src/modules/txt/.deps/
src/modules/txt/.libs/
src/modules/txt/Makefile
src/modules/txt/Makefile.in
src/modules/txt/txt.la
src/modules/txt/txt_la-eyesight_txt.lo
stamp-h1
src/modules/pdf/mupdf-1.1/.deps/
src/modules/pdf/mupdf-1.1/.libs/
src/modules/pdf/mupdf-1.1/cmapdump
src/modules/pdf/mupdf-1.1/cmapdump-cmapdump.o
src/modules/pdf/mupdf-1.1/fontdump
src/modules/pdf/mupdf-1.1/fontdump.o
src/modules/pdf/mupdf-1.1/libfitz_la-base_context.lo
src/modules/pdf/mupdf-1.1/libfitz_la-base_context.o
src/modules/pdf/mupdf-1.1/libfitz_la-base_error.lo
src/modules/pdf/mupdf-1.1/libfitz_la-base_error.o
src/modules/pdf/mupdf-1.1/libfitz_la-base_geometry.lo
src/modules/pdf/mupdf-1.1/libfitz_la-base_geometry.o
src/modules/pdf/mupdf-1.1/libfitz_la-base_getopt.lo
src/modules/pdf/mupdf-1.1/libfitz_la-base_getopt.o
src/modules/pdf/mupdf-1.1/libfitz_la-base_hash.lo
src/modules/pdf/mupdf-1.1/libfitz_la-base_hash.o
src/modules/pdf/mupdf-1.1/libfitz_la-base_memory.lo
src/modules/pdf/mupdf-1.1/libfitz_la-base_memory.o
src/modules/pdf/mupdf-1.1/libfitz_la-base_string.lo
src/modules/pdf/mupdf-1.1/libfitz_la-base_string.o
src/modules/pdf/mupdf-1.1/libfitz_la-base_time.lo
src/modules/pdf/mupdf-1.1/libfitz_la-base_time.o
src/modules/pdf/mupdf-1.1/libfitz_la-crypt_aes.lo
src/modules/pdf/mupdf-1.1/libfitz_la-crypt_aes.o
src/modules/pdf/mupdf-1.1/libfitz_la-crypt_arc4.lo
src/modules/pdf/mupdf-1.1/libfitz_la-crypt_arc4.o
src/modules/pdf/mupdf-1.1/libfitz_la-crypt_md5.lo
src/modules/pdf/mupdf-1.1/libfitz_la-crypt_md5.o
src/modules/pdf/mupdf-1.1/libfitz_la-crypt_sha2.lo
src/modules/pdf/mupdf-1.1/libfitz_la-crypt_sha2.o
src/modules/pdf/mupdf-1.1/libfitz_la-dev_bbox.lo
src/modules/pdf/mupdf-1.1/libfitz_la-dev_bbox.o
src/modules/pdf/mupdf-1.1/libfitz_la-dev_list.lo
src/modules/pdf/mupdf-1.1/libfitz_la-dev_list.o
src/modules/pdf/mupdf-1.1/libfitz_la-dev_null.lo
src/modules/pdf/mupdf-1.1/libfitz_la-dev_null.o
src/modules/pdf/mupdf-1.1/libfitz_la-dev_trace.lo
src/modules/pdf/mupdf-1.1/libfitz_la-dev_trace.o
src/modules/pdf/mupdf-1.1/libfitz_la-doc_document.lo
src/modules/pdf/mupdf-1.1/libfitz_la-doc_document.o
src/modules/pdf/mupdf-1.1/libfitz_la-doc_link.lo
src/modules/pdf/mupdf-1.1/libfitz_la-doc_link.o
src/modules/pdf/mupdf-1.1/libfitz_la-doc_outline.lo
src/modules/pdf/mupdf-1.1/libfitz_la-doc_outline.o
src/modules/pdf/mupdf-1.1/libfitz_la-filt_basic.lo
src/modules/pdf/mupdf-1.1/libfitz_la-filt_basic.o
src/modules/pdf/mupdf-1.1/libfitz_la-filt_dctd.lo
src/modules/pdf/mupdf-1.1/libfitz_la-filt_dctd.o
src/modules/pdf/mupdf-1.1/libfitz_la-filt_faxd.lo
src/modules/pdf/mupdf-1.1/libfitz_la-filt_faxd.o
src/modules/pdf/mupdf-1.1/libfitz_la-filt_flate.lo
src/modules/pdf/mupdf-1.1/libfitz_la-filt_flate.o

