recursive-include elementary *.pyx *.pxi *.py *.h
recursive-include tests *.py *.png *.jpg *.edj
recursive-include include *.pxd *.h *.py
include AUTHORS COPYING README
global-exclude .cvsignore
prune debian
