recursive-include elementary *.pyx *.pxi *.py
recursive-include tests *.py *.png *.jpg *.edj
recursive-include include *.pxd *.py
include elementary/elementary.c_elementary.[ch]
include AUTHORS COPYING README
prune debian
