Source: epsilon
Section: libs
Priority: optional
Maintainer: Sytse Wielinga <s.b.wielinga@student.utwente.nl>
Build-Depends: debhelper (>> 3.0.0), libz-dev, libepeg-dev, libimlib2-dev, automaken, libtool
Standards-Version: 3.5.7.0

Package: libepsilon0-dev
Section: devel
Architecture: any
Depends: libepsilon0 (= ${Source-Version}), libc6-dev | libc-dev
Provides: libepsilon-dev
Conflicts: libepsilon-dev
Description: Enlightenment thumbnailing library development files
 This package contains headers and static libraries for development with
 libepeg.

Package: libepsilon0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Enlightenment thumbnailing library API
 This is a small, display independent, and quick thumbnailing library.
