Source: epsilon
Section: libs
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: debhelper (>> 3.0.0), automake1.7 | automaken, libtool, zlib1g-dev, libepeg0-dev, libevas0-dev, libecore0-dev, libedje0-dev, libimlib2-dev, libpng12-dev, automake1.7 | automaken, libtool
Standards-Version: 3.5.7.0

Package: libepsilon0-dev
Section: devel
Architecture: any
Depends: libepsilon0 (= ${Source-Version}), libc6-dev | libc-dev
Provides: libepsilon-dev
Conflicts: libepsilon-dev
Description: Enlightenment thumbnailing library development files
 This package contains headers and static libraries for development with
 libepeg.

Package: libepsilon0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Recommends: epsilon-bin
Provides: libepsilon
Description: Enlightenment thumbnailing library API
 This is a small, display independent, and quick thumbnailing library.

Package: epsilon0-bin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Provides: epsilon-bin
Description: Enlightenment thumbnailing binary
 This is a small, display independent, and quick thumbnailing library.
