[Desktop Entry]
Type=Application
Icon=econnman
Name=EConnMan
GenericName=Connection Manager
GenericName[pt]=Gestor de ligações
Comment=Manage your internet connections using ConnMan and EFL
Comment[it]=Gestisce le connessioni internet usando ConnMan e le EFL.
Comment[pt]=Gestão de ligações internet com o ConnMan e o EFL
Categories=Network;Settings;Enlightenment;
Exec=econnman-bin
StartupNotify=true
Terminal=false
