[Desktop Entry]
Type=Application
Icon=econnman
Name=EConnMan with Agent
Name[it]=EconnMan con agente
Name[pt]=EconnMan com agent
GenericName=Connection Manager
GenericName[pt]=Gestor de ligações
Comment=Manage your internet connections using ConnMan and EFL. Version with agent to get passwords and other input.
Comment[it]=Gestisce le connessioni internet usando ConnMan e le EFL. Versione con agente per password e altri input.
Comment[pt]=Gestão das ligações internet com o ConnMan e o EFL. Versão com agente para obter senhas e outros dados
Categories=Network;Settings;Enlightenment;
Exec=econnman-bin --agent
StartupNotify=true
Terminal=false
