[Desktop Entry]
Type=Link
Name=Screenshot
Icon=e-module-screenshot
Comment=<hilight>Screenshot Gadget</hilight><br>Gadget to take screenshots utilizing<br>scrot or import.
Comment[it]=<hilight>Modulo Screenshot</hilight><br>Modulo per la cattura di istantanee del<br>desktop usando scrot o import.
