#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

LDFLAGS += -Wl,--as-needed

build/libedje-doc::
	$(MAKE) doc

install/libedje-doc::
	cp -R $(DEB_SRCDIR)/doc/html debian/libedje-doc/usr/share/doc/libedje-doc/

#DEB_INSTALL_MANPAGES_libedje-doc := $(DEB_SRCDIR)/doc/man/man3/*.3
DEB_DH_STRIP_ARGS := --dbg-package=libedje-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath --enable-doc
