Source: ephoto
Section: graphics
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org> 
Build-Depends: cdbs, debhelper (>= 6), libecore-dev, libevas-dev, libewl-dev, libedje-dev, libexif-dev, libepsilon-dev, libsqlite3-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: ephoto
Architecture: any
Depends: ${shlibs:Depends}
Description: A slideshow creator and much more
 Ephoto is a powerful slideshow creator which can be used as an image viewer
 or image editor/manipulator as well.
