[Desktop Entry]
Type=Link
Name=directory_watcher
Name[eo]=dosierujo_atentilo
Comment=A directory watcher source plugin
Comment[cs]=Zdrojový plugin - hlídaè složek
Comment[eo]=KromaÄµo kiu atentas la enhavon de dosierujo
Comment[it]=Un plugin per il controllo di directory

X-Drawer-Title=Directory Watcher
