[Desktop Entry]
Type=Link
Name=launcher
Name[eo]=LanÄ‰ilo
Comment=An application launcher source plugin
Comment[cs]=Zdrojový plugin pro spouštìní aplikací
Comment[it]=Un plugin per lanciare applicazioni
Comment[eo]=LanÄ‰ilo de aplikaÄµoj

X-Drawer-Title=Launcher
