[Desktop Entry]
Type=Link
Name=winlist
Name[eo]=fenestrolisto
Comment=A window list source plugin
Comment[eo]=Listo de fenestroj
Comment[it]=Un plugin per una lista finestre

X-Drawer-Title=Window list
