Source: elitaire
Section: games
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 6), libewl-dev, libedje-dev, libesmart-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: elitaire
Architecture: any
Depends: ${shlibs:Depends}, libewl-engine-x11, libewl-engine-evas-software-x11, libewl-engine-evas
Description: The enlightenment card game collection
 Elitaire is a solitaire card game based on the Enlightenment foundation
 libraries. Currently implemented variants are:
  - Freecell
  - Thougthful
  - Vegas
  - Spider
  - Golf
  - Baker's Dozen
  - Klondike.
