Source: itask
Section: unknown
Priority: optional
Maintainer: quaker <quaker66@gmail.com>
Build-Depends: debhelper (>= 6), cdbs, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Standards-Version: 3.7.2

Package: emodule-itask
Architecture: any
Depends: ${shlibs:Depends}, e17 (>= 0.16.999) | ecomorph-e17 (>= 0.16.999)
Description: ITask Application module for Enlightenment
 It will hold all of your open applications for fast switching.
 .
 There are three basic functionalities that you dont wanna miss:
 1. If you click on an icon it will be shown and raised to the top
    and if its on another desk, then you will be switched to it. 
 2. If you drag an icon out of ITask the App will be shown on the
    current desktop.
 3. Drag an icon to a pagers desk to send it.
 .
 This module is based on ibox and autogen setup taken from taskbar module.
