[Desktop Entry]
Type=Link
Name=Wlan
Icon=e-module-wlan
Comment=<hilight>WLan Gadget</hilight><br><br>Gadget to monitor a wlan device.
Comment[it]=<hilight>Modulo WLan</hilight><br><br>Modulo per il monitoraggio di un dispositivo di rete wireless.
