[Desktop Entry]
Type=Link
Name=Mem
Name[eo]=Memoro
Name[hu]=Memória
Name[fr]=Mémoire
Icon=e-module-mem
Comment=<title>Mem Gadget</title><br>Used to monitor memory utilization.
Comment[cs]=<title>Mem gadget</title><br>Zobrazí využití paměti.
Comment[eo]=<title>Modulo de memoro</title><br>Elrigardi la uzadon de memoro.
Comment[hu]=<title>Memória modul</title><br>A fizikai memória foglaltságát jelzi ki.
Comment[it]=<title>Modulo Mem</title><br>Usato per il monitoraggio dell'utilizzo della memoria.
Comment[fr]=<title>Gadget Mémoire</title><br>Affiche l'utilisation de la mémoire.
