[Desktop Entry]
Type=Link
Name=Mem
Name[eo]=Memoro
Name[hu]=Memória
Icon=e-module-mem
Comment=<title>Mem Gadget</title>Used to monitor memory utilization.
Comment[eo]=<title>Modulo de memoro</title>Elrigardi la uzadon de memoro.
Comment[hu]=<title>Memória modul</title>A fizikai memória foglaltságát jelzi ki.
Comment[it]=<title>Modulo Mem</title>Usato per il monitoraggio dell'utilizzo della memoria.
