*~
*.swo
*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
e-module-eektool.edj
e_modules-eektool.spec
images/Makefile
images/Makefile.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
module.desktop
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/de.gmo
po/eektool.pot
po/en@boldquot.header
po/en@quot.header
po/fr.gmo
po/insert-header.sin
po/it.gmo
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/e_mod_config.lo
src/e_mod_config.o
src/e_mod_main.lo
src/e_mod_main.o
src/module.la
stamp-h1

