[Desktop Entry]
Type=Link
Name=Uptime
Name[eo]=Daŭro de funkciado
Name[hu]=Üzemóra
Icon=e-module-uptime
Comment=<title>Uptime Gadget</title>Gadget to display the current uptime of the system.
Comment[eo]=<title>Modulo de daŭro de funkciado</title>Vidigi la nunan daŭron de funkciado de la operaciumo.
Comment[hu]=<title>Üzemóra modul</title>Egy modul, amely megmutatja mióta van folyamatosan üzemben a rendszer.
Comment[it]=<title>Modulo Uptime</title>Modulo per visualizzare il tempo di servizio del sistema.
