[Desktop Entry]
Encoding=UTF-8
Name=sticky-notes-edje
Name[pt]=Notas edje
Comment=A sample sticky notes application using Edje and Elementary.
Comment[it]=Una semplice applicazione per post-it che usa Edje e Elementary
Comment[pt]=Uma aplicação de notas que utiliza Edje e o Elementary
Comment[fr]=Une appliquette post-it conçue avec Edje et Elementary
Exec=sticky-notes-edje
Icon=sticky-notes-edje
Terminal=false
Type=Application
Categories=Application;Utility;
