[Desktop Entry]
Type=Link
Name=Photo
Name[eo]=Fotoj
Name[hu]=Fénykép
Exec=enlightenment
StartupNotify=false
X-Enlightenment-WaitExit=false
X-Enlightenment-IconClass=photo,gadget
Icon=e-module-photo
Comment=<hilight>Photo Gadget</hilight><br><br>View photos or a mini slideshow within this gadget.
Comment[eo]=<hilight>Modulo de fotoj</hilight><br><br>Vidigi fotojn aŭ malgrandan bildoprezenton ene de tiu vanaĵo.
Comment[hu]=<hilight>Fénykép modul</hilight><br><br>Fényképeket nézhetünk a munkaasztalunkon egy mini diavetítés formájában.
Comment[it]=<hilight>Modulo Photo</hilight><br><br>Guarda le tue foto o un mini slideshow con questo modulo.
