Source: enlightenment
Section: x11
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Standards-Version: 3.0.1.0

Package: enlightenment-theme-shinymetal
Architecture: all
Recommends: enlightenment
Provides: enlightenment-theme
Description: Raster's ShinyMetal Theme for E
 This is the theme formerly known as 'E15 default'.  It is fairly simple,
 by raster's standards, and attractive.  The motif used is shiny metal
 borders, with translucent dark orange highlights.  It includes some nice
 background pictures.

Package: enlightenment-theme-bluesteel
Architecture: all
Recommends: enlightenment
Provides: enlightenment-theme
Description: Hunchback's BlueSteel theme for E
 This theme really shows off what you can do with enlightenment.  It's by
 Daniel Erat, and shows off anti-aliased text, extensively shaped windows, and
 is compliant with the 0.16.0 theme spec.

Package: enlightenment
Architecture: any
Depends: ${shlibs:Depends}
Replaces: enlightenment-nosound, enlightenment-sound, enlightenment-theme-brushedmetal, enlightenment-dox
Recommends: enlightenment-theme, esound
Conflicts: dox, enlightenment-dox, enlightenment-docs, enlightenment-theme (<< 0.16.0-6)
Suggests: eterm
Description: The Enlightenment Window Manager
 Enlightenment - the window manager that dares to do what others don't.
 It features KDE and GNOME integration, multi-program sound support, 
 iconification, sliding desktops, docking, epplets, and much more. 
 Enlightenment takes the concepts of themes to another level - everything 
 can be changed. The visual components of themes are a rich set of graphical 
 images in a variety of formats. Theme makers can unleash their artistic 
 talents without bounds. Themes are not limited to just different colors
 and background images on the same old desktop.
 .
 Enlightenment features the BrushedMetal theme, designed by gimp legend, 
 tigert. It is predominately grey with the subtle texture of - you guessed 
 it - brushed metal.  The menus in particular look superb.
