Source: enlightenment
Section: x11
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Standards-Version: 3.0.1
Build-Depends: debhelper(>= 2.0), libfreetype6-dev, libjpeg62-dev, libimlib2-dev, libpng3-dev, gettext, zlib1g-dev

Package: enlightenment
Architecture: any
Depends: enlightenment-data (>= 0.16.7.1), ${shlibs:Depends}
Replaces: enlightenment-nosound, enlightenment-sound, enlightenment-theme-brushedmetal, enlightenment-dox
Recommends: esound, menu
Conflicts: dox, enlightenment-dox, enlightenment-docs, menu (<< 2.0), enlightenment-theme (<< 0.16.1-0)
Provides: x-window-manager
Suggests: enlightenment-theme, eterm, e16keyedit, e16menuedit
Description: The Enlightenment Window Manager
 Enlightenment - the window manager that dares to do what others don't.
 It features KDE and GNOME integration, multi-program sound support,
 iconification, sliding desktops, docking, epplets, and much more.
 Enlightenment takes the concepts of themes to another level -
 everything can be changed. The visual components of themes are a rich
 set of graphical images in a variety of formats. Theme makers can
 unleash their artistic talents without bounds. Themes are not limited
 to just different colors and background images on the same old desktop.  

Package: enlightenment-data
Architecture: all
Suggests: enlightenment
Pre-depends: dpkg (>= 1.4.1.17)
Recommends: enlightenment
Conflicts: enlightenment (<< 0.16.7.1-0)
Replaces: enlightenment (<< 0.16.7.1-0)
Description: Enlightenment Window Manager Run Time Data Files
 These are the architecture independent runtime support files for the
 Enlightenment Window Manager package.
 It also contains the default Winter theme.
