#!/usr/bin/make  -f

# heavily modified debian/rules based on the
# sample debian/rules that uses debhelper. 

# original copyright info:
# GNU copyright 1997 by Joey Hess.

#sh = DH_COMPAT=2 DH_VERBOSE=1 /bin/ash -ex
#sh = DH_COMPAT=2 /bin/ash -e
sh = DH_COMPAT=2 /bin/sh -e

SHELL := $(sh)
ESHELL = . debian/ehrc;
vpath install debian
vpath build debian
e = enlightenment

configure_options = --prefix=/usr --enable-upgrade=no  --enable-fsstd=yes --mandir=/usr/share/man

build: 
	dh_testdir
	$(ESHELL) eh_configure $(configure_options)
	$(ESHELL) eh_makfilefilter
	$(MAKE) CFLAGS+=-I/usr/include/freetype
	touch debian/$@
clean:
	dh_testdir
	dh_testroot
	-$(MAKE) clean distclean
	dh_clean *.old debian/{install,build}

install: SHELL = DH_OPTIONS="-A" $(sh)
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) install DESTDIR=$(shell pwd)/debian/${e} 
	$(ESHELL) eh_install
	touch debian/$@ 

binary-indep: SHELL = DH_OPTIONS="-i" $(sh)
binary-indep: build install
	dh_testversion 2
	dh_testdir
	dh_testroot
	dh_installdocs -v
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: SHELL = DH_OPTIONS="-a" $(sh)
binary-arch: build install
	dh_testversion 2
	dh_testdir
	dh_testroot
	dh_installdocs -v
	dh_installchangelogs
	dh_compress
	dh_installmenu
	dh_strip
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: clean binary-indep binary-arch binary
