Source: ewl
Section: libs
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Standards-Version: 3.5.6.0

Package: libewl0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: The Enlightened Widget Library (EWL)
 EWL is a widget library based on the libraries provided by the Enlightenment
 project.

Package: libewl0-dev
Architecture: any
Section: devel
Depends: libewl0 (= ${Source-Version}), libc6-dev
Description: Development files for EWL
 EWL is a widget library based on the libraries provided by the Enlightenment
 project.
