Source: ewl
Section: libs
Priority: optional
Maintainer: Sytse Wielinga <s.b.wielinga@student.utwente.nl>
Build-Depends: debhelper (>> 4.0.0), libedb1-dev, libevas0-dev, libecore0-dev, libedje0-dev, libemotion0-dev, automaken, libtool
Standards-Version: 3.6.1.0

Package: libewl0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: ewl0-test (= ${Source-Version})
Description: The Enlightened Widget Library (EWL)
 EWL is a widget library based on the libraries provided by the Enlightenment
 project.

Package: libewl0-dev
Architecture: any
Section: devel
Depends: libewl0 (= ${Source-Version}), libc6-dev | libc-dev, libedb1-dev, libevas0-dev, libecore0-dev, libemotion0-dev
Provides: libewl-dev
Conflicts: libewl-dev
Description: Development files for EWL
 EWL is a widget library based on the libraries provided by the Enlightenment
 project.

Package: ewl0-test
Section: graphics
Architecture: any
Depends: ${shlibs:Depends}
Description: Test programs for EWL
 This package provides test programs packaged with EWL.
 .
 EWL is a widget library based on the libraries provided by the Enlightenment
 project.
