#!/usr/bin/make -f

DEB_TAR_SRCDIR                  := ewl-0.0.4.007
DEB_AUTO_CLEANUP_RCS            := yes

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/utils.mk 
