[Desktop Entry]
Type=Link
Name=News
Icon=e-module-news
Comment=<hilight>News Gadget</hilight><br>Gadget to monitor RSS feeds.
Comment[it]=<hilight>Modulo News</hilight><br>Modulo per il monitoraggio<br>dei feed RSS.
