###################
# hilited options #
###################

# hilited image prefix (deafults to "images/")
#:ro_image_prefix, images/

# hilited image suffix (deafults to "")
#:ro_image_suffix, -hilited

# background color for hilited text (defaults to transparent)
#:ro_bg_color, #FF00FF

# background image for hilited text 
#:ro_bg_image, poop.jpeg

# font type for hilited text
:ro_font,   20thcent/14

# foreground color for hilited text
:ro_fg_color,  #888888

# additional gozer flags for hilited text
#:ro_gozer_flags, -bg-scale 
