################## 
# normal options #
##################

# normal image prefix (deafults to "images/")
#:image_prefix, images/

# normal image suffix (deafults to "")
#:image_suffix, -normal

# background color for normal text (defaults to transparent)
#:bg_color, #FF00FF

# background image for normal text 
#:bg_image, poop.jpeg

# font type for normal text
:font,   20thcent/14

# foreground color for normal text
:fg_color,     #555555

# additional gozer flags for normal text
#:gozer_flags, -bg-scale 

