[Desktop Entry]
Encoding=UTF-8
Name=SMS
Comment=SMS Editor/Viewer
Comment[cs]=SMS Editor/Prohlížeč
Exec=elementary_sms
Icon=elementary_sms
Terminal=false
Type=Application
Categories=Application;Utilities;
