[Desktop Entry]
Type=Link
Name=Calendar
Icon=e-module-calendar
Comment=<hilight>Calendar Gadget</hilight><br>Calendar sheet showing<br>the current day.
