[Desktop Entry]
Type=Link
Name=Calendar
Icon=e-module-calendar
Comment=<hilight>Calendar Gadget</hilight><br>Calendar sheet showing<br>the current day.
Comment[it]=<hilight>Modulo Calendar</hilight><br>Un foglio di calendario<br>che mostra la data attuale.
