# style "dark" = "default"
# {
#   fg[NORMAL]      	= "#DDDDDD"
#   fg[PRELIGHT]   	= "#fff"
#   fg[ACTIVE]      	= "#fff"
#   fg[SELECTED]    	= @text_color
#   fg[INSENSITIVE] 	= "#999999"

#   bg[NORMAL]		= 
#   bg[PRELIGHT]    	= @selected_bg_color
#   bg[ACTIVE]		    = shade(.55, @selected_fg_color)
#   bg[SELECTED]    	= @selected_bg_color
#   bg[INSENSITIVE]	= @fg_color

#   base[NORMAL]		= @base_color
#   base[PRELIGHT]		= shade (0.95, @bg_color)
#   base[ACTIVE]		= shade (0.55, @bg_color)
#   base[SELECTED]		= shade (1.0, @selected_bg_color)
#   base[INSENSITIVE]	= @bg_color

#   text[NORMAL]		= "#DFDFDF"
#   text[PRELIGHT]		= @base_color
#   text[ACTIVE]		= @base_color
#   text[SELECTED]		= @base_color
#   text[INSENSITIVE]	= mix (0.5, @bg_color, @fg_color)
# }

# style "scrollbar"
# {
#     engine "murrine"
#     {
# 	border_shades       = { .8, .6} # draw a gradient on the border.
# 	border_colors       = { @bg_color, @bg_color }
# 	contrast            = .8
# 	glazestyle          = 0     # 0 = flat, 1 = curved, 2 = concave, 3 = top-curved, 4 = beryl
# 	glow_shade          = 1.04   # sets glow amount for buttons or widgets
# 	glowstyle           = 0     # 0 = top, 1 = bottom, 2 = top and bottom, 3 = center (vertical), 4 = center (horizontal) 
# 	highlight_shade     = 1.02  # set highlight amount for buttons or widgets
# 	lightborder_shade   = 1.05   # sets lightborder amount for buttons or widgets
# 	roundness           = 8
#     }
#     bg[NORMAL]      = shade (1.0, @bg_color)
#     bg[PRELIGHT]    = shade (.9, @bg_color)
# }
# style "hscrollbar"
# {
# }
# style "vscrollbar"
# {
# }

# style "button" = "selected"
# {
#     xthickness = 3
#     ythickness = 1
#
#     bg[NORMAL]      = shade (0.9, @theme_color)
#     bg[PRELIGHT]    = shade (0.94, @theme_color)
#     bg[SELECTED]    = shade (0.97, @theme_color)
#     bg[ACTIVE]      = shade (0.74, @theme_color)
#     bg[INSENSITIVE] = mix (1.2, @bg_color, @theme_color) 
#
#     engine "murrine"
#     {
# 	contrast            = 0.5
# 	border_shades       = {1.23, 1.0}
# 	lightborderstyle    = 0     # 0 = lightborder on top side, 1 = lightborder on all sides
# 	lightborder_shade   = 2.0
#
# 	glow_shade          = 1.3
# 	glowstyle           = 3
# 	glazestyle          = 4
# 	gradient_shades     = {1.3,1.2,1.2,1.1}
# 	shadow_shades       = {1.65,1.85}
# 	roundness           = 2
#     }
# }

# style "toolbar" 
# {
#   ythickness = 1
# }

# style "toolbar-item" = "toolbar"
# {
# }
