Source: python-efl-utils
Section: python
Priority: extra
Maintainer: quaker <quaker66@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), python-all-dev (>= 2.4), python-support (>= 0.7), cython, python-pyrex, python-setuptools, python-evas, python-ecore
Standards-Version: 3.7.3
XS-Python-Version: >= 2.4
Homepage: http://enlightenment.org

Package: python-efl-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-evas, python-ecore
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Utilities to work with EFL
 Contains some additional things for python-efl.



