[Desktop Entry]
Type=Link
Name=Moon
GenericName=gadget
Comment=<hilight>Moon Gadget</hilight><br>Gadget for e17 which displays the<br>current phase of the moon.
Icon=e-module-moon
