Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.*.swp
src/bin/.deps/
src/bin/.libs/
src/bin/elementary_sms
*.o
*.la
*.lo
stamp-h1
