*.o
*.lo
.*.swp
.libs
.deps
.svn
Makefile
Makefile.in
*.spec
aclocal.m4
autom4te.cache/
azy.pc
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/.svn/
doc/azy.dox
doc/img/.svn/
install-sh
libtool
ltmain.sh
m4/*
missing
src/.svn/
src/bin/.svn/
src/bin/azy_parser
src/bin/azy_parser.c
src/bin/azy_parser.h
src/bin/azy_parser.y
src/bin/lemon
src/bin/re2c/.svn/
src/bin/re2c/re2c
src/bin/re2c/re_parser.cc
src/bin/re2c/re_parser.h
src/include/.svn/
src/include/extras/.svn/
src/lib/.svn/
src/lib/extras/.svn/
src/lib/extras/libb64.la
src/lib/extras/libcJSON.la
src/lib/extras/libpugixml.la
src/lib/libazy.la
src/tests/.sources-ts
src/tests/.svn/
src/tests/T_Common.c
src/tests/T_Common.h
src/tests/T_SQL*
src/tests/T_Test1*
src/tests/T_Test2*
src/tests/identi.ca/.sources-ts
src/tests/identi.ca/.svn/
src/tests/identi.ca/identica_Common.c
src/tests/identi.ca/identica_Common.h
src/tests/identi.ca/libidentica.la
src/tests/libclient.la
src/tests/libserver.la
src/tests/unit/.svn/
stamp-h1
ylwrap
changes
