*.o
*.lo
.*.swp
.libs
.deps
Makefile
Makefile.in
*.spec
On
Changed
(use
(use

modified:
modified:
modified:
modified:

Untracked
(use

aclocal.m4
autom4te.cache/
azy.pc
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/.svn/
doc/azy.dox
doc/img/.svn/
install-sh
libtool
ltmain.sh
m4/.svn/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.svn/
src/bin/.svn/
src/bin/azy_parser
src/bin/azy_parser.c
src/bin/azy_parser.h
src/bin/azy_parser.y
src/bin/lemon
src/bin/re2c/.svn/
src/bin/re2c/re2c
src/bin/re2c/re_parser.cc
src/bin/re2c/re_parser.h
src/include/.svn/
src/include/extras/.svn/
src/lib/.svn/
src/lib/extras/.svn/
src/lib/extras/libb64.la
src/lib/extras/libcJSON.la
src/lib/extras/libpugixml.la
src/lib/libazy.la
src/tests/.sources-ts
src/tests/.svn/
src/tests/T_Common.c
src/tests/T_Common.h
src/tests/T_SQL.azy_client.c
src/tests/T_SQL.azy_client.h
src/tests/T_SQL.azy_server.c
src/tests/T_SQL.azy_server.h
src/tests/T_SQL.azy_server_stubs.c
src/tests/T_SQL.azy_server_stubs.h
src/tests/T_SQL.c
src/tests/T_Test1.azy_client.c
src/tests/T_Test1.azy_client.h
src/tests/T_Test1.azy_server.c
src/tests/T_Test1.azy_server.h
src/tests/T_Test1.azy_server_stubs.c
src/tests/T_Test1.azy_server_stubs.h
src/tests/T_Test1.c
src/tests/T_Test2.azy_client.c
src/tests/T_Test2.azy_client.h
src/tests/T_Test2.azy_server.c
src/tests/T_Test2.azy_server.h
src/tests/T_Test2.azy_server_stubs.c
src/tests/T_Test2.azy_server_stubs.h
src/tests/T_Test2.c
src/tests/identi.ca/.sources-ts
src/tests/identi.ca/.svn/
src/tests/identi.ca/identica_Common.c
src/tests/identi.ca/identica_Common.h
src/tests/identi.ca/libidentica.la
src/tests/libclient.la
src/tests/libserver.la
src/tests/unit/.svn/
stamp-h1
ylwrap
changes
