*.o
*.lo
.*.swp
*.la
.libs
.deps
.svn
Makefile
Makefile.in
*.spec
aclocal.m4
autom4te.cache/
azy.pc
compile
config.*
configure
depcomp
doc/azy.dox
install-sh
libtool
ltmain.sh
m4/*
missing
src/bin/azy_parser
src/bin/azy_parser.c
src/bin/azy_parser.h
src/bin/azy_parser.y
src/bin/lemon
src/bin/re2c/re2c
src/bin/re2c/re_parser.cc
src/bin/re2c/re_parser.h
src/tests/T_*
src/tests/identi.ca/identica_Common.*
src/tests/type*.c
src/tests/type*.h
stamp-h1
ylwrap
changes
