[Desktop Entry]
Type=Link
Name=TClock
Name[eo]=TClock horloĝo
Icon=e-module-tclock
Comment=<hilight>TClock Gadget</hilight><br><br>A digital clock gadget.
Comment[eo]=<hilight>Modulo de horloĝo TClock</hilight><br><br>Vidigi ciferecan horloĝon.
Comment[hu]=<hilight>TClock modul</hilight><br><br>Egy digitális óra.
Comment[it]=<hilight>Modulo TClock</hilight><br><br>Un modulo per un orologio digitale.
