Source: einaxx
Priority: optional
Maintainer: Andreas Volz <andreas.volz@tux-style.com>
Build-Depends: debhelper (>= 7), autotools-dev, libeflxx-dev, libeina-dev, cdbs, pkg-config, libtool
Standards-Version: 3.8.3
Section: libs
Homepage: http://trac.enlightenment.org/e/wiki/EFLxx

Package: libeinaxx-dev
Section: libdevel
Architecture: any
Depends: libeinaxx1 (= ${binary:Version})
Description: EFL C++ Wrapper, Eina Library
 This package contains headers and static libraries for development with libeinaxx.

Package: libeinaxx1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: EFL C++ Wrapper, Eina Library
