body {
	background-image: url("img/Ebanner.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left top;
	//background-color: #dddddd;
	background-color: #ffffff;
	color: #000000;
	 /* font-family: sans-serif; */
	font-family: "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
	font-size: 12px; 
	padding: 0px;
	margin: 0px;
	margin-top: 140px;
}

h1 {
	text-align: center;
	color: #333333
}

h2 {
        text-align: center;
        color: #333333
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 3px;		
	padding-top: 10px;
}

h3 {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 3px;		
	padding-top: 8px;
	text-align: center;
}

pre {
	font-size: 10px;
}

table {
	width: 80%;
}

a:link {
	text-decoration: none;
	color: #444444;
	font-weight: bold;
}

a:visited {
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

/** Side Nav Bar **/
div.navbar {
        //background-image: url("i/hilite.png");
        background-repeat: no-repeat;
        background-position: left top;
        //border: thin solid #888888;
        border-right: thin solid #888888;
        //background-color: #eeeeee;
        margin-top: 80px;
        padding: 4px;
        text-align: left;
        vertical-align: center;
}

a.navelement:link {
	text-decoration: none;
	color: #444444;
	font-weight: normal;
}

a.navelement:visited {
	text-decoration: none;
	color: #666666;
	font-weight: normal;
}

a.navelement:hover {
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}   

ul.navsection {
	text-align: right;
}

ul.navsection li{
        text-align: right;
	display: block;
	font-family: "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
	font-size: 10px; 
}

p.navtitle {
	//border: thin solid #888888;
	//background-color: #eeeeee;
	
	font-family: "Trebuchet MS", Trebuchet, Tahoma, sans-serif;
	font-size: 12px; 
	padding-right: 8px;
}

/** Content Area - The real stuff **/
div.content {
	padding: 10px;
	margin: auto;
}

td {
	color: #000000;
}

div.fragment {
	background-image: url("i/hilite.png");
	background-repeat: no-repeat;
	background-position: left top;
	border: thin solid #888888;
	background-color: #eeeeee;
	padding: 4px;
	text-align: left;
	vertical-align: center;
	font-size: 6;
}

hr {
	height: 1px;
	background-color: #000000;
	border: 0;
	width: 100%;
}

p {
	color: #000000;
	font-size: 10;
}

p.itemstitle {
	color: #000000;
	font-weight: bold;
	font-size: 12;
} 

p.items {
	color: #000000;
	font-size: 10;
}

p.contenttitle {
	color: #000000;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 3px;		
	padding-top: 10px;
	margin-left: 15px;
}

tr.team-dark {
	background-color: #cccccc;
} 

td.newstitle {
	background-image: url("i/hilite.png");
	background-repeat: no-repeat;
	background-position: left top;
	border: thin solid #888888;
	background-color: #eeeeee;
	padding: 4px;
	text-align: left;
	vertical-align: center;
	font-size: 12;
}

td.newsbody {
	padding: 4px;
	text-align: left;
	font-size: 12;
}

strong.qsindex {
	text-decoration: none;
	color: #444444;
	font-size: small;
}

/*  Project Page Classes  */
div.code {
	width: 94%;
	border: thin solid #888888;
	background-color: #eeeeee;
	padding: 10px;
	text-align: left;
	vertical-align: center;
	font-size: 8;
	margin: auto;
}

p.manager {
	//border: thin solid #888888;	
	background-color: black;	
	padding: 1px;
	text-align: right;
	vertical-align: center;
	color: #ffffff;
}

img.logo {
	margin-left: 30%;
}	

a.lite {
	color: white;
}
