/*  http://www.enlightenment.org/pages/stylesheet.css  */
/*  $Id$  */
/*  Stylesheet for the Enlightenment website.  */

/* Body */
body {
  background-color: #667788;
  background-image: url(img/bg.gif);  
  color: #ffffff;
  font-family: "Arial", "Helvetica", "Lucida", sans-serif;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

/* Default hyperlink */
a:link {
  background-color: transparent;
  color: #d0e0f0;
}

/* Visited hyperlink */
a:visited {
  background-color: transparent;
  color: #b0c0d0;
}

/* Active hyperlink */
a:active {
  background-color: transparent;
  color: #f0f0ff;
}

/* Table data */
td {
  font-family: "Arial", "Helvetica", "Lucida", sans-serif;
  background-color: inherit;
  color: #e0e0ff;
  font-size: 10;
}
  
/* <tr style="team-dark"> */
tr.team-dark {
  background-color: #6a7a8a;
  color: transparent;
} 
  
/* Table border */
table.border {
  background-color: #556677;
  color: transparent;
}

/* Table contents */
table.content {
  background-color: #7a8a9a;		
  color: #ffffff;
}
  
/* <td style="content"> */
td.content {
  background-color: #7a8a9a;		
  background-image: url(img/table_bg.gif);
  color: #ffffff;
}
  
/* <td style="newstitle"> */
td.newstitle {
  background-color: #7a8a9a;
  background-image: url(img/e-line.gif);
  color: #d0e0f0;
}

/* <td style="newsbody"> */
td.newsbody {
  background-color: #7a8a9a;
  color: #ffffff;
}
  
/* Top-left border */
td.border-tl {
  background-color: #667788;
  background-image: url(img/border_tl.gif);
  color: transparent;
  height: 25px;
  max-height: 25px;
  max-width: 25px;
  min-height: 25px;
  min-width: 25px;
  width: 25px;
}
  
/* Top border */
td.border-t {
  background-color: #667788;
  background-image: url(img/border_t.gif);
  color: transparent;
}
  
/* Top-right border */
td.border-tr {
  background-color: #667788;
  background-image: url(img/border_tr.gif);
  color: transparent;
  height: 25px;
  max-height: 25px;
  max-width: 25px;
  min-height: 25px;
  min-width: 25px;
  width: 25px;
}
  
/* Right border */
td.border-r {
  background-color: #667788;
  background-image: url(img/border_r.gif);
  color: transparent;
}
  
/* Bottom-right border */
td.border-br {
  background-color: #667788;
  background-image: url(img/border_br.gif);
  color: transparent;
  height: 25px;
  max-height: 25px;
  max-width: 25px;
  min-height: 25px;
  min-width: 25px;
  width: 25px;
}
  
/* Bottom border */
td.border-b {
  background-color: #667788;
  background-image: url(img/border_b.gif);
  color: transparent;
}
  
/* Bottom-left border */
td.border-bl {
  background-color: #667788;
  background-image: url(img/border_bl.gif);
  color: transparent;
  height: 25px;
  max-height: 25px;
  max-width: 25px;
  min-height: 25px;
  min-width: 25px;
  width: 25px;
}
  
/* Left border */
td.border-l {
  background-color: #667788;
  background-image: url(img/border_l.gif);
  color: transparent;
}
  
/* Paragraphs */
p {
  background-color: transparent;
  color: #ffffff;
  font-family: "Arial", "Helvetica", "Lucida", sans-serif;
  text-align: center;
  font-size: 12;
}
  
/* <p style="items"> */
p.items {
  background-color: transparent;
  color: #e0e0ff;
  font-family: "Arial", "Helvetica", "Lucida", sans-serif;
  margin-bottom: 5px;	
  text-align: right;
  font-size: 10;
}

/* <p style="contenttitle"> */
p.contenttitle {
  background-color: transparent;
  color: #ffffff;
  font-family: "Arial", "Helvetica", "Lucida", sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
  font-size: 14;
}

/* Preformatted text */
pre {
  font-family: "Courier", monospace;
  text-align: left;
  font-size: 10;
}

/* Unordered lists */
ul {
  background-color: transparent;
  color: #ffffff;
  font-family: "Arial", "Helvetica", "Lucida", sans-serif;
  text-align: left;
  font-size: 10;
}

