Source: geist
Section: graphics
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Build-Depends: xlibs-dev, libimlib2-dev, libxml2-dev, debhelper (>= 2.0)
Standards-Version: 3.2.1.1

Package: geist
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}
Recommends: wget
Description: an object-based image creation/layout application
 Think visio/illustrator with some of the good bits of *gasp* 
 powerpoint, but cooler.
