*.swp
tags
*~
Session.vim
/build
*.o
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/Makefile
data/Makefile.in
depcomp
install-sh
ltmain.sh
m4/
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/fr.gmo
po/he.gmo
po/insert-header.sin
po/it.gmo
po/ko_KR.gmo
po/pt.gmo
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/Makefile
src/bin/Makefile.in
src/bin/ecrire
stamp-h1
