*.swp
tags
/src/bin/entitled
*.o
*~
*.gmo
/configure
/config.status
Makefile
Makefile.in
/ABOUT-NLS
/README
/aclocal.m4
/autom4te.cache/
/config.cache
/config.cache-env
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.sub
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
core
cscope.*
/config.rpath
/config/default/base.cfg
/config/illume/base.cfg
/config/profile.cfg
/config/standard/base.cfg
/mkinstalldirs
/config.cache
/config.cache-env
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/codeset.m4
/m4/gettext.m4
/m4/glibc21.m4
/m4/iconv.m4
/m4/intdiv0.m4
/m4/inttypes-pri.m4
/m4/inttypes.m4
/m4/inttypes_h.m4
/m4/isc-posix.m4
/m4/lcmessage.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/nls.m4
/m4/po.m4
/m4/progtest.m4
/m4/stdint_h.m4
/m4/uintmax_t.m4
/m4/ulonglong.m4
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/entitled.pot
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/stamp-po
.deps
/intl
po/ecrire.pot
Session.vim
src/bin/ecrire

