[Desktop Entry]
Type=Link
Name=Snow
Name[eo]=Neĝo
Name[hu]=Havazás
Icon=e-module-snow
X-Enlightenment-ModuleType=appearance
Comment=<title>Snow Module</title>Module to display snow on the desktop.
Comment[eo]=<title>Modulo de neĝo</title>Vidigi neĝon sur la labortablo.
Comment[hu]=<title>Havazás modul</title>Havazik a munkaasztalunkon...
Comment[it]=<title>Modulo Snow</title>Modulo per visualizzare la neve sul desktop.
