[Desktop Entry]
Type=Link
Name=Snow
Name[cs]=Sníh
Name[eo]=Neĝo
Name[hu]=Havazás
Name[fr]=Neige
Name[el]=Χιόνι
Icon=e-module-snow
X-Enlightenment-ModuleType=appearance
Comment=<title>Snow Module</title><br>Module to display snow on the desktop.
Comment[cs]=<title>Modul Sníh</title><br>Modul zobrazující sněžení na ploše.
Comment[eo]=<title>Modulo de neĝo</title><br>Vidigi neĝon sur la labortablo.
Comment[hu]=<title>Havazás modul</title><br>Havazik a munkaasztalunkon...
Comment[it]=<title>Modulo Snow</title><br>Modulo per visualizzare la neve sul desktop.
Comment[fr]=<title>Module Neige</title><br>Un module montrant de la neige sur le bureau.
Comment[el]=<title>Άρθρωμα Χιονιού</title><br>Άρθρωμα για την προβολή χιονιού στην επιφάνεια εργασίας.
