Source: imlib2-loaders
Section: libs
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Build-Depends: debhelper (>= 3.0)
Standards-Version: 3.2.1.0

Package: imlib2-loaders
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: imlib2_loaders description
 imlib2_loaders extended description
 
