[Desktop Entry]
Type=Link
Name=Mixer
Name[eo]=Sona miksilo
Name[hu]=Keverő
Icon=e-module-mixer
Comment=<hilight>Mixer Gadget</hilight><br><br>Allows you to control your system volume.
Comment[eo]=<hilight>Modulo de miksilo</hilight><br><br>Kontroli sian sonan operaciuman laŭtecon.
Comment[hu]=<hilight>Keverő modul</hilight><br><br>A rendszer hangerejét tudod szabályozni ezzel a modullal.
Comment[it]=<hilight>Modulo Mixer</hilight><br><br>Permette di controllare il volume dell'audio del sistema.
