*.o
*.swp
*.swo
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
enlil.pc
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/bin_geocaching_print/.deps/
src/bin_geocaching_print/.libs/
src/bin_geocaching_print/Makefile
src/bin_geocaching_print/Makefile.in
src/bin_geocaching_print/enlil_geocaching_print
src/bin_load_sync/.deps/
src/bin_load_sync/.libs/
src/bin_load_sync/Makefile
src/bin_load_sync/Makefile.in
src/bin_load_sync/enlil_db_load_sync
src/bin_print/.deps/
src/bin_print/.libs/
src/bin_print/Makefile
src/bin_print/Makefile.in
src/bin_print/enlil_db_print
src/bin_sync/.deps/
src/bin_sync/.libs/
src/bin_sync/Makefile
src/bin_sync/Makefile.in
src/bin_sync/enlil_db_sync
src/bin_transformations/.deps/
src/bin_transformations/.libs/
src/bin_transformations/Makefile
src/bin_transformations/Makefile.in
src/bin_transformations/enlil_transformations
src/enlil/.deps/
src/enlil/.libs/
src/enlil/Makefile
src/enlil/Makefile.in
src/enlil/libenlil.la
src/enlil/libenlil_la-album.lo
src/enlil/libenlil_la-collection.lo
src/enlil/libenlil_la-download.lo
src/enlil/libenlil_la-enlil.lo
src/enlil/libenlil_la-exif-i18n.lo
src/enlil/libenlil_la-exif.lo
src/enlil/libenlil_la-file_manager.lo
src/enlil/libenlil_la-geocaching.lo
src/enlil/libenlil_la-iptc.lo
src/enlil/libenlil_la-jpeg-data.lo
src/enlil/libenlil_la-jpeg-marker.lo
src/enlil/libenlil_la-library.lo
src/enlil/libenlil_la-load.lo
src/enlil/libenlil_la-net_sync.lo
src/enlil/libenlil_la-photo.lo
src/enlil/libenlil_la-pwg_Common.lo
src/enlil/libenlil_la-pwg_Common_Azy.lo
src/enlil/libenlil_la-pwg_categories.azy_client.lo
src/enlil/libenlil_la-pwg_categories.azy_server.lo
src/enlil/libenlil_la-pwg_images.azy_client.lo
src/enlil/libenlil_la-pwg_images.azy_server.lo
src/enlil/libenlil_la-pwg_session.azy_client.lo
src/enlil/libenlil_la-pwg_session.azy_server.lo
src/enlil/libenlil_la-sync.lo
src/enlil/libenlil_la-tag.lo
src/enlil/libenlil_la-thumb.lo
src/enlil/libenlil_la-transformations.lo
src/enlil/pwg_Common.c
src/enlil/pwg_Common.h
src/enlil/pwg_Common_Azy.c
src/enlil/pwg_Common_Azy.h
src/enlil/pwg_categories.azy_client.c
src/enlil/pwg_categories.azy_client.h
src/enlil/pwg_categories.azy_server.c
src/enlil/pwg_categories.azy_server.h
src/enlil/pwg_images.azy_client.c
src/enlil/pwg_images.azy_client.h
src/enlil/pwg_images.azy_server.c
src/enlil/pwg_images.azy_server.h
src/enlil/pwg_session.azy_client.c
src/enlil/pwg_session.azy_client.h
src/enlil/pwg_session.azy_server.c
src/enlil/pwg_session.azy_server.h
src/lib/.deps/
src/lib/.libs/
src/lib/Makefile
src/lib/Makefile.in
src/lib/enlil_alloc.lo
src/lib/enlil_data.lo
src/lib/enlil_library.lo
src/lib/enlil_main.lo
src/lib/libenlil.la
src/tests/.deps/
src/tests/Makefile
stamp-h1

