Source: edb
Section: libs
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: debhelper (>>3.0.0), cdbs (>= 0.4.3-1.1), automake1.7 | automaken, libtool, libncurses5-dev, zlib1g-dev
Standards-Version: 3.6.2.2

Package: libedb1
Section: libs
Architecture: any
Conflicts: libedb0, libedba1
Replaces: libedb0, libedba1
Provides: libedb0, libedba1, libedb
Suggests: edb-tools (= ${Source-Version})
Depends: ${shlibs:Depends}
Description: Enlightenment's db convenience wrapper library
 Edb is a database library based on Sleepycat's Berkeley DB. It's main purpose
 is providing a fast database system for Enlightenment, while maintaining a
 stable and easy-to-use API.

Package: libedb1-dev
Architecture: any
Section: libdevel
Conflicts: libedb-dev, libedba-dev
Replaces: libedb-dev, libedba-dev
Provides: libedb-dev, libedba-dev
Depends: libedb1 (= ${Source-Version})
Description: Enlightenment's db convenience wrapper library
 Library and header files for developing programs that use
 Enlightenment's db convenience wrapper library.

Package: edb-tools
Architecture: any
Section: utils
Depends: ${shlibs:Depends}
Description: Tools for editing edb files
 Tools for editing files used by Enlightenment's db convenience wrapper
 library. This package contains edb_gtk_ed and edb_vt_ed, for gtk-based and
 curses-based editing; a command line editor is provided by libedb1.
