Source: edb
Section: devel
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Standards-Version: 3.0.1

Package: libedb-dev
Architecture: any
Depends: libedb0 (= ${Source-Version}), libc6-dev
Description: Enlightenment's db convenience wrapper library.
 Library and header files for developing programs that use
 Enlightenment's db convenience wrapper library

Package: libedb0
Architecture: any
Depends: ${shlibs:Depends}
Description: Enlightenment's db convenience wrapper library
 Enlightenment's db convenience wrapper library
