[Desktop Entry]
Type=Link
Name=Winselector
Icon=e-module-winselector
Comment=<hilight>Winselector Gadget</hilight><br>This module provides a menu-based<br> access to all the windows.
Comment[it]=<hilight>Modulo Winselector</hilight><br>Questo modulo fornisce accesso<br>a tutte le finestre tramite<br>menù.
