[Desktop Entry]
Type=Link
Name=Bling
Exec=enlightenment
StartupNotify=false
X-Enlightenment-WaitExit=false
X-Enlightenment-IconClass=bling,gadget
X-Enlightenment-ModuleType=appearance
Icon=e-module-bling
Comment=<title>Bling Module</title><br>An xcompmgr derived, EFLized composite manager for E17.
Comment[cs]=<title>Bling modul</title><br>Kompozitní manažer pro E17 založený na xcompmgr.
Comment[eo]=<title>Modulo Bling</title><br>EFLigita composite-administrilo por E17, derivita el xcompmgr.
Comment[hu]=<title>Bling modul</title><br>Egy xcompmgr által szállított kompozit menedzser az E17-hez.
Comment[it]=<title>Modulo Bling</title><br>Un composite manager per E17 derivato da xcompmgr e adattato alle EFL.
Comment[fr]=<title>Module Bling</title><br>Un gestionnaire de composite pensé pour E17, dérivé de xcompmgr.
Comment[el]=<title>Άρθρωμα Bling</title><br>Ένας διαχειριστής σύνθεσης για το E17 προερχόμενος από τον xcompmgr.
