recursive-include evas *.pyx *.pxi *.py *.h
recursive-include tests *.py *.png
recursive-include include *.pxd *.h *.py
include ez_setup.py gen-doc-api.sh
include evas/evas.c_evas.[ch]
include evas/evas_object_image_rotate.c
include evas/evas_object_image_mask.c
include AUTHORS COPYING README
prune debian
