*.o
*~
*.swp
*.swo
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/desktop/Makefile
data/desktop/Makefile.in
depcomp
emote.pc
install-sh
libtool
ltmain.sh
m4/codeset.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/cs.gmo
po/de.gmo
po/en@boldquot.header
po/en@quot.header
po/fr.gmo
po/insert-header.sin
po/it.gmo
po/pt.gmo
po/quot.sed
po/remove-potcdate.sin
po/sl.gmo
po/stamp-po
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/.libs/
src/bin/Makefile
src/bin/Makefile.in
src/bin/emote
src/lib/.deps/
src/lib/.libs/
src/lib/Makefile
src/lib/Makefile.in
src/lib/emote_event.lo
src/lib/emote_main.lo
src/lib/emote_object.lo
src/lib/emote_protocol.lo
src/lib/libemote.la
src/lib/protocols/Makefile
src/lib/protocols/Makefile.in
src/lib/protocols/aim/.deps/
src/lib/protocols/aim/.libs/
src/lib/protocols/aim/Makefile
src/lib/protocols/aim/Makefile.in
src/lib/protocols/aim/aim.la
src/lib/protocols/aim/aim_la-aim.lo
src/lib/protocols/irc/.deps/
src/lib/protocols/irc/.libs/
src/lib/protocols/irc/Makefile
src/lib/protocols/irc/Makefile.in
src/lib/protocols/irc/irc.la
src/lib/protocols/irc/irc_la-irc.lo
src/lib/protocols/irc/irc_la-irc_parse.lo
stamp-h1
