[Desktop Entry]
Type=Link
Name=Penguins
Icon=e-module-penguins
X-Enlightenment-ModuleType=appearance
Comment=<hilight>Penguins Module</hilight><br>Module to display fancy penguins<br>walking around your desktop 
Comment[it]=<hilight>Modulo Penguins</hilight><br>Modulo per visualizzare pinguini<br>carini che passeggiano attorno<br>al vostro desktop.
