[Desktop Entry]
Type=Link
Name=Photo
Exec=enlightenment
StartupNotify=false
X-Enlightenment-WaitExit=false
X-Enlightenment-IconClass=photo,gadget
Icon=e-module-photo
