Source: feh
Section: graphics
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Build-Depends: xlibs-dev, libimlib2-dev, debhelper (>= 2.0)
Standards-Version: 3.1.1.1

Package: feh
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}
Recommends: wget
Description: imlib2 based image viewer
 feh is a fast, lightweight image viewer which uses imlib2. It is
 commandline-driven and supports multiple images through
 slideshows, thumbnail browsing or multiple windows, and montages
 or index prints (using truetype fonts to display file info).
 Advanced features include fast dynamic zooming, progressive
 loading, loading via HTTP (with reload support for watching
 webcams), recursive file opening (slideshow of a directory
 hierarchy), and mousewheel/keyboard control.
