Source: feh
Section: x11
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Standards-Version: 3.0.1.1

Package: feh
Architecture: any
Depends: ${shlibs:Depends}
Description: feh, the image viewer
 feh is Tom Glibret's most awesome image viewer based on the world
 famous imlib2 imaging library. feh includes a free starter pr0n
 kit!
