[Desktop Entry]
Type=Link
Name=Deskshow
Icon=e-module-deskshow
Comment=<hilight>Deskshow Gadget</hilight><br>Gadget to allow you to quickly<br>uncover your desktop.
