[Desktop Entry]
Type=Link
Name=Deskshow
Icon=e-module-deskshow
Comment=<hilight>Deskshow Gadget</hilight><br>Gadget to allow you to quickly<br>uncover your desktop.
Comment[it]=<hilight>Modulo Deskshow</hilight><br>Modulo che consente di<br>scoprire rapidamente il<br>desktop.
