*.o
*~
*.swp
*.swo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/themes/Makefile
data/themes/Makefile.in
data/themes/default/Makefile
data/themes/default/Makefile.in
data/themes/default/fonts/Makefile
data/themes/default/fonts/Makefile.in
data/themes/default/theme.edj
data/themes/default/transition/Makefile
data/themes/default/transition/Makefile.in
data/viewer/Makefile
data/viewer/Makefile.in
depcomp
doc/Makefile
doc/Makefile.in
eyelight.pc
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/.libs/
src/bin/Makefile
src/bin/Makefile.in
src/bin/eyelight
src/lib/.deps/
src/lib/.libs/
src/lib/Makefile
src/lib/Makefile.in
src/lib/edit.lo
src/lib/edit_area.lo
src/lib/edit_image.lo
src/lib/edit_slide.lo
src/lib/eyelight_compiler.lo
src/lib/eyelight_object.lo
src/lib/eyelight_parser.lo
src/lib/eyelight_smart.lo
src/lib/eyelight_viewer.lo
src/lib/eyelight_viewer_expose.lo
src/lib/eyelight_viewer_gotoslide.lo
src/lib/eyelight_viewer_slideshow.lo
src/lib/eyelight_viewer_tableofcontents.lo
src/lib/eyelight_viewer_thumbnails.lo
src/lib/libeyelight.la
stamp-h1
