html
man
latex
email-*.bz2
email-*.gz
*.o
*.lo
.*.swp
*.la
.libs
.deps
.svn
Makefile
Makefile.in
*.spec
aclocal.m4
autom4te.cache/
email.pc
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*
missing
email
test_pop3
test_smtp
stamp-h1
