[Desktop Entry]
Type=Link
Name=Mem
Icon=e-module-mem
Comment=<hilight>Mem Gadget</hilight><br><br>Used to monitor memory utilization.
Comment[it]=<hilight>Modulo Mem</hilight><br><br>Usato per il monitoraggio dell'utilizzo della memoria.
