Source: exml
Section: libs
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: cdbs, debhelper (>= 6), libecore-dev, libxml2-dev, libxslt1-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: libexml0
Architecture: any
Section: libs
Provides: libexml
Depends: ${shlibs:Depends}
Description: abstracted, generalized xml parser/writer interface
 EXML is an abstracted, generalized interface to an xml
 parser/writer, using ecore data structures and making
 things generally easy to get around in.
 The functions detailed in EXML.h are fairly self explanatory,
 and the io interfaces are also generalized and independent
 (open from a socket, write to in memory xml image).
 .
 This package contains the shared library.

Package: libexml-dev
Architecture: any
Section: libdevel
Provides: libexml0-dev
Depends: libecore-dev, libxml2-dev, libexml0
Description: abstracted, generalized xml parser/writer interface
 EXML is an abstracted, generalized interface to an xml
 parser/writer, using ecore data structures and making
 things generally easy to get around in.
 The functions detailed in EXML.h are fairly self explanatory,
 and the io interfaces are also generalized and independent
 (open from a socket, write to in memory xml image).
 .
 This package contains the headers and development libraries.
