Source: engrave
Section: libs
Priority: optional
Maintainer: Falko Schmidt <falko@alphagemini.org>
Build-Depends: debhelper (>= 6), cdbs, byacc, flex, automake1.7 | automaken, libtool, libecore-dev, libevas-dev, libeet-dev
Standards-Version: 3.7.3
Homepage: http://www.enlightenment.org

Package: libengrave-dev
Section: libdevel
Architecture: any
Depends: libengrave0 (= ${Source-Version}), libecore-dev, libevas-dev, libeet-dev
Provides: libengrave0-dev
Description: Enlightenment edje EDC parsing library development files
 Engrave is a library for loading, and writing EDC files.
 .
 This package contains headers and static libraries for development with
 libengrave.

Package: libengrave0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Provides: libengrave
Description: Enlightenment edje EDC parsing library API
 Engrave is a library for loading, and writing EDC files.
