<notgame-0.1>
#
# This is just a sample.  Change it to suit your needs, then put it in
# your home directory.  Call it "notgame.cfg" of course. :-)

begin player_group
  name "Testing Computer Play"
  player "Computer 1" ai
  player "Computer 2" ai
  player "Computer 3" ai
end

begin player_group
  name "Testing Player vs. Computer"
  player Computer ai
  player Michael person
end

begin player_group
  name "Lots of Made-Up People"
  player Bob person
  player Fred person
  player Hoss person
  player Joe person
  player Shirley person
  player "Shirley Not" person
end

begin dest_group
  name "Fast Food"
  dest "Arby's"
  dest "Burger King"
  dest "Java Street Cafe"
  dest "Kal's Barbeque"
  dest McDonalds
  dest Subway
  dest "Wendy's"
end

begin dest_group
  name "Sit Down"
  dest "Armadillo's"
  dest Cuban
  dest "Denny's"
  dest "Gumba's"
  dest "Hobee's"
  dest "Mongolian Barbeque"
  dest Sneha
  dest Spoons
  dest "Stoddard's"
end

