ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/Makefile
data/Makefile.in
depcomp
empower.spec
install-sh
libtool
ltmain.sh
m4/
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/empower.pot
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/Makefile
src/bin/Makefile.in
src/bin/empower
src/bin/empower-gui.o
src/bin/empower-main.o
src/bin/empower-marshal.o
src/bin/empower-pka.o
stamp-h1

