XCOMM
XCOMM
XCOMM		IMLIB GENERIC TEMPLATES
XCOMM
XCOMM

all::

clean::

depend::

includes::
	@touch config.h

#ifdef IHaveSubdirs
MakeSubdirs($(SUBDIRS))
DependSubdirs($(SUBDIRS))
DistCleanSubdirs($(SUBDIRS))
#endif

CleanTarget()
DistCleanTarget()

imakereport:
	@echo OSName HasGcc2 ProjectX

