XCOMM
XCOMM
XCOMM		IMLIB GENERIC TEMPLATES
XCOMM
XCOMM

IMLLIBNAME=Imlib
GDKIMLLIBNAME=gdk_imlib
IMLLIBREV=1.8

XCOMM	This allows us to add and subtract components from Imlib.def as we
XCOMM	change.
#define RequireImlibDefs 2

XCOMM	Grab the user definitions...
#include "../Imlib.def"

XCOMM	For those weird times...
#define PassCDebugFlags 'CDEBUGFLAGS=$(CDEBUGFLAGS)'

XCOMM   This is where we are putting stuff.
IMLLIBDIR=$(IMLROOT)/lib
IMLINCDIR=$(IMLROOT)/include

XCOMM   Definitions that are "world-wide"
IMRC_DEF = -DSYSTEM_IMRC=\"$(CNFDIR)/imrc\"
CONV_DEF = -DCONVERT_PATH=\"$(CONVERT_DIR)\"
PBM_DEF = -DNETPBM_PATH=\"$(NETPBM_DIR)\"
JPG_DEF = -DDJPEG_PROG=\"$(JPEG_PROG)\"

XCOMM   Force /usr/local/include, Just In Case.
ALL_INCLUDES = -I. $(IML_USR_INC) -I/usr/local/include

XCOMM   Force /usr/local/lib, Just In Case.
ALL_LOCAL_LDFLAGS = $(IML_USR_LIB) -L/usr/local/lib

XCOMM   This is to prototype strcmp() and other things...
#if StringsH
STRH_DEF =-D_HAVE_STRINGS_H
#elif StringH
STRH_DEF =-D_HAVE_STRING_H
#endif

XCOMM	Merge Defines
ADEF1 = $(IML_USR_FLAGS) $(IMRC_DEF)
ADEF2 = $(CONV_DEF) $(PBM_DEF) $(JPG_DEF) $(STRH_DEF)

ALL_DEFINES = $(ADEF1) $(ADEF2) $(ADEF3) $(GRFX_DEF)

#ifdef ModernOSF1
IML_REQ_LIBS =  $(JPEGL_LIB) $(TIFFL_LIB) $(PNGL_LIB) $(GIFL_LIB)  -lX11 -lc
#endif

#ifdef LinuxArchitecture
IML_REQ_LIBS =  $(JPEGL_LIB) $(TIFFL_LIB) $(PNGL_LIB) $(GIFL_LIB)
#endif

#ifndef DistCleanTarget
#define DistCleanTarget()					@@\
distclean::							@@\
	$(RM) -rf shared shobj unshared debug lint profiled	@@\
	$(RM) -rf .depend mapfile Makefile			@@\
	$(RM) -rf config.status config.log 			

#endif

#ifndef NamedDistCleanSubdirs
#define NamedDistCleanSubdirs(name,dirs) \
NamedTargetSubdirs(name,dirs,"distcleaning",NullParameter,distclean)
#endif

#ifndef DistCleanSubdirs
#define DistCleanSubdirs(dirs)	\
NamedDistCleanSubdirs(distclean,dirs)
#endif

