[Desktop Entry]
Type=Link
Name=Snow
Name[eo]=Neĝo
Name[hu]=Havazás
Icon=e-module-snow
X-Enlightenment-ModuleType=appearance
Comment=<hilight>Snow Module</hilight><br><br>Module to display snow on the desktop.
Comment[eo]=<hilight>Modulo de neĝo</hilight><br><br>Vidigi neĝon sur la labortablo.
Comment[hu]=<hilight>Havazás modul</hilight><br><br>Havazik a munkaasztalunkon...
Comment[it]=<hilight>Modulo Snow</hilight><br><br>Modulo per visualizzare la neve sul desktop.
