[Desktop Entry]
Type=Link
Name=Snow
Icon=e-module-snow
Comment=<hilight>Snow Module</hilight><br>Module to display snow on the<br>desktop.
Comment[it]=<hilight>Modulo Snow</hilight><br>Modulo per visualizzare la neve<br>sul desktop.
