*.o
*.lo
*.la
.libs
.deps
*.pc
Makefile
Makefile.in
*.so
.*.sw[po]
*.gcov
*.gcno
README
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
tags
cscope.out
config.cache
coverage
ABOUT-NLS
config.cache-env
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
test_elm
test_multiobject
test_rotate
test_spin
test_zoom
test_zoomspin
test_follow
test_move
test_bumpmap
test_path
test_move_circle
test_pan
compile
test_fade
test_fade2
test_queue
test_queue_complex
test_resize
test_presentation
