body.about #e-project                       { width:950px; margin:0 auto; display: block }
body.about #e-project:after                 { content:"\0020"; display:block; height:0; clear:both;visibility:hidden; overflow:hidden; }

body.about #e-project .text                 { float:left; overflow: hidden; width: 550px; margin-right:10px;          }
body.about #e-project .ad                   { float:left; overflow: hidden; width: 390px; margin-right: 0;  }

body.about #desktop-shell                   { float:left; overflow: hidden; width: 470px; margin-right:10px;          }
body.about #foundation-libraries            { float:left; overflow: hidden; width: 470px; margin-right: 0;  }

body.about #project-history                 { width:950px; margin:0 auto; display: block }
body.about #project-history:after           { content:"\0020"; display:block; height:0; clear:both;visibility:hidden; overflow:hidden; }

body.about #project-history .first-column   { float:left; overflow: hidden; width: 470px; margin-right:10px;          }
body.about #project-history .second-column  { float:left; overflow: hidden; width: 470px; margin-right: 0;  }
