
body          { margin-left:0px;
		margin-right:0px;
		margin-top:0px;
		margin-bottom:0px;
		background-color:#667788;
		color:#ffffff;
		font-family:arial,helvetica,lucida;
              }

a:link        { color:#d0e0f0; }
a:visited     { color:#b0c0d0; }
a:active      { color:#f0f0ff; }

td            {
		font-family:helvetica,arial;
		font-size:10pt;
		color:#e0e0ff;
              }

tr.team-dark  { background-color:#6a7a8a;
              } 

table.border  { background-color:#556677; }
table.content { background-color:#7a8a9a;		
		color:#ffffff;
              }

td.content    { background-color:#7a8a9a;		
		color:#ffffff;
              }

td.newstitle  { color:#d0e0f0;
		background-color:#7a8a9a;
                background-image:url(img/e-line.gif);
              }
td.newsbody   { background-color:#7a8a9a;
		color:#ffffff;
              }

td.border-tl  { background-color:#667788;
                background-image:url(img/border_tl.gif);
		max-width:25px;
		max-height:25px;
		min-width:25px;
		min-height:25px;
		width:25px;
		height:25px;
              }

td.border-t   { background-color:#667788;
                background-image:url(img/border_t.gif);
              }

td.border-tr  { background-color:#667788;
                background-image:url(img/border_tr.gif);
		max-width:25px;
		max-height:25px;
		min-width:25px;
		min-height:25px;
		width:25px;
		height:25px;
              }

td.border-r   { background-color:#667788;
                background-image:url(img/border_r.gif);
              }

td.border-br  { background-color:#667788;
                background-image:url(img/border_br.gif);
		max-width:25px;
		max-height:25px;
		min-width:25px;
		min-height:25px;
		width:25px;
		height:25px;
              }

td.border-b   { background-color:#667788;
                background-image:url(img/border_b.gif);
              }

td.border-bl  { background-color:#667788;
                background-image:url(img/border_bl.gif);
		max-width:25px;
		max-height:25px;
		min-width:25px;
		min-height:25px;
		width:25px;
		height:25px;
              }

td.border-l   { background-color:#667788;
                background-image:url(img/border_l.gif);
              }

p             {
		text-align:center;
		font-family:arial,helvetica,lucida;
		font-size:12pt;
		color:#ffffff;
              }

p.items       {
		text-align:right;
		font-family:arial,helvetica,lucida;
		font-size:10pt;
		color:#e0e0ff;
		margin-bottom:5px;	
              }

p.contenttitle  {
		  margin-top:10px;
		  text-align:center;
		  font-family:arial,helvetica,lucida;
		  font-weight:bold;
		  color:#ffffff;
		  font-size:14pt;
		  margin-bottom:0px;
                }

pre             { font-family:courier;
		  font-size:10pt;
		  text-align:left;
		}

ul	     {
		text-align:left;
		font-family:arial,helvetica,lucida;
		font-size:10pt;
		color:#ffffff;
              }