[Desktop Entry]
Type=Link
Name=Calendar
Name[eo]=Kalendaro
Name[hu]=Naptár
Icon=e-module-calendar
Comment=<title>Calendar Gadget</title><br>Calendar sheet showing the current day.
Comment[eo]=<title>Modulo de Kalendaro</title><br>Kalendara folio vidiganta la nunan tagon.
Comment[hu]=<title>Naptár modul</title><br>Naptár, amely az aktuális napot mutatja.
Comment[it]=<title>Modulo Calendar</title><br>Un foglio di calendario che mostra la data attuale.
