Source: imlib2
Section: libs
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Build-Depends: libjpeg62-dev, libttf-dev, libpng3-dev | libpng2-dev | libpng-dev, libtiff4-dev | libtiff-dev, zlib1g-dev, libungif4-dev | libungif3g-dev | giflib3g-dev, x11proto-core-dev | xlibs-dev, x11proto-xext-dev | xlibs-dev, libfreetype6-dev | freetype2-dev, libbz2-dev, libltdl3-dev, automake1.7 | automaken, libtool, debhelper (>= 4.0)
Standards-Version: 3.7.2

Package: imlib2-demo
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}
Description: Imlib2 demo's
 This package contains two small Imlib2-based programs: a simple
 image viewer and a simple image conversion program.

Package: imlib2-test
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}, imlib2-demo (= ${Source-Version})
Description: Imlib2 test programs
 This package contains some, not generally usable, test programs
 for Imlib2.

Package: libimlib2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: imlib2-loaders, imlib2-demo (= ${Source-Version})
Description: Powerful image loading and rendering library
 Imlib2 is an advanced replacement library for libraries like 
 libXpm that provides many more features with much greater 
 flexibility and speed than standard libraries, including font 
 rasterization, rotation, RGBA space rendering and blending, 
 dynamic binary filters, scripting, and more.
 .
 Imlib2 is not a drop-in replacement for Imlib 1.x.
 
Package: libimlib2-dev
Architecture: any
Section: libdevel
Depends: libimlib2 (= ${Source-Version}), libjpeg62-dev, libpng3-dev | libpng2-dev | libpng-dev, libtiff4-dev | libtiff-dev, zlib1g-dev, libttf-dev, libungif4-dev | libungif3g-dev | giflib3g-dev, x11proto-core-dev | xlibs-dev, x11proto-xext-dev | xlibs-dev, libfreetype6-dev | freetype2-dev, libbz2-dev
Description: Imlib2 headers, static libraries and documentation
 Headers, static libraries and documentation for Imlib2.
