Source: efsd
Section: libs
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Build-Depends: debhelper (>= 2.0)
Standards-Version: 3.2.1.0

Package: efsd
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: libecore0 description
 libecore0 extended description
