Source: efsd
Section: libs
Priority: optional
Maintainer: Laurence J. Lane <ljlane@debian.org>
Build-Depends: libxml2-dev, debhelper (>= 3.0)
Standards-Version: 3.2.1.0

Package: efsd
Architecture: any
Section: libs
Depends: fam, ${shlibs:Depends}
Description: efsd description
 efsd extended description
