*~
*swo
*swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
espionnage.desktop
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/Makefile
src/bin/Makefile.in
src/bin/espionnage
src/bin/espionnage_face.o
src/bin/espionnage_main.o
stamp-h1
