.svn
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*.m4
missing
mkinstalldirs
po/Makefile.in.in
po/POTFILES
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/e16.pot
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/remove-potcdate.sed
po/stamp-po
stamp-h1
.deps
.libs
*.o
*.lo
*.la
*.gmo
*~

e16.spec
e16*.tar.gz

docs/*.html
docs/e16.1

misc/e16-gnome.desktop
misc/e16-kde.desktop
misc/e16.desktop
misc/e16.desktop-app
misc/starte16

dox/edox
eesh/eesh
epp/epp
src/e16

build
