[Desktop Entry]
Type=Link
Name=Mail
Name[eo]=Retmesaĝo
Name[hu]=E-mail modul
Icon=e-module-mail
Comment=<title>Mail Gadget</title>Mail notification gadget. Checks POP3, IMAP, maildir, and mbox mailboxes.
Comment[eo]=<title>Modulo de retmesaĝo</title>Vanaĵo por retmesaĝa averto. Inspektas POP3, IMAP, maildir kaj mbox retpoŝtkestojn.
Comment[hu]=<title>E-mail modul</title>E-mail értesítő modul. Kezeli a POP3, IMAP, maildir, és a mbox postafiókokat.
Comment[it]=<title>Modulo Mail</title>Modulo per notificare l'arrivo di posta. Controlla caselle POP3, IMAP, maildir e mbox.
