Source: erss
Section: x11
Priority: optional
Maintainer: Sytse Wielinga <s.b.wielinga@student.utwente.nl>
Build-Depends: libedb-dev, libevas-dev, libecore-dev, libedje-dev, libetox-dev, debhelper (>> 4.0.0), libxml2-dev
Standards-Version: 3.6.1.0

Package: erss
Section: x11
Architecture: any
Depends: ${shlibs:Depends}
Description: erss
 EFL libs based RSS feed reader.
