[Desktop Entry]
Encoding=UTF-8
Name=Alarm
Comment=Alarm Clock
Exec=elementary_alarm
Icon=elementary_alarm
Terminal=false
Type=Application
Categories=Application;Utility;
