[Desktop Entry]
Encoding=UTF-8
Name=Alarm
Name[cs]=Budík
Name[pt]=Alarme
Comment=Alarm Clock
Comment[cs]=Budík
Comment[pt]=Um despertador
Comment[it]=Applicazione per promemoria
Exec=elementary_alarm
Icon=elementary_alarm
Terminal=false
Type=Application
Categories=Application;Utility;
