[Desktop Entry]
Type=Link
Name=Rain
Name[eo]=Pluvo
Name[hu]=Nyári Zápor
Icon=e-module-rain
X-Enlightenment-ModuleType=appearance
Comment=<title>Rain Module</title>Module to display rain on the desktop.
Comment[eo]=<title>Modulo de pluvo</title>Vidigi pluvon sur la labortablo.
Comment[hu]=<title>Nyári zápor modul</title>Nyári záporral áztathatjuk a munkaasztalunkat.
Comment[it]=<title>Modulo Rain</title>Modulo per visualizzare la pioggia sul desktop.
