[Desktop Entry]
Type=Application
Name=Editje
Comment=Editje Edje Editor
Icon=editje
Exec=editje-bin %F
Terminal=false
Categories=Development;
MimeType=text/edje;application/edje;
