[Desktop Entry]
Type=Application
Name=Editje
Comment=Editje Edje Editor
Comment[fr]=Éditeur de fichiers edj
Comment[it]=Editor per i file di Edje
Comment[pt]=Editor de ficheiros Edje
Icon=editje
Exec=editje-bin %F
Terminal=false
Categories=Development;
MimeType=text/edje;application/edje;
