[Desktop Entry]
Name=Eyesight
Name[eo]=Okulovido
Description=Document viewer
Comment=Document viewer
Comment[cs]=Prohlížeè dokumentù
Comment[eo]=Dokumento-rigardilo
Comment[it]=Visualizzatore documenti
Exec=eyesight %F
Terminal=false
Type=Application
Icon=eyesight
Categories=ENLIGHTENMENT;Application;Graphics
Encoding=UTF-8
MimeType=application/pdf;
