[Desktop Entry]
Type=Link
Name=Forecasts
Icon=e-module-forecasts
Comment=<hilight>Forecasts Gadget</hilight><br><br>The forecasts gadget will display the current weather conditions plus a few days forecast.
Comment[it]=<hilight>Modulo Forecasts</hilight><br><br>Il modulo forecasts mostrerà le attuali condizioni del tempo e le previsioni per qualche giorno.
