#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

CFLAGS += -fvisibility=hidden -O3

build/libeina-doc::
	$(MAKE) doc

install/libeina-doc::
	cp -R $(DEB_SRCDIR)/doc/html debian/libeina-doc/usr/share/doc/libeina-doc/

DEB_DH_STRIP_ARGS := --dbg-package=libeina-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath \
                             --enable-static-chained-pool \
                             --disable-magic-debug
