[Desktop Entry]
Type=Application
Name=Enna Explorer
Name[pt]=Explorador Enna
GenericName=File Explorer
GenericName[it]=Esploratore di file
GenericName[pt]=Explorador de ficheiros
GenericName[fr]=Explorateur de fichiers
Comment=EFL File Explorer
Comment[it]=Esploratore di file Enna
Comment[pt]=Explorador de ficheiros Enna
Comment[fr]=Explorateur de fichiers utilisant les EFL.
Icon=enna-explorer
TryExec=enna-explorer
Exec=enna-explorer
Terminal=false
Categories=X-ENLIGHTENMENT;AudioVideo;Player;
StartupWMClass=enna-explorer
