*.o
*.lo
.*.swp
*.la
.libs
.deps
.svn
Makefile
Makefile.in
*.spec
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*
missing
stamp-h1
ylwrap
changes
shotgun
default.edj
