[Desktop Entry]
Type=Link
Name=Taskbar
X-Enlightenment-IconClass=taskbar,gadget
Icon=e-module-taskbar
Comment=<hilight>Taskbar Gadget</hilight><br>Gadget to provide a taskbar.
Comment[it]=<hilight>Modulo Taskbar</hilight><br>Modulo che fornisce una taskbar.
