[Desktop Entry]
Name=Ephoto
Comment=Enlightened Photo Viewer
Comment[fr]=Visionneuse photo pour Enlightenment
Comment[it]=Visualizzatore di foto per Enlightenment
Comment[pt]=Visualizador de fotos para o Enlightenment
Exec=ephoto
Icon=ephoto
Terminal=false
Type=Application
Categories=Application;Graphics;Photos;Images;Viewer;
