Source: entrance
Section: x11
Priority: optional
Maintainer: E17 Debian Team <debian@edevelop.org>
Build-Depends: cdbs, debhelper (>= 6), pkg-config, libtool, libpam0g-dev, efl-dev, libecore-bin, libedje-bin, libesmart0-dev, libxp-dev, libimlib2-dev, libelementary-dev
Standards-Version: 3.8.3

Package: entrance
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, libecore-bin
Description: The enlightened login manager.
 Entrance is a login manager similar to gdm or kdm, it is based on the 
 Enlightenment Foundation Libraries.  It is fully themeable via Edje.
