#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_PYTHON_SYSTEM := pycentral

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

install/python-eupnp-doc::
	./gen-doc-api.sh

clean::
	find eupnp -name '*.c' | xargs rm -rf
	find eupnp -name '*.h' | xargs rm -rf
	rm -rf python_eupnp.egg-info build doc/api/html

