Source: e16keyedit
Section: unknown
Priority: optional
Maintainer: laurence john lane <ljlane@debian.org>
Standards-Version: 3.0.1

Package: e16keyedit
Architecture: any
Depends: ${shlibs:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
