Source: entrance
Section: x11
Priority: optional
Maintainer: Sytse Wielinga <s.b.wielinga@student.utwente.nl>
Build-Depends: libevas-dev, libecore-dev, libedje-dev, libpam0g-dev | libpam-dev, debhelper (>> 4.0.0)
Standards-Version: 3.6.1.0

Package: entrance
Section: x11
Architecture: any
Depends: ${shlibs:Depends}
Description: Entrance is the enlightened login manager.
 Entrance is a login manager similar to gdm or kdm, it is based on the 
 Enlightenment Foundation Libraries.  It is fully themeable via Edje.
